<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @licencia.empleado.nombre.split(" ").first.capitalize %> <%= @licencia.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @licencia.empleado.rut_beautified %>)" class="form-control" readonly>
</div>
<%= f.hidden_field :rut, value:  @licencia.empleado.rut%>

<%= f.input :glosa_tipo_licencia %>

<%= f.input :dias_totales %>

<%= f.input :dias_corridos %>

<%= f.input :dias_habiles %>

<%= f.input :periodo_anualizado %>

<%= f.input :periodo %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
