<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Editar licencia: <%= @licencia.id %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @licencia, url: admin_licencia_path(@licencia), method: :put do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
