<% provide(:upload_modal_type, "licencias") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de licencias</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "licencias" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Información</th>
          <th class="text-center">Tipo</th>
          <th class="text-center">Duracion</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @licencias.each do |licencia| %>
          <tr>
            <td class="text-center"><%= licencia.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path licencia.empleado do %>
                <%= licencia.empleado.nombre.split(" ").first.capitalize %> <%= licencia.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Días Hábiles:</strong> <%= licencia.dias_habiles %><br/>
              <strong>Dias Corridos:</strong> <%= licencia.dias_corridos %><br/>
            </td>
            <td class="text-center"><%= licencia.glosa_tipo_licencia %></td>
            <td class="text-center"><%= licencia.dias_totales %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_licencia_path licencia %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_licencia_path(licencia), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @licencias.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
