<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @posicion.empleado.nombre.split(" ").first.capitalize %> <%= @posicion.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @posicion.empleado.rut_beautified %>)" class="form-control" readonly>
</div>

<%= f.hidden_field :rut, value:  @posicion.empleado.rut%>


<%= f.input :piramide %>
<%= f.input :division %>
<%= f.input :gerencia %>
<%= f.input :tipo_contrato %>
<%= f.input :tipo_renta %>
<%= f.input :cargo %>
<%= f.input :estado_civil %>
<%= f.input :num_hijos %>
<%= f.input :es_plantilla %>
<%= f.input :saldo_vacaciones %>
<%= f.input :periodos_pendientes_vacaciones %>
<%= f.input :periodo %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
