<% provide(:upload_modal_type, "posiciones") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de posiciones</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "posiciones" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Datos</th>
          <th>Posicion</th>
          <th class="text-center">¿Es Plantilla?</th>
          <th class="text-center">Periodo</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @posiciones.each do |posicion| %>
          <tr>
            <td class="text-center"><%= posicion.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path posicion.empleado do %>
                <%= posicion.empleado.nombre.split(" ").first.capitalize %> <%= posicion.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Pirámide:</strong> <%= posicion.piramide %><br/>
              <strong>Tipo Contrato:</strong> <%= posicion.tipo_contrato %><br/>
              <strong>Tipo de Renta:</strong> <%= posicion.tipo_renta %><br/>
              <strong>Cargo:</strong> <%= posicion.cargo %><br/>
              <strong>Estado Civil:</strong> <%= posicion.estado_civil %><br/>
              <strong>Hijos:</strong> <%= posicion.num_hijos %><br/>
              <strong>Saldo Vacaciones:</strong> <%= posicion.saldo_vacaciones %><br/>
              <strong>Periodos Vacaciones:</strong> <%= posicion.periodos_pendientes_vacaciones %><br/>

            </td>
            <td class="small">
              <strong>División:</strong> <%= posicion.division %><br/>
              <strong>Gerencia:</strong> <%= posicion.gerencia %><br/>
            </td>

            <td class="text-center"><%= posicion.es_plantilla %></td>
            <td class="text-center"><%= posicion.periodo %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_posicion_path posicion %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_posicion_path(posicion), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @posiciones.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
