<div class="input-group pull-right">
    <label class="input-group-btn" for="date-fld">
          <input type="text" id="datepicker" value="<%= @periodo_list.to_s %>" class="form-control dp-<%=  locals[:id]%>">
          <span class="btn btn-danger" id="dateButton-<%= locals[:id] %>" style="margin: 5px auto;
      border-radius: 0pc 4px 4px 0px; background: #ec0000; border-color: #ec0000">
          <i class="entypo-calendar"></i>
          </span>
      </label>
</div>


