<div class="dropdown">
    <button class="btn btn-default btn-lg dropdown-toggle" id="btn-dropdown-<%= locals[:id]%>" type="button" data-toggle="dropdown">
    <span id="text-dropdown-<%= locals[:id]%>">
    Seleciona la División ...
    </span>
    
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
    <li class="global">
        <a onclick="changePath('<%= locals[:id] %>','<%= url_encode("global") %>','Global')"> Global </a>
    </li>
    <% @divisiones_list.each_with_index do |division, index|%>
        <li class="<%=index %>">
            <a onclick="changePath('<%= locals[:id] %>' ,'<%= url_encode(division) %>', '<%=division %>')"> <%= division %> </a>
        </li>
    <% end %>
    </ul>
</div>
      