<div class="form-group">
  <label for="empleado">Empleado</label>

  <input name="empleado" type="text" value="<%= @egreso.empleado.nombre.split(" ").first.capitalize %> <%= @egreso.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @egreso.empleado.rut_beautified %>)" class="form-control" readonly>
</div>

<%= f.hidden_field :rut, value:  @egreso.empleado.rut%>


<%= f.input :piramide %>
<%= f.input :division %>
<%= f.input :gerencia %>
<%= f.input :tipo_contrato %>
<%= f.input :tipo_renta %>
<%= f.input :cargo %>
<%= f.input :estado_civil %>
<%= f.input :num_hijos %>
<%= f.input :tipo_egreso %>
<%= f.input :periodo %>
<%= f.input :periodo_anualizado %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
