<% provide(:upload_modal_type, "egresos") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de egresos</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "egresos" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Datos</th>
          <th>Tipo</th>
          <th class="text-center">Periodo</th>
          <th class="text-center">Periodo de Carga</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @egresos.each do |egreso| %>
          <tr>
            <td class="text-center"><%= egreso.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path egreso.empleado do %>
                <%= egreso.empleado.nombre.split(" ").first.capitalize %> <%= egreso.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Pirámide:</strong> <%= egreso.piramide %><br/>
              <strong>División:</strong> <%= egreso.division %><br/>
              <strong>Gerencia:</strong> <%= egreso.gerencia %><br/>
              <strong>Tipo Contrato:</strong> <%= egreso.tipo_contrato %><br/>
              <strong>Tipo de Renta:</strong> <%= egreso.tipo_renta %><br/>
              <strong>Cargo:</strong> <%= egreso.cargo %><br/>
              <strong>Estado Civil:</strong> <%= egreso.estado_civil %><br/>
              <strong>Hijos:</strong> <%= egreso.num_hijos %><br/>
            </td>
            <td class="text-center"><%= egreso.tipo_egreso %></td>

            <td class="text-center"><%= egreso.periodo_anualizado %></td>
            <td class="text-center"><%= egreso.periodo %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_egreso_path egreso %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_egreso_path(egreso), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @egresos.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
