<div class="dropdown">
  <a class="session-help dropdown-toggle" data-toggle="dropdown" role="button">¿Ayuda?</a>
  <ul class="dropdown-menu dropdown-menu-right">
    <%- if controller_name != 'sessions' %>
      <li><%= link_to "Log in", new_session_path(resource_name) %></li>
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <li><%= link_to "Registrarme", new_registration_path(resource_name) %><li/>
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <li><%= link_to "Recuperar contraseña", new_password_path(resource_name) %><li/>
    <% end -%>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <li><%= link_to "Confirmación de correo", new_confirmation_path(resource_name) %><li/>
    <% end -%>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <li><%= link_to "Desbloquear cuenta", new_unlock_path(resource_name) %><li/>
    <% end -%>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <li><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></li>
      <% end -%>
    <% end -%>
  </ul>
</div>
