<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @formacion.empleado.nombre.split(" ").first.capitalize %> <%= @formacion.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @formacion.empleado.rut_beautified %>)" class="form-control" readonly>
</div>
<%= f.hidden_field :rut, value:  @formacion.empleado.rut%>


<%= f.input :materia %>

<%= f.input :nombre_del_curso %>

<%= f.input :fecha_inicio, as: :date %>

<%= f.input :fecha_fin, as: :date %>

<%= f.input :horas %>

<%= f.input :periodo %>

<%= f.input :modalidad %>

<%= f.input :periodo_anualizado %>

<%= f.input :asistencia %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
