<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Editar formación: <%= @formacion.id %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @formacion, url: admin_formacion_path(@formacion), method: :put do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
