<% provide(:upload_modal_type, "formaciones") %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de formaciones</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "formaciones" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Información</th>
          <th class="text-center">Modalidad</th>
          <th class="text-center">Asistencia</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @formaciones.each do |formacion| %>
          <tr>
            <td class="text-center"><%= formacion.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path formacion.empleado do %>
                <%= formacion.empleado.nombre.split(" ").first.capitalize %> <%= formacion.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Materia:</strong> <%= formacion.materia %><br/>
              <strong>Curso:</strong> <%= formacion.nombre_del_curso %><br/>
              <strong>Horas:</strong> <%= formacion.horas %>
            </td>
            <td class="text-center"><%= formacion.modalidad %></td>
            <td class="text-center"><%= formacion.asistencia %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_formacion_path formacion %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_formacion_path(formacion), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @formaciones.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
