<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de formaciones</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @formacion, url: admin_formaciones_path, method: :post do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
