<div class="row controls">
  <div class="col-xs-9">
    <%if controller.controller_name.classify != "Vacante"%>
      <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#upload-modal">
        <%= fa_icon("upload") %> Cargar información
      </button>
    <%else%>
      <%= link_to admin_generate_path(periodo: "#{params[:month]||Date.today.month}-#{params[:year]||Date.today.year}"), class: "btn btn-sm btn-info",method: :post do%>
            <%= fa_icon("upload") %> Generar Estructura
      <%end%>
    <%end%>
    <%= link_to admin_remove_path(controller.controller_name.classify, periodo: "#{params[:month]||Date.today.month}-#{params[:year]||Date.today.year}"), class: "btn btn-sm btn-danger",method: :post do%>
          <%= fa_icon("trash-o") %> Eliminar información
    <%end%>

  </div>
  <div class="col-xs-3 text-right">
    <%= render "shared/backend/search" %>
  </div>
</div>
