<div>
  <strong>Filtrar por período:</strong>&nbsp;&nbsp; <%= date_select(:periodo, :fecha, {discard_day: true, order: [:month, :year], default: Date.parse("#{params[:year]||Date.today.year}-#{params[:month]||Date.today.month}-01")}, {data: {resource: resource}}) %>
</div>
