<% flash.each do |k,v| %>
  <div class="alert alert-<%= flash_demux(k) %>">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

    <%= v.html_safe %>
  </div>
<% end %>
