<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <%= image_tag "logo-small.png" %>
      </a>
    </div>

    <p class="navbar-text">
      <strong>Apps Personas</strong>
    </p>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><%= current_user.nombre_completo %> <%= image_tag "anon.jpg", height: "20", class: "img-circle", id: "profile-img" %></a></li>
    </ul>
  </div>
</nav>
