<%= simple_form_for "search", method: :get, url: request.original_url, html: {id: "search_form"} do |f| %>
  <% if params[:month].present? %>
    <%= f.input "month", as: :hidden, input_html: {name: "month", value: params[:month]} %>
  <% end %>
  <% if params[:year].present? %>
    <%= f.input "year", as: :hidden, input_html: {name: "year", value: params[:year]} %>
  <% end %>
  <div class="input-group">
    <%= f.input "query", label: false, wrapper: false, required: false, input_html: {name: "query", class: "input-sm", placeholder: "Buscar...", value: params[:query]} %>
    <span class="input-group-btn">
      <button class="btn btn-sm btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Vaciar consulta" type="button" id="clear_search">
        <%= fa_icon("times") %>
      </button>
      <button class="btn btn-sm btn-default" type="submit">
        <%= fa_icon("search") %>
      </button>
    </span>
  </div><!-- /input-group -->
<% end %>
