<div class="sidebar-user">
  <%= image_tag "anon.jpg", width: "100", class: "img-circle" %>
  <h4><%= current_user.nombre_completo %></h4>
  <span class="sidebar-role">Administrador</span>

  <%= link_to root_path, class: "btn btn-danger btn-sm" do %>
    <%= fa_icon("bar-chart") %> Ir al Dashboard
  <% end %>
</div>
