
<div class="sidebar-top-wrapper">
  <div class="sidebar-top">
    <%= render "shared/backend/sidebar_user" %>

    <div class="banner-image"></div>
  </div>
</div>

<div class="sidebar">
  <%= render "shared/backend/sidebar_menu" %>
</div>
