<ul class="sidebar-menu">
  <%= content_tag :li, class: @sidebar_menu_item == :empleados ? "active" : nil do %>
    <%= link_to admin_empleados_path do %>
      <%= fa_icon("user-circle-o") %>
      Empleados
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :posiciones ? "active" : nil do %>
    <%= link_to admin_posiciones_path do %>
      <%= fa_icon("sitemap") %>
      Posiciones
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :egresos ? "active" : nil do %>
    <%= link_to admin_egresos_path do %>
      <%= fa_icon("chevron-right") %>
      Egresos
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :formaciones ? "active" : nil do %>
    <%= link_to admin_formaciones_path do %>
      <%= fa_icon("mortar-board") %>
      Formación
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :movimientos ? "active" : nil do %>
    <%= link_to admin_movimientos_path do %>
      <%= fa_icon("repeat") %>
      Movimientos
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :retribuciones ? "active" : nil do %>
    <%= link_to admin_retribuciones_path do %>
      <%= fa_icon("money") %>
      Ajustes de renta
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :licencias ? "active" : nil do %>
    <%= link_to admin_licencias_path do %>
      <%= fa_icon("heart-o") %>
      Licencias
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :vacaciones ? "active" : nil do %>
    <%= link_to admin_vacaciones_path do %>
      <%= fa_icon("plane") %>
      Vacaciones
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :vacantes ? "active" : nil do %>
    <%= link_to admin_vacantes_path do %>
      <%= fa_icon("building") %>
      Estructura
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :usuarios ? "active" : nil do %>
    <%= link_to admin_users_path do %>
      <%= fa_icon("users") %>
      Usuarios
    <% end %>
  <% end %>
  <%= content_tag :li, class: @sidebar_menu_item == :user_logs ? "active" : nil do %>
    <%= link_to admin_user_logs_path do %>
      <%= fa_icon("book") %>
      Log de Usuarios
    <% end %>
  <% end %>
  <%= content_tag :li do %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= fa_icon("sign-out") %>
      Cerrar sesión
    <% end %>
  <% end %>
</ul>
