<div class="modal fade" tabindex="-1" role="dialog" id="upload-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Cargar archivo</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Ayuda sobre el formato del fichero de subida</h4>
                        <div class="alert alert-info">Siga las siguientes instrucciones para cargar el archivo correctamente.</div>
                        <h5>Paso 1: guarde el archivo</h5>
                        <ul>
                            <li>En Excel, guarde el archivo desde el menú: <code>Archivo -> Guardar como -> Texto delimitado por tabulaciones (.txt).</code></li>
                        </ul>

                        <h5>Paso 2: conviértalo a una codificación válida</h5>
                        <ul>
                            <li>En sistemas <strong>OS X o Linux</strong>, convierta el archivo usando el terminal y el comando:
                                <p>
                                    <kbd>iconv -f iso-8859-1 -t utf-8 archivo-original.csv > archivo-utf8.csv</kbd>
                                </p>
                            </li>
                            <li>En <strong>Windows</strong> utilice un programa <code>Notepad++</code> o similar. Abra el fichero con este programa y utilizar la opción de menú <code>Codificación -> Convertir a UTF-8</code>. Una vez hecho, guarde el fichero.</li>
                        </ul>

                        <h5>Paso 3: verifique las columnas</h5>
                        <ul>
                            <% if (model_type == "egresos")%>
                                <li>
                                    Comprueba que el archivo TSV tiene las siguientes columnas: <code>Rut</code>, <code>Tipo</code>, <code>periodo</code>, <code>Piramide</code>, <code>Contrato</code>, <code>División_UR</code>, <code>Gerencia_UR</code>,<code> Empresa</code>,
                                    <code>considero España(rellenado a "n" o en blanco)</code>, <code>Tipo Renta</code>, <code>Cargo</code>, <code>Num Hijos</code>, <code>Estado Civil</code>.<br>
                                    <strong>Debe coincidir exactamente</strong>, o en caso contrario la importación puede arrojar errores.
                                </li>
                                <% elsif (model_type == "empleados")%>
                                    <li>
                                        Comprueba que el archivo TSV tiene las siguientes columnas: <code>rut</code>, <code>Sexo</code>, <code>Nacimiento (con el formato 31/12/99)</code>, <code>Inicio (con el formato 31/12/99)</code>, <code>Termino (con el formato 31/12/99)</code>,
                                        <code>Nombres</code>, <code>Apellidos</code>.<br>
                                        <strong>Debe coincidir exactamente</strong>
                                    </li>
                                    <% elsif (model_type == "formaciones")%>
                                        <li>Compruebe que el archivo TSV tiene las siguientes columnas: <code>rut_fncro</code>, <code>materia</code>, <code>nom_curso</code>, <code>Modalidad</code>, <code>periodo(Formato 201506)</code>, <code>HORAS</code>,<code>asistencia(sólo se contarán aquellos con valor "Presente")</code>.
                                            <strong>Debe coincidir exactamente</strong>, o en caso contrario la importación puede arrojar errores.</li>
                                        <% elsif (model_type == "movimientos")%>
                                            <li>
                                                Comprueba que el archivo TSV tiene las siguientes columnas: <code>pos_rut</code>, <code>tipo_cambio_posicion</code>, <code>pos_periodo(Formato 201506)</code>.<br>
                                                <strong>Debe coincidir exactamente</strong>
                                            </li>

                                            <% elsif (model_type == "posiciones")%>
                                                <li>
                                                    Comprueba que el archivo TSV tiene las siguientes columnas: <code>rut</code>, <code>Piramide</code>, <code>Contrato</code>, <code>División_UR</code>, <code>Gerencia_UR</code>, <code>Empresa</code>, <code>considero España(rellenado a "n" o en blanco)</code>,
                                                    <code>Tipo Renta</code>, <code>Cargo</code>, <code>Num Hijos</code>, <code>Estado Civil</code>, <code>saldo vacaciones </code>, <code>periodos pendientes vacaciones</code>.<br>
                                                    <strong>Debe coincidir exactamente</strong>
                                                </li>
                                                <% elsif (model_type == "retribuciones")%>
                                                    <li>
                                                        Comprueba que el archivo TSV tiene las siguientes columnas: <code>Sim Rutfun</code>, <code>Tipo Mov</code>, <code>Resto Año (valor sin comas ni puntos)</code>,<code>porcentaje (valor como 0.25)</code>,
                                                        <code>12 Meses(valor sin comas ni puntos)</code>, <code>período (formato 201512)</code>.<br>
                                                        <strong>Debe coincidir exactamente</strong>
                                                    </li>
                                                    <% elsif (model_type == "licencias")%>
                                                        <li>
                                                            Comprueba que el archivo TSV tiene las siguientes columnas: <code>rut</code>, <code>dias_totales</code>, <code>dias_corridos_periodo</code>, <code>dias_habiles_periodo</code>, <code>glosa_tipo_licencia</code>,
                                                            <code>periodo (formato 201512)</code>.<br>
                                                            <strong>Debe coincidir exactamente</strong>
                                                        </li>
                                                        <% elsif (model_type == "vacaciones")%>
                                                            <li>
                                                                Comprueba que el archivo TSV tiene las siguientes columnas: <code>rut</code>, <code>consumo</code>, <code>10_dias (SI o NO)</code>.<br>
                                                                <strong>Debe coincidir exactamente</strong>
                                                            </li>
                                                            <%end%>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <h4>Cargar archivo</h4>

                        <div class="alert alert-danger" id="upload_file_invalid" style="display: none;">El archivo cargado no es válido. Recuerde que este debe ser un archivo CSV.</div>

                        <%= simple_form_for "upload", method: :post, url: admin_upload_path(model_type) do |f| %>
                            <%= f.input :file, as: :file, label: "Click aquí para seleccionar un archivo", input_html: {style: "display: none;"}, required: false %>
                                <% if (model_type == "empleados")%>
                                    <style>
                                        .upload_periodo {
                                            display: none;
                                        }
                                    </style>
                                    <%end%>
                                        <%= f.input :periodo, as: :date, required: false, order: [:month, :year], start_year: 2015 %>

                                            <%= f.button :submit, "Cargar archivo", class: "btn btn-lg btn-block btn-success", disabled: true, id: "upload_submit" %>
                                                <% end %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>