

<%= f.input :division %>
<%= f.input :gerencia %>
<%= f.input :tipo_area %>
<%= f.input :activo %>
<%= f.input :periodo %>


<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
