$("#<%= j params[:vacante][:division].parameterize %>").html("<%= j params[:vacante][:division_order] %>");
var order = $("#order");

$('th').click(reorder(order));

function reorder(order){
    var table = $(order).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(order).index()))
    order.asc = !order.asc
    if (!order.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
};
function comparer(index) {
    return function(a, b) {

        var valA = getCellValue(a, index) || 1000, valB = getCellValue(b, index) || 1000

        return valA - valB
    }
};
function getCellValue(row, index){ return $(row).children('td').eq(index).html() };
