<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de Vacantes</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @vacante, url: admin_vacante_path(@vacante), method: :put do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
