<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de vacantes</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>




    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "vacantes" %>
        </div>
        <div class="col-md-6">

          <%= link_to admin_ordenar_divisiones_path, class: "btn btn-info btn-sm pull-right" do %>
            Ordenar Divisiones
          <% end %>
        </div>
      </div>
    </div>


    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Division</th>
          <th>Gerencia</th>
          <th class="text-center">Tipo de Area</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Periodo</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @vacantes.each do |vacante| %>
          <tr>
            <td class="text-center"><%= vacante.id %></td>
            <td class="text-center">
              <%= vacante.division %>
            </td>
            <td class="text-center">
              <%= vacante.gerencia %>
            </td>
            <td class="text-center">
              <%= vacante.tipo_area %>
            </td>
            <td class="text-center">
              <%= vacante.activo %>
            </td>
            <td class="text-center">
              <%= vacante.periodo %>
            </td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_vacante_path vacante %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_vacante_path(vacante), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
