<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de Orden de Divisiones</h4>
  </div>
  <div class="panel-body">
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Volver", admin_vacantes_path, class: "btn btn-sm, btn-danger pull-right"%>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th id="order" class="text-center">#</th>
          <th class="text-center">Division</th>
          <th class="text-center" style="width:300px;"><i class="fa fa-cogs"></i></th>
        </tr>
      </thead>
      <tbody>
        <% Vacante.order(:division_order).map{|d| [d.division, d.division_order] unless d.division.nil?}.compact.uniq.each do |division|%>
        <tr>
          <td id="<%=division[0].parameterize%>" class="text-center"><%= division[1]%></td>
          <td ><%= division[0]%> </td>
          <td>
            <%= simple_form_for Vacante.new, url: admin_crear_orden_divisiones_path, method: :post, remote: true do |f| %>
              <%= f.hidden_field :division, value:  division[0]%>

              <%= f.input :division_order, label: false, style: "float: left;overflow: hidden;"%>
              <%= f.submit "Enviar", class: "btn btn-info", style: "float: left;overflow: hidden;" %>
            <% end %>

          </td>
        </tr>

        <%end%>
      </tbody>
    </table>
  </div>
</div>




