<%@user = locals[:user]%>
<div class="modal fade" id="modal-role-<%=@user.id%>" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for :role, :as => "role", :url => update_role_path(), :html => {:method => :post, class: ""} do |f| %>

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Modificar Rol de Usuario</h4>
			</div>
			
			<div class="modal-body">
				<% User.roles.keys.to_a.each do |role|%>
			    <br><%= radio_button_tag :role, role, @user.role == role , class: ""%>
			    <%= label_tag "role_#{role}", role.humanize, class: "" %>
				<%end%>
				<%= hidden_field_tag "user_id", @user.id%>

			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit "Cambiar", class: "btn btn-info" %>
			</div>
			<% end %>

		</div>
	</div>
</div>