<h2> Edit information</h2>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-body">
      <%= form_for(@user, :html => { :method => :put, :role => 'form', class: "form-horizontal form-groups-bordered"}) do |f| %>

        <% if @user.errors.any? %>
          <%= render "/shared/form_error" %>
        <% end %>
        <div class="form-group">
          <%= f.label :name, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :name, class: 'form-control', placeholder: "Name", html: {id: "name", autocomplete: "off"}%>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.text_field :email, class: 'form-control', placeholder: "E-mail", html: {id: "email", "data-mask": "email", autocomplete: "off"}%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :user_image, class: "col-sm-3 control-label" %>
          <div class="col-sm-5">
            <%= f.file_field :user_image, class: 'form-control'%>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-sm-offset-3 col-sm-5">
            <%= f.submit 'Update', :class => 'btn btn-default' %>
          </div>
        </div>
      <%end%>
      </div>
    </div>
  </div>
</div>


