<div class="modal fade" id="modal" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for :user, :as => "user", :url => invitation_path("user"), :html => {:method => :post} do |f| %>

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Invite User</h4>
			</div>

			<div class="modal-body">
				<div class="form-group ">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="entypo-user" style="color: #333"></i>
						</div>
						<%= f.text_field :name, class: 'form-control', placeholder: "Name"%>

					</div>
				</div>

				<div class="form-group ">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="entypo-mail" style="color: #333"></i>
						</div>
						<%= f.text_field :email, class: 'form-control', placeholder: "Email"%>

					</div>
				</div>


			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-info" %>
			</div>
			<% end %>

		</div>
	</div>
</div>





<div class="general-actions col-sm-12">
  <h3 class="pull-left">Usuarios</h3>

	<a href="javascript:;" onclick="$('#modal').modal('show');" class="btn btn-default pull-right">Crear Usuario</a>
</div>
	<table class="table table-bordered table-striped datatable dataTable" id="table-2" aria-describedby="table-2_info">
		<thead>
			<tr role="row">
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="ID" style="width: 60px;">#</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Name" style="width: 105px;">Nombre</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Email" style="width: 105px;">Email</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Role" style="width: 108px;">Rol</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Status" style="width: 108px;">Estado</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="table-2" rowspan="1" colspan="1" aria-label="Actions" style="width: 282px;">Acciones</th>
			</tr>
		</thead>


		<tbody role="alert" aria-live="polite" aria-relevant="all">
			<%@users.each_with_index do |user, index|%>
			<% if index%2 == 0 %>
				<tr class="odd">
			<%else%>
				<tr class="even">
			<%end%>
					<td class=" "><%= user.id %></td>
					<td class=" "><%= link_to user.name, user_path(user) %></td>
					<td class=" "><%= user.email %></td>
					<td class=" ">
						<%= user.role %>
						<% if current_user.has_role?("admin") %>
							<a href="javascript:;" onclick="$('#modal-role-<%=user.id%>').modal('show');" >
								<i class="entypo-pencil"></i>
							</a>
							<%= render "roles_modal", locals: {user: user}%>
						<%end%>
					</td>
					<td class=" "><%= user.html_status.html_safe %></td>

					<td class=" ">
						<%if user.invalid != "1"%>
							<a href="<%= edit_user_path(user)%>" class="btn btn-default btn-sm btn-icon icon-left">
								<i class="entypo-pencil"></i>
								 Editar
							</a>
							<%= link_to user_path(user), :confirm => 'Are you sure?', :method => :delete,class: "btn btn-danger btn-sm btn-icon icon-left" do%>
								<i class="entypo-block"></i>
							 	Bloquear
							<%end%>

							<a href="<%= user_path(user)%>" class="btn btn-info btn-sm btn-icon icon-left">
								<i class="entypo-info"></i>
								 Info
							</a>
							<% if user.status=="inactive" %>
								<%= link_to user_resend_invite_path(user), class: "btn btn-success btn-sm btn-icon icon-left" do %>
								<i class="entypo-mail"></i>
							 	Reinvitar
								<%end%>
							<%end%>
						<%else%>
							<%= link_to user_path(user), :method => :delete,class: "btn btn-success btn-sm btn-icon icon-left" do%>
								<i class="entypo-check"></i>
								 Activar
							<%end%>
						<%end%>
					</td>
				</tr>
			<%end%>

		</tbody>
	</table>

<script>
$(document).ready(function() {
    var table = $('#table-2').DataTable( {
    "pagingType": "simple",
	"language": {
	    "sProcessing":     "Procesando...",
	    "sLengthMenu":     "Mostrar _MENU_ registros",
	    "sZeroRecords":    "No se encontraron resultados",
	    "sEmptyTable":     "Ningún dato disponible en esta tabla",
	    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
	    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
	    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
	    "sInfoPostFix":    "",
	    "sSearch":         "Buscar:",
	    "sUrl":            "",
	    "sInfoThousands":  ",",
	    "sLoadingRecords": "Cargando...",
	    "oPaginate": {
	        "sFirst":    "Primero",
	        "sLast":     "Último",
	        "sNext":     "Siguiente",
	        "sPrevious": "Anterior"
	    },
	    "oAria": {
	        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
	        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
	    }
	}
	});
	$.each($(".dataTables_paginate")[0].children, function(index,value){
		$(value).addClass("btn");
	});
} );
</script>
