<div class="profile-env">
	
	<header class="row">
		
		<div class="col-sm-2">

			
			<a href="<%= user_path(@user)%>" class="profile-picture">
				<%if !@user.user_image.nil? and !@user.user_image.url.nil? %>
            		<%=image_tag @user.user_image.url, alt: "", class: "img-circle", width: "115"%>
          		<% else %>
            		<%=image_tag "default-user-image.png", alt: "", class: "img-circle", width: "115"%>
          		<%end%>
			</a>
			
		</div>
		
		<div class="col-sm-7">
			
			<ul class="profile-info-sections">
				<li>
					<div class="profile-name">
						<strong>
							<a href="<%= user_path(@user)%>"><%= @user.name%></a>
							<%if @user.status == "active" %>
								<a href="<%= user_path(@user)%>" class="user-status is-online tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Activo"></a>
							<%else%>
								<a href="<%= user_path(@user)%>" class="user-status is-offline tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Inactivo"></a>
							<%end%>
							<!-- User statuses available classes "is-online", "is-offline", "is-idle", "is-busy" -->						
						</strong>
						<span><a href="#">Company</a></span>
					</div>
				</li>
				

			</ul>
			
		</div>
		
		<div class="col-sm-3">
			
			<div class="profile-buttons">

				
				<a href="mailto://<%= @user.email%>" class="btn btn-default">
					<i class="entypo-mail"></i>
					Email
				</a>
			</div>
		</div>
		
	</header>
	
	<section class="profile-info-tabs">
		
		<div class="row">
			
			<div class="col-sm-offset-2 col-sm-10">
				
				<ul class="user-details">
					<li>
						<a href="#">
							<i class="entypo-location"></i>
							<%= @user.last_sign_in_ip%>
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="entypo-suitcase"></i>
							<%= @user.role.humanize%>
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="entypo-calendar"></i>
							<%= @user.created_at.strftime("%d/%m/%Y")%>
						</a>
					</li>
				</ul>
				
			</div>
			
		</div>
		
	</section>
	
	
</div>