<% provide(:upload_modal_type, "vacaciones") %>

<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @vacacion.empleado.nombre.split(" ").first.capitalize %> <%= @vacacion.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @vacacion.empleado.rut %>)" class="form-control" readonly>
</div>

<%= f.hidden_field :rut, value:  @vacacion.empleado.rut%>


<%= f.input :consumidos %>
<%= f.input :dias_10 %>
<%= f.input :periodo %>
<%= f.input :periodo_anualizado %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
