<% provide(:upload_modal_type, "vacaciones") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de vacaciones</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "vacaciones" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Datos</th>
          <th class="text-center">Periodo de Carga</th>
          <th class="text-center">Periodo</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @vacaciones.each do |vacacion| %>
          <tr>
            <td class="text-center"><%= vacacion.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path vacacion.empleado do %>
                <%= vacacion.empleado.nombre.split(" ").first.capitalize %> <%= vacacion.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Consumido:</strong> <%= vacacion.consumidos %><br/>
              <strong>10 días:</strong> <%= vacacion.dias_10 %><br/>

            </td>
            <td class="text-center"><%= vacacion.periodo_anualizado %></td>
            <td class="text-center"><%= vacacion.periodo %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_vacacion_path vacacion %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_vacacion_path(vacacion), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @vacaciones.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
