<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de Vacaciones</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @vacacion, url: admin_vacaciones_path, method: :post do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
