

<a href="javascript:;" class="btn btn-sm btn-danger" id="tabla">Tabla de funcionarios</a>
<div class="container-fluid">
  <div class="modal custom-width" id="modal-tabla" data-target="body" aria-hidden="true"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 96%">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"> <span>Listado de Funcionarios </span></h4>
        </div>
        <div class="modal-body">
          <table class="table table-bordered datatable chart" id="table-empleados">
            <thead>
              <tr>
                <th data-hide="phone">RUT</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th data-hide="phone">Pirámide</th>
                <th data-hide="phone,tablet">División</th>
                <th>Gerencia</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>

  </div>
  <div class="row selectors-row" style="">
    <div class="col-xs-12 selectors" style="">
      <div class="row">
        <div class="col-xs-7 title truncate" >
          <h1 class="truncate"><%= @current_division.upcase%></h1>
        </div>
        <div class="col-xs-5" >
          <div class="col-xs-12 pull-right">
            <div style="margin-left: 12px" class="header-selector sel">
              <a href="javascript:;" class="btn btn-default" id="download-data" disabled>Descargar</a>
            </div>
            <div style="" class="header-selector sel">
              <!-- %= select_tag "month", options_for_select(@periodos, @currentPeriod)% -->
              <div class="input-group">
                <label class="input-group-btn" for="date-fld">
                  <input type="text" id="datepicker" value="<%= @current_period.to_s %>" class="form-control">
                  <span class="btn btn-default" id="dateButton">
                    <i class="entypo-calendar"></i>
                  </span>
                </label>
              </div>
            </div>
            <div class="sel" style="">MES: &nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="no-data" style="display:none">
    <div class="row" style="min-height:300px; background: white;">
      <div class="col-xs-12 col-md-12" >
        <h3>No hay datos almacenados para este mes sobre dotación para <em style="text-decoration: underline">  <%= @current_division%> </em>. <br></h3>
        <h5 style="margin-top: 60px;">Estos son los últimos periodos con datos cargados para <em><%= @current_division%></em> :</h5>
          <hr>

        <div class="row" style="text-align: center;">
          <%ViewDotacion.pluck(:periodo).uniq.sort_by { |periodo| periodo[3..7]+periodo[0..1] }.reverse.first(4).each do |periodo|%>
            <div class="col-xs-3" style="margin-top: 0px;">
              <p><b>Dotación <%= periodo%></b></p>
              <%= link_to dotaciones_path+"?division="+@current_division+"&periodo="+periodo, class: "btn btn-info" do%>
                Ver datos
              <%end%>
            </div>
          <%end%>
        </div>
          <hr>

        <div class="component-spinner s-200" style="display:none;">
          <span class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="chart-data" style="display:block;">
    <div class="row group-box">
      <div class="col-md-12 info-box" style="padding-bottom: 10px;">
        <div class="title-box">
          <span  class="title-global"> <%=image_tag "icono_dota.png", height: 24%> Dotación <span id="titleDate">Febrero 2016</span>
          </span>
          <span class="pull-right hidden-xs">
            <%= render "/shared/manager_links"%>
          </span>
        </div>
        <div class="content-box">
          <div class="row">
            <div class="col-xs-12 col-md-12 screen-buttons" style="margin-top: 20px;">
              <a href="#clear" class="clean" style="text-decoration: underline;"> Limpiar filtros </a>
              <div class="title-actions-right pull-right">
                <a id="more-filters" href="javascript:void(0)"><span>Expandir</span><span class="entypo-plus"/></a>
                <a id="less-filters" href="javascript:void(0)"><span>Contraer</span><span class="entypo-minus"/></a>
              </div>
            </div>
            <hr>
          </div>
          <div class="row extra-filters chart-container" style="display:none;">
            <div class="col-xs-12 col-md-4 chart-container" style="height:210px;">
              <h4>
                ANTIGÜEDAD
                <a href="javascript:void(0)" class="cleanIngreso" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="bar-ingreso">
                <div class="component-spinner s-190">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>

            </div>

            <div class="col-xs-12 col-md-4 chart-container" style="height:210px;">
              <h4>
                ESTADO CIVIL
                <a href="javascript:void(0)" class="cleanCivil" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="bar-civiles"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>

            <div class="col-xs-12 col-md-4 chart-container" style="height:210px;">
              <h4>
                NUM  HIJOS
                <a href="javascript:void(0)" class="cleanHijos" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="pie-hijos"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-5">
              <div class="kpi-container">
                <div class="kpi-box" style="margin-top: 40px;">
                  <div class="kpi-title" style="">
                    <h4>TOTAL DOTACIÓN</h4>
                  </div>
                  <div class="kpi-content">
                    <h2 class=""><span id="count-value"></span><span class="units"><span class="units-block up-block">Funcionarios</span><span class="units-block down-block employeeDate" id="employeeDate">FEB 2016</span></span></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-7 chart-container" style="height:280px;margin-top:30px;">
              <h4>
                ESTAMENTO
                <a href="javascript:void(0)" class="cleanPiramide" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="pie-piramide"></div>
              <div class="component-spinner s-350">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 chart-container division-section" style="height:250px; margin-top:40px;">
              <h4>
                DOTACIÓN POR DIVISIÓN
                <a href="javascript:void(0)" class="cleanDivision" style="display: none;"><i class='entypo-cancel-circled'></i></a>
                <div class="btn-group pull-right" role="group" aria-label="showGerencias">
                  <button type="button" class="btn btn-default btn-lg"><%= fa_icon("th") %></button>
                  <button type="button" class="btn btn-default active btn-lg"><%= fa_icon("th-large") %></button>
                </div>

              </h4>
              <div class="chart" id="bar-division"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-12 chart-container gerencia-section" style="display:none; height:780px; margin-top:40px;">
              <h4>
                DOTACIÓN POR GERENCIA
                <a href="javascript:void(0)" class="cleanGerencia" style="display: none;"><i class='entypo-cancel-circled'></i></a>
                <div class="btn-group pull-right" role="group" aria-label="showGerencias">
                  <button type="button" class="btn btn-default active btn-lg"><%= fa_icon("th") %></button>
                  <button type="button" class="btn btn-default  btn-lg"><%= fa_icon("th-large") %></button>
                </div>
              </h4>
              <div class="chart" id="bar-gerencia"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px; margin-top:30px;">
              <h4>
                NEGOCIO
                <a href="javascript:void(0)" class="cleanTipoDivisiones" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="pie-tipo-divisiones"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px; margin-top:30px;">
              <h4>
                TRAMO DE EDAD
                <a href="javascript:void(0)" class="cleanEdades" style="display: none;"><i class='entypo-cancel-circled'></i></a>
              </h4>
              <div class="chart" id="bar-edades"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px; margin-top:30px;">
              <h4>
                GÉNERO
                <a href="javascript:void(0)" class="cleanGenero" style="display: none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-genero"></div>
              <div class="component-spinner s-190">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row group-box">
      <div class="col-xs-12 col-md-12 info-box">
        <div class="title-box">
          <span>Evolución </span>
        </div>
        <div class="content-box">

          <div class="col-md-12 chart-container" >
            <div class="chart" id="barchart-plantilla-bianual"></div>
            <div class="component-spinner s-130">
              <span class="fa fa-spin fa-spinner"></span>
            </div>
            <div class="legend">
              <div class="legend-item">
                <div class="box" style="background:#FFCC03; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes actual
              </div>
              <div class="legend-item">
                <div class="box" style="background:#83959F; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes con datos
              </div>
              <div class="legend-item">
                <div class="box" style="background:rgb(0, 190, 252); width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes año anterior
              </div>
              <div class="legend-item">
                <div class="box" style="background:rgba(128, 128, 128, 0.2); width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes sin datos
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Content -->
</div>



  <script>

   $("#datepicker").datepicker({
    startDate: "01-2016",
    endDate:  "0d",
    format: "mm-yyyy",
    startView: 1,
    minViewMode: 1,
    language: "es",
    autoclose:true
    });

   var tabla = null;
   var subGroups = [];


   var currentMonth = "<%= @current_month %>";
   var currentMonth2 = "<%= @current_month2 %>";
   var months = <%= raw @months %>;
   var months2 = <%= raw @months2 %>;
   var ordered_estamentos = ["Gerentes", "Subgerentes", "Jefaturas", "Profesionales", "Administrativos"];
   // var ordered_estamentos = ["ADMINISTRATIVOS", "PROFESIONALES Y TÉCNICOS", "JEFATURAS Y PROFESIONALES SR.", "GERENTES" ];

   var current_year;
   var chartTipodivisiones;
   var chartEdades;
   var chartPiramide;
   var chartCiviles;
   var chartPlantilla;
   var chartGenero;
   var chartIngreso;
   var chartGerencia;
   var chartHijos;
   var currentPeriod;
   var currentDivision = "<%= @current_division%>";
   $( document ).ready(function() {
    currentPeriod = "<%= @current_period.to_s %>";
    current_year = currentPeriod.slice(3, currentPeriod.length);
    $('#titleDate').html( currentMonth2 + " " + current_year );
    $('.employeeDate').html( currentMonth + " " + current_year );
    $('#dateButton').click( function() {
      $('#datepicker').datepicker("show");
    })
    loadData(currentPeriod, currentDivision);

    $("#less-filters").on("click", function() {
     $('.extra-filters').toggle();
     $('#less-filters').toggle();
     $('#more-filters').toggle();
   });

    $("#more-filters").on("click",
      function() {
       $('.extra-filters').toggle();
       $('#less-filters').toggle();
       $('#more-filters').toggle();
        resizeCharts();
      }
      );

    $("#datepicker").on("changeDate", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      currentPeriod = $("#datepicker").val();
      currentMonth = months[($("#datepicker").val().substring(0,2)-1)];
      currentMonth2 = months2[($("#datepicker").val().substring(0,2)-1)];
      current_year = currentPeriod.slice(3, currentPeriod.length);
      $('#titleDate').html( currentMonth2 + " " + current_year );
      $('.employeeDate').html( currentMonth + " " + current_year );
      loadData(currentPeriod, currentDivision);
      setGetParameter("periodo", currentPeriod);
      _($("#main-menu a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
      _($(".quick-links a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
    });

    $("#dotaciones").on("change", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      currentDivision = encodeURIComponent($("#dotaciones").val());
      loadData(currentPeriod, currentDivision);
    });
  });

   function loadData(period, division){
    d3.json("<%= api_v1_estructura_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
      if (error){
        return console.warn(error);
      }else{
        subGroups = data.data;
        d3.json("<%= api_v1_dotaciones_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
          if (error){
            return console.warn(error);
          }
          else{
            if(data.length == 0){
              $("#chart-data").hide();
              $("#no-data").show();
              $(".component-spinner").hide();
              $("#download-data").prop("disabled", true);
              // alert("No hay datos disponibles para el periodos seleccionado.")
            }else{
              $("#chart-data").show();
              $("#no-data").hide();
              $("#download-data").removeAttr('disabled');
              var i = 0;
              pData = [];
              data.forEach(function(d){
                d.count = i;
                if (d.num_hijos == null) d.num_hijos = "0 hijos";
                else d.num_hijos = d.num_hijos + " hijos"
                pData.push(d);
                i++;
              });


              dotaciones = crossfilter(pData);

              eachDimension = dotaciones.dimension(function(d) {
                return d.count;
              });

              rutDimension = dotaciones.dimension(function(d) {
                return d.rut;
              });

              divisionDimension = dotaciones.dimension(function(d) {
                return d.division;
              });
              gerenciaDimension = dotaciones.dimension(function(d) {
                return d.gerencia;
              });

              piramideDimension = dotaciones.dimension(function(d) {
                if (d.piramide == "Gerentes"){
                  return "     "+d.piramide;
                }
                else if (d.piramide == "Subgerentes"){
                  return "    "+d.piramide;
                }
                else if (d.piramide == "Jefaturas"){
                  return "   "+d.piramide;
                }
                else if (d.piramide == "Profesionales"){
                  return "  "+d.piramide;
                }
                else if (d.piramide == "Administrativos"){
                  return " "+d.piramide;
                }else{
                  return d.piramide;

                }
            });

            generoDimension = dotaciones.dimension(function(d) {
              return d.sexo;
            });

            areaDimension = dotaciones.dimension(function(d) {
              if (d.tipo_area == null) return "ND";
              else {return d.tipo_area;}
            });


            civilDimension = dotaciones.dimension(function(d) {
              return d.estado_civil;
            });

            hijosDimension = dotaciones.dimension(function(d) {
              return d.num_hijos;
            });

            edadDimension = dotaciones.dimension(function(d) {
              var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_nacimiento, 'years');
              if (years >= 55) return "55 o más";
              else if (years < 55 && years >= 52) return "52-54";
              else if (years < 52 && years >= 45) return "45-51";
              else if (years < 45 && years >= 37) return "37-44";
              else if (years < 37 && years >= 31) return "31-36";
              else if (years < 31 && years >= 25) return "25-30";
              else if (years < 25 && years >= 18) return "18-24";
              return "ND"
            });


            ingresoDimension = dotaciones.dimension(function(d) {
              var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_ingreso_grupo, 'years');
              if (years >= 21) return "más de 20";
              else if (years < 21 && years >= 16) return "16-20";
              else if (years < 16 && years >= 11) return " 11-15";
              else if (years < 11 && years >= 6) return "  6-10";
              else if (years < 6 && years >= 3) return "   3-5";
              else if (years < 3 && years >= 1) return "    1-2";
              else if (years < 1 ) return "     menos de 1";
            });

            allDimension = dotaciones.dimension(function(d) {
              return "all";
            });

            eachGroup = eachDimension.group().reduce(reduceAddComplete, reduceRemoveComplete, reduceInitialComplete);
            rutGroup = rutDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            areaGroup = areaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            edadGroup = edadDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            piramideGroup = piramideDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            generoGroup = generoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            ingresoGroup = ingresoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            civilGroup = civilDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            hijosGroup = hijosDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            divisionGroup = divisionDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            gerenciaGroup = gerenciaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            allGroup = allDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            allGroupMean = allDimension.group().reduce(reduceAddMean, reduceRemoveMean, reduceInitialMean);

            allGroupMean.all()[0];

            $(".component-spinner").hide();

            /*Get size fathers element*/
            var bar_ingreso = $('#bar-ingreso').width();
            var pie_genero = $('#pie-genero').width();
            var pie_tipo_divisiones = $('#pie-tipo-divisiones').width();
            var bar_edades = $('#bar-edades').width();
            var pie_piramide = $('#pie-piramide').width();
            var bar_civiles = $('#bar-civiles').width();
            var bar_division = $('#bar-division').width();
            var bar_gerencia = $('#bar-gerencia').width();


            $("#count-value").html(allGroup.all()[0].value.count.toLocaleString("es-ES"));

            chartTipodivisiones = d3.cloudshapes.donutChartSantander().width(pie_tipo_divisiones).data(areaGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(areaGroup.all().map(function(d){return d.key})).innRadius(0).outRadius(60).height(190).margin({top: 0, right: 10, bottom: 20, left: 0}).showLegend(true).showLabel(true);

            chartEdades = d3.cloudshapes.barChartSantander().setColor("#33aacc").labels(edadGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_edades).data(edadGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 50, right: 0, bottom: 20, left: 0}).labelRotation(15).labelSize(8).linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]).linesColors(["#5635cb", "#ffcc03", "#ff0000"]).linesTitles(["Hombres", "Mujeres", "Total"]).showYaxis(false);

            chartPiramide = d3.cloudshapes.donutChartSantander().width(pie_piramide)
                .data(piramideGroup.all().map(function(d){return d.value.count}))
                .dataTitle("Empleados").dataUnit("P")
                .labels(piramideGroup.all().map(function(d){return d.key}))
                .innRadius(0).outRadius(70).height(200).margin({top: 90, right: 0, bottom: 60, left: 140}).showLegend(true).showLabel(true);

            chartCiviles = d3.cloudshapes.rowChartSantander().setColor("#33aacc").labels(civilGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_civiles).data(civilGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 20, right: 20, bottom: 20, left: 85});

            chartPlantilla = d3.cloudshapes.dotacionChartSantander().setColor("red").labels(<%=raw @months%>).dataTitle(<%= raw [@year.to_s, @prev_year.to_s]%>).dataUnit("P").width($("#barchart-plantilla-bianual").width()).data(<%=@bar_data%>.map(function(d,i){ if (i<=months.indexOf(currentMonth)){ return d; }else{ return 0;}})).lineData(<%=@line_data%>).height(190).margin({top: 20, right: 20, bottom: 30, left: 80}).currentMonth(currentMonth);

            chartGenero = d3.cloudshapes.donutChartSantander().width(pie_genero).data(generoGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(generoGroup.all().map(function(d){return d.key})).innRadius(30).outRadius(60).height(190).margin({top: 0, right: 10, bottom: 10, left: 100}).showLegend(true).showLabel(true);
            chartHijos = d3.cloudshapes.donutChartSantander().width(pie_genero).data(hijosGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(hijosGroup.all().map(function(d){return d.key})).innRadius(30).outRadius(60).height(190).margin({top: 0, right: 10, bottom: 10, left: 100}).showLegend(true).showLabel(true);


            chartIngreso = d3.cloudshapes.barChartSantander().setColor("#33aacc").labels(ingresoGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_ingreso).data(ingresoGroup.all().map(function(d){return d.value.count})).height(140).margin({top: 50, right: 10, bottom: 0, left: 10}).labelRotation(15).labelSize(8).linesData([allGroupMean.all()[0].value.mean_masculino_ingreso,allGroupMean.all()[0].value.mean_femenino_ingreso, allGroupMean.all()[0].value.mean_ingreso]).linesColors(["#5635cb", "#ffcc03", "#ff0000"]).linesTitles(["Hombres", "Mujeres", "Total"]).showYaxis(false);

            chartDivision = d3.cloudshapes.barChartSantander().setColor("#ffcc03").labels(subGroups).dataTitle("Empleados").dataUnit("P").width(bar_division).data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {count: 0}}}).map(function(d){return d.value.count})).height(200).margin({top: 20, right: 20, bottom: 100, left: 80}).labelRotation(15).labelSize(8);



            obj = _.groupBy(gerenciaGroup.all(), function(d){return d.value.division});
            titles = _.map(obj, function(value, prop) {return prop;});
            labels = _.map(obj, function(value, prop) {return value.map(function(d){return d.value.gerencia;})});
            values = _.map(obj, function(value, prop) {return value.map(function(d){return d.value.count;})});


            chartGerencia = d3.cloudshapes.gridBarChartSantander().setColor("#ffcc03").labels(labels).dataTitle("Empleados").dataUnit("P").width(bar_division).data(values).titles(titles).height(620).margin({top: 20, right: 60, bottom: 40, left: 90}).labelRotation(20).labelSize(8);


            // chartGerencia = d3.cloudshapes.barChartSantander().setColor("#ffcc03").labels(gerenciaGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_division).data(gerenciaGroup.all().map(function(d){return d.value.count})).height(200).margin({top: 20, right: 20, bottom: 100, left: 80}).labelRotation(15).labelSize(8);

            if (tabla != null) tabla.destroy();
            tabla = $('#table-empleados').DataTable( {
              data: [],
              columns: [
              { title: "RUT" },
              { title: "Nombre" },
              { title: "Apellidos" },
              { title: "Pirámide" },
              { title: "Division" },
              { title: "Gerencia" },
              ]
            });

            d3.select("#barchart-plantilla-bianual").call(chartPlantilla);
            d3.select("#pie-tipo-divisiones").call(chartTipodivisiones);
            d3.select("#pie-piramide").call(chartPiramide);
            d3.select("#bar-edades").call(chartEdades);
            d3.select("#bar-civiles").call(chartCiviles);
            d3.select("#pie-genero").call(chartGenero);
            d3.select("#bar-ingreso").call(chartIngreso);
            d3.select("#bar-division").call(chartDivision);
            d3.select("#bar-gerencia").call(chartGerencia);
            d3.select("#pie-hijos").call(chartHijos);

            //chartPlantilla.onClickFunction(function(month){
            //  $("#datepicker").datepicker('update', new Date(current_year, month, 1));
            //  $("#datepicker").trigger('changeDate');
            //});

            chartTipodivisiones.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanTipoDivisiones').show();
              }else{
                $('.cleanTipoDivisiones').hide();
              }
              areaDimension.filter(entry);
              updateData();
            });


            chartEdades.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanEdades').show();
              }else{
                $('.cleanEdades').hide();
              }
              edadDimension.filter(entry);
              updateData();
            });

            chartPiramide.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanPiramide').show();
              }else{
                $('.cleanPiramide').hide();
              }
              piramideDimension.filter(entry);
              updateData();

            });

            chartCiviles.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanCivil').show();
              }else{
                $('.cleanCivil').hide();
              }
              civilDimension.filter(entry);
              updateData();
            });

            chartHijos.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanHijos').show();
              }else{
                $('.cleanHijos').hide();
              }
              hijosDimension.filter(entry);
              updateData();
            });

            chartGenero.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanGenero').show();
              }else{
                $('.cleanGenero').hide();
              }
              generoDimension.filter(entry);
              updateData();

            });

            chartIngreso.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanIngreso').show();
              }else{
                $('.cleanIngreso').hide();
              }
              ingresoDimension.filter(entry);
              updateData();

            });


            chartDivision.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                // divisionFilter = new Array(entry);
                $('.cleanDivision').show();
              }else{
                // divisionFilter = divisionGroup.all().map(function(d){ return d.key; });
                $('.cleanDivision').hide();
              }
              divisionDimension.filter(entry);
              updateData();
            });


            chartGerencia.onClickFunction(function(elem, chart, entry){
              if ($(elem).parent().hasClass("_selected_")){
                $('.cleanGerencia').show();
              }else{
                $('.cleanGerencia').hide();
              }
              gerenciaDimension.filter(entry);
              updateData();
            });

            <% if !current_user.view_gerentes %> 
              $("#tabla").click(function() {
                $('#modal-tabla').modal('show');
                tabla.clear().rows.add(eachGroup.all().map(function(d){
                  if (d.value.count == 1) {
                    if(d.value.piramide != "Gerentes"){
                    return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.piramide, d.value.division, d.value.gerencia]
                    }else{
                        return ["Gerente", "ND", "ND", "ND", "ND", "ND", "ND", "ND"]
                    }
                  } 
                }).filter(Boolean)).draw();
              });
            <%else%>
              $("#tabla").click(function() {
                $('#modal-tabla').modal('show');
                tabla.clear().rows.add(eachGroup.all().map(function(d){
                  if (d.value.count == 1) {
                    return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.piramide, d.value.division, d.value.gerencia]

                  } 
                }).filter(Boolean)).draw();
              });
            <%end%>

            $('#modal-tabla').on('shown.bs.modal', function (e) {
            });

            function updateData(){
              $("#count-value").html(allGroup.all()[0].value.count.toLocaleString("es-ES"));

                chartTipodivisiones.data(areaGroup.all().map(function(d){return d.value.count}));
                chartEdades.data(edadGroup.all().map(function(d){return d.value.count}));

                chartEdades.linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]);

                chartIngreso.linesData([allGroupMean.all()[0].value.mean_masculino_ingreso,allGroupMean.all()[0].value.mean_femenino_ingreso, allGroupMean.all()[0].value.mean_ingreso]);

                chartPiramide.data(piramideGroup.all().map(function(d){return d.value.count}));
                chartCiviles.data(civilGroup.all().map(function(d){return d.value.count}));
                chartHijos.data(hijosGroup.all().map(function(d){return d.value.count}));
                chartGenero.data(generoGroup.all().map(function(d){return d.value.count}));
                chartIngreso.data(ingresoGroup.all().map(function(d){return d.value.count}));
                chartDivision.data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {count: 0}}}).map(function(d){return d.value.count}));


              obj = _.groupBy(gerenciaGroup.all(), function(d){return d.value.division});

                values = _.map(obj, function(value, prop) {return value.map(function(d){return d.value.count;})});

              chartGerencia.data(values);



            }

              $(window).on('resize', function(){
                resizeCharts();
              });

              $('.clean').click( function() {
                cleanFilters();
              });

              $('.cleanIngreso').click( function() {
                chartIngreso.cleanFilter();
              });
              $('.cleanTipoDivisiones').click( function() {
                chartTipodivisiones.cleanFilter();
              });
              $('.cleanEdades').click( function() {
                chartEdades.cleanFilter();
              });
              $('.cleanPiramide').click( function() {
                chartPiramide.cleanFilter();
              });
              $('.cleanCivil').click( function() {
                chartCiviles.cleanFilter();
              });
              $('.cleanGenero').click( function() {
                chartGenero.cleanFilter();
              });
              $('.cleanHijos').click( function() {
                chartHijos.cleanFilter();
              });
              $('.cleanGerencia').click( function() {
                chartGerencia.cleanFilter();
              });
              $('.cleanDivision').click( function() {
                chartDivision.cleanFilter();
              });
            }
          }
        }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");
      }
    }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");


}

function reduceAddMean(p,v){
  p.count++;

  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas + p.years;
  p.sumas_ingreso = p.sumas_ingreso + p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino++;

      p.sum_femenino = p.sum_femenino + p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso + p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino++;

      p.sum_masculino = p.sum_masculino + p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso + p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }
  return p;
}


function reduceRemoveMean(p,v){
  p.count--;
  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas - p.years;
  p.sumas_ingreso = p.sumas_ingreso - p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino--;
      p.sum_femenino = p.sum_femenino - p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso - p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino--;
      p.sum_masculino = p.sum_masculino - p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso - p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }

  return p;
}


function reduceInitialMean(){
  return {
    count: 0,
    years: 0,
    years_ingreso: 0,
    count_femenino: 0,
    count_femenino_ingreso: 0,
    sum_femenino: 0,
    sum_femenino_ingreso: 0,
    mean_femenino: 0,
    mean_femenino_ingreso: 0,
    count_masculino: 0,
    count_masculino_ingreso: 0,
    sum_masculino: 0,
    sum_masculino_ingreso: 0,
    mean_masculino: 0,
    mean_masculino_ingreso: 0,
    sumas: 0,
    sumas_ingreso: 0,
    mean_ingreso: 0,
    mean: 0
  }
}







function reduceAdd(p,v){
  ++p.count;
  p.num_habit = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.division = v.division;
  p.gerencia = v.gerencia;

  return p;
}


function reduceRemove(p,v){
  --p.count;
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.division = v.division;
  p.gerencia = v.gerencia;

  return p;
}




function reduceInitial(){
  return {
    rut: "",
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    division: "",
    gerencia: "",
    count: 0
  }
}


function reduceAddComplete(p,v){
  p.count++;
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.division = v.division;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.gerencia = v.gerencia;
  return p;
}


function reduceRemoveComplete(p,v){
  p.count--;
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.division = v.division;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.gerencia = v.gerencia;
  return p;
}


function reduceInitialComplete(){
  return {
    count: 0,
    rut: "",
    genero: "",
    piramide: "",
    division: "",
    gerencia: "",
    nombre: "",
    apellidos: "",
    fecha_nacimiento: "",
    fecha_ingreso: ""
  }
}

function resizeCharts(){
  chartTipodivisiones.width($("#pie-tipo-divisiones").parent().width());
  chartEdades.width($("#bar-edades").parent().width());
  chartPiramide.width($("#pie-piramide").parent().width());
  chartCiviles.width($("#bar-civiles").parent().width());
  chartPlantilla.width($("#barchart-plantilla-bianual").parent().width());
  chartGenero.width($("#pie-genero").parent().width());
  chartIngreso.width($("#bar-ingreso").parent().width());
  chartDivision.width($("#bar-division").parent().width());
}

function cleanFilters(){
  chartTipodivisiones.cleanFilter();
  chartEdades.cleanFilter();
  chartPiramide.cleanFilter();
  chartCiviles.cleanFilter();
  chartGenero.cleanFilter();
  chartIngreso.cleanFilter();
  chartDivision.cleanFilter();
}


function adjustUrlParameter(url, value) {
  if (url.match(/(periodo=)/)) {
    return url.replace(/\periodo=.+$/, "periodo="+value)
  } else {
    return url + "?periodo=" + value;
  }
}



function setGetParameter(paramName, paramValue)
{
    var url = window.location.href;
    var hash = location.hash;
    url = url.replace(hash, '');
    if (url.indexOf(paramName + "=") >= 0)
    {
        var prefix = url.substring(0, url.indexOf(paramName));
        var suffix = url.substring(url.indexOf(paramName));
        suffix = suffix.substring(suffix.indexOf("=") + 1);
        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
        url = prefix + paramName + "=" + paramValue + suffix;
    }
    else
    {
    if (url.indexOf("?") < 0)
        url += "?" + paramName + "=" + paramValue;
    else
        url += "&" + paramName + "=" + paramValue;
    }

    // window.location.href = url + hash;
}




$("#plainButton").click(function() {
  var barData = <%=@bar_data%>;
  // Remove months with no data from current year
  var i = barData.indexOf(0);
  barData.splice(i, barData.length - i);
  var data = barData.concat(<%=@line_data%>);
  var a = $(this).hasClass('pushed');
  if ($(this).hasClass('pushed')){
    chartPlantilla.minimum(0);
    // $(this).removeClass('pushed');
  } else {
    chartPlantilla.minimum( Math.min.apply(Math, data) );
    // $(this).addClass('pushed');
  }
  $(this).toggleClass('pushed');
});
</script>
<script type="text/javascript">
  (function() {
    $('body .page-container .sidebar-menu #main-menu li.dota > a').addClass("active");
    $('body .page-container .sidebar-menu #main-menu li.dota li.<%= @divisiones.index(@currentDivision) || "global"%>').addClass("active");

    // $('body .page-container .sidebar-menu #main-menu li.dota > ul').addClass("visible");
    $(".btn-group > .btn").click(function(){
      // $(this).addClass("active").siblings().removeClass("active");
      $(".gerencia-section").toggle();
      $(".division-section").toggle();

    });

  }());
</script>




