<div class="container-fluid">
  <div class="row selectors-row" style="">
    <div class="col-xs-12 selectors" style="">
      <div class="row">
        <div class="col-xs-12 col-xs-4 title" >
          <h1 style="">DOTACIONES</h1>
        </div>
        <div class="col-xs-8" >
          <div class="col-xs-5 pull-right">
            <div style="" class="header-selector sel">
              <!-- %= select_tag "month", options_for_select(@periodos, @current_period)% -->
              <div class="input-group">
                <label class="input-group-btn" for="date-fld">
                  <input type="text" id="datepicker" value="<%= @current_period.to_s %>" class="form-control">
                  <span class="btn btn-default">
                    <i class="entypo-calendar"></i>
                  </span>
                </label>
              </div>
            </div>
            <div class="sel" style="">MES: &nbsp;</div>
          </div>
          <div class="col-xs-7 pull-right">
            <div style="" class="header-selector"><%= select_tag "dotaciones", options_for_select(["Todas"]+@dotaciones.pluck(:division).uniq )%></div>
            <div class="division" style="">DIVISIÓN: </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row group-box">
    <div class="col-md-12 info-box" style="padding-bottom: 10px;">
      <div class="title-box">
        <span><img src="assets/icono_dota.png" alt="" height="24" style>Dotación Febrero 2016 </span>
        <div class="title-actions-right pull-right">
          <a id="more-filters" href="#"><span>Más filtros</span><span class="entypo-plus"/></a>
          <a id="less-filters" href="#"><span>Menos filtros</span><span class="entypo-minus"/></a></a>
        </div>
      </div>
      <div class="content-box">
        <div class="row screen-buttons">
          <div class="col-xs-12 col-md-12" style="margin-top: 20px;">
            <a href="<%= root_path %>" class="btn btn-info"> Dotaciones </a>
            <a href="<%= altas_path %>" class="btn btn-info active"> Altas </a>
            <a href="<%= bajas_path %>" class="btn btn-info"> Bajas </a>
<!--             <a href="<%= movimientos_path %>" class="btn btn-info"> Movimientos </a>
 -->          </div>
          <hr>
        </div>
        <div id="no-data" style="min-height:300px; padding:30px;display:none;">
          <div class="col-xs-12 col-md-12" style="text-align:center;">
            <h2>No hay datos almacenados para las fechas y grupos seleccionados </h2>

            <br>
            <br>
            <h3><span class="fa fa-exclamation-circle" style="font-size:49px;"></span></h3>
            <br>
            <br>
          </div>
          <hr>
        </div>
        <div id="chart-data" style="display:block;">
          <div class="row extra-filters chart-container" style="display:none;">
            <div class="col-xs-12 col-md-3" style="height:190px;">
              <h4>EMPLEADOS POR GÉNERO</h4>
              <div class="chart" id="pie-genero"></div>
              <div class="component-spinner s-190">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-5 chart-container" style="height:190px;">
              <h4>EMPLEADOS POR FECHA INGRESO</h4>
              <div class="chart" id="bar-ingreso">
                <div class="component-spinner s-190">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>

            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:190px;">
              <h4>EMPLEADOS POR GRADO</h4>
              <div class="chart" id="row-programa"></div>
              <div class="component-spinner s-190">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="col-md-8 col-md-offset-2 kpi-container">
                <div class="kpi-box" style="">
                  <div class="kpi-title" style="">
                    <h4><span class="entypo-info"></span>TOTAL EMPLEADOS</h4>
                  <hr>
                  </div>
                  <div class="kpi-content" style="">
                    <h2 class=""><span id="count-value"></span><span class="units"><span class="units-block up-block">Empleados</span><span class="units-block down-block">FEB 2016</span></span></h2>
                  </div>
                </div>
              </div>
              <div class="col-md-12 chart-container" style="height:130px;">
                <div class="chart" id="barchart-plantilla-bianual"></div>
                <div class="component-spinner s-130">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
                <div><div class="box" style="background:rgb(247, 176, 6); width:15px;height:15px;float: left;margin-right: 10px;"></div> Mes actual</div>
              </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1" style="height:350px;">
              <h4>EMPLEADOS POR PIRÁMIDE</h4>
              <div class="chart" id="pie-tipo-divisiones"></div>
              <div class="component-spinner s-350">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4 chart-container" style="height:200px;">
              <h4>EMPLEADOS POR FRANJA DE EDAD</h4>
              <div class="chart" id="bar-edades"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:200px;">
              <h4>EMPLEADOS POR GRUPO FUNCIÓN</h4>
              <div class="chart" id="pie-piramide" ></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:200px;">
              <h4>EMPLEADOS POR EMPRESA</h4>
              <div class="chart" id="bar-empresas"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<!--   <div class="row group-box">
    <div class="col-xs-12 col-md-12 info-box">
      <div class="title-box">
        <span>Listado de Empleados </span>
      </div>
      <div class="content-box">
        <table class="table table-bordered datatable chart" id="table-1">
          <thead>
            <tr>
              <th data-hide="phone">RUT</th>
              <th>Género</th>
              <th data-hide="phone">Pirámide</th>
              <th data-hide="phone,tablet">Fecha Nac.</th>
              <th>Fecha Ingr.</th>
            </tr>
          </thead>
        </table>
        <div class="component-spinner s-200">
          <span class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>
 --></div><!-- End Content -->



<script>

  $("#datepicker").datepicker({
    format: "mm-yyyy",
    startView: 1,
    minViewMode: 1,
    language: "es",
    autoclose:true
  });





  var piramideFilter = [];
  var areaFilter = [];
  var edadFilter = [];
  var generoFilter = [];
  var ingresoFilter = [];
  var programaFilter = [];
  var empresaFilter = [];
  // var tabla = null;
  var currentMonth = "<%= @current_month %>";
  var months = <%= raw @months %>;

  var chart1;
  var chart2;
  var chart3;
  var chart4;
  var chart5;
  var chart6;
  var chart7;

  $( document ).ready(function() {
    var current_period = "<%= @current_period.to_s %>";
    var current_division = "<%= @current_division%>";
    loadData(current_period, current_division);
    $("#less-filters").on("click", function() {
       $('.extra-filters').toggle("slide");
       $('#less-filters').toggle("slide");
       $('#more-filters').toggle("slide");
    }),

    $("#more-filters").on("click",
      function() {
        $('.extra-filters').toggle("slide");
        $('#less-filters').toggle("slide");
        $('#more-filters').toggle("slide");
        resizeCharts();
      }
    );
    $("#datepicker").on("changeDate", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      current_period = $("#datepicker").val();
      currentMonth = months[($("#datepicker").val().substring(0,2)-1)];
      loadData(current_period, current_division);
    });
    $("#dotaciones").on("change", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      current_division = encodeURIComponent($("#dotaciones").val());
      loadData(current_period, current_division);

    });
  });

  function loadData(period, division){

    d3.json("/api/v1/altas-data.json?period="+period+"&division="+division, function(error, data) {
      if (error){
        return console.warn(error);
      }
      else{
        if(data.length == 0){
          $("#chart-data").hide();
          $("#no-data").show();
          // alert("No hay datos disponibles para el periodos seleccionado.")
        }else{
          $("#chart-data").show();
          $("#no-data").hide();
          dotaciones = crossfilter(data);
          rutDimension = dotaciones.dimension(function(d) {
            return d.rut;
          });
      
          piramideDimension = dotaciones.dimension(function(d) {
            return d.piramide;
          });

          generoDimension = dotaciones.dimension(function(d) {
            return d.sexo;
          });

          areaDimension = dotaciones.dimension(function(d) {
            if (d.tipo_area == null) return "ND";
            else return d.tipo_area;
          });

          empresaDimension = dotaciones.dimension(function(d) {
            return d.nombre_empresa;
          });

          edadDimension = dotaciones.dimension(function(d) {
            var years = moment().diff(d.fecha_nacimiento, 'years');
            if (years >= 54) return "54+";
            else if (years < 54 && years >= 45) return "45-54";
            else if (years < 45 && years >= 35) return "35-44";
            else if (years < 35 && years >= 25) return "24-34";
            else if (years < 25 && years >= 18) return "18-24";
          });

          programaDimension = dotaciones.dimension(function(d) {
            if (d.nombre_programa == null) return "ND";
            else return d.nombre_programa;
          });

          ingresoDimension = dotaciones.dimension(function(d) {
            var years = moment().diff(d.fecha_ingreso_grupo, 'years');
            if (years >= 10) return "más 10";
            else if (years < 10 && years >= 5) return "5-10";
            else if (years < 5 && years >= 2) return "2-5";
            else if (years < 2 && years >= 1) return "1-2";
            else if (years < 1 ) return "menos 1";
          });

          allDimension = dotaciones.dimension(function(d) {
            return "all";
          });

          rutGroup = rutDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          allGroup = allDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          areaGroup = areaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          edadGroup = edadDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          piramideGroup = piramideDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          generoGroup = generoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          ingresoGroup = ingresoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          programaGroup = programaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
          empresaGroup = empresaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);

          areaFilter = areaGroup.all().map(function(d){ return d.key});
          edadFilter = edadGroup.all().map(function(d){ return d.key});
          piramideFilter = piramideGroup.all().map(function(d){ return d.key});
          generoFilter = generoGroup.all().map(function(d){ return d.key});
          ingresoFilter = ingresoGroup.all().map(function(d){ return d.key});
          programaFilter = programaGroup.all().map(function(d){ return d.key});
          empresaFilter = empresaGroup.all().map(function(d){ return d.key});

          $(".component-spinner").hide();
          /*Get size fathers element*/
          var bar_ingreso = $('#bar-ingreso').width();
          var pie_genero = $('#pie-genero').width();
          var row_programa = $('#row-programa').width();
          var pie_divisiones = $('#pie-tipo-divisiones').width();
          var bar_edades = $('#bar-edades').width();
          var pie_piramide = $('#pie-piramide').width();
          var bar_empresas = $('#bar-empresas').width();

          $("#count-value").html(allGroup.all()[0].value.count);

          chart1 = d3.cloudshapes.donutChartSantander().width(pie_piramide).data(areaGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(areaGroup.all().map(function(d){return d.key})).innRadius(0).outRadius(70).height(170).margin({top: 30, right: 30, bottom: 30, left: 60});

          chart2 = d3.cloudshapes.barChartSantander().setColor("#f7b006").labels(edadGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_edades).data(edadGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 20, right: 20, bottom: 20, left: 80});

          chart3 = d3.cloudshapes.donutChartSantander().width(pie_divisiones).data(piramideGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(piramideGroup.all().map(function(d){return d.key})).innRadius(0).outRadius(120).height(350).margin({top: 0, right: 20, bottom: 20, left: 0});

          chart4 = d3.cloudshapes.rowChartSantander().setColor("#f7b006").labels(empresaGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_empresas).data(empresaGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 20, right: 20, bottom: 20, left: 195});

          chart5 = d3.cloudshapes.plantillaChartSantander().setColor("red").labels(<%=raw @months%>).dataTitle(<%= raw [@year.to_s, @prev_year.to_s]%>).dataUnit("P").width($("#barchart-plantilla-bianual").width()).data(<%=@bar_data%>).lineData(<%=@line_data%>).height(100).margin({top: 20, right: 20, bottom: 20, left: 80}).currentMonth(currentMonth);

          chart6 = d3.cloudshapes.donutChartSantander().width(pie_genero).data(generoGroup.all().map(function(d){return d.value.count})).dataTitle("Empleados").dataUnit("P").labels(generoGroup.all().map(function(d){return d.key})).innRadius(30).outRadius(45).height(130).margin({top: 0, right: 10, bottom: 10, left: 0});

          chart7 = d3.cloudshapes.barChartSantander().setColor("#f7b006").labels(ingresoGroup.all().map(function(d){return d.key})).dataTitle("Empleados").dataUnit("P").width(bar_ingreso).data(ingresoGroup.all().map(function(d){return d.value.count})).height(110).margin({top: 20, right: 10, bottom: 20, left: 10});

          chart8 = d3.cloudshapes.rowChartSantander().setColor("#f7b006").labels(programaGroup.all().map(function(d){ return d.key})).dataTitle("Empleados").dataUnit("P").width(row_programa).data(programaGroup.all().map(function(d){return d.value.count})).height(110).margin({top: 20, right: 20, bottom: 20, left: 125});


          d3.select("#barchart-plantilla-bianual").call(chart5);
          d3.select("#pie-tipo-divisiones").call(chart3);
          d3.select("#pie-piramide").call(chart1);
          d3.select("#bar-edades").call(chart2);
          d3.select("#bar-empresas").call(chart4);
          d3.select("#pie-genero").call(chart6);
          d3.select("#bar-ingreso").call(chart7);
          d3.select("#row-programa").call(chart8);
          // if (tabla != null) tabla.destroy();
          // tabla = $('#table-1').DataTable( {
          //     data: rutGroup.all().map(function(d){
          //       return [d.value.rut, d.value.genero, d.value.piramide, d.value.fecha_nacimiento, d.value.fecha_ingreso]}),
          //     columns: [
          //         { title: "RUT" },
          //         { title: "Género" },
          //         { title: "Pirámide" },
          //         { title: "Fecha Nac." },
          //         { title: "Fecha Ingr." }
          //     ]
          // });

          chart1.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              areaFilter.push(entry);
            }else{
              areaFilter = _.without(areaFilter, entry);
            }
            areaDimension.filterFunction(function(d) {
              return areaFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart2.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              edadFilter.push(entry);
            }else{
              edadFilter = _.without(edadFilter, entry);
            }
            edadDimension.filterFunction(function(d) {
              return edadFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart3.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              piramideFilter.push(entry);
            }else{
              piramideFilter = _.without(piramideFilter, entry);
            }
            piramideDimension.filterFunction(function(d) {
              return piramideFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart4.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              empresaFilter.push(entry);
            }else{
              empresaFilter = _.without(empresaFilter, entry);
            }
            empresaDimension.filterFunction(function(d) {
              return empresaFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart5.onClickFunction(function(){

          });

          chart6.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              generoFilter.push(entry);
            }else{
              generoFilter = _.without(generoFilter, entry);
            }
            generoDimension.filterFunction(function(d) {
              return generoFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart7.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              ingresoFilter.push(entry);
            }else{
              ingresoFilter = _.without(ingresoFilter, entry);
            }
            ingresoDimension.filterFunction(function(d) {
              return ingresoFilter.indexOf(d) != -1
            });
            updateData();
          });

          chart8.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              programaFilter.push(entry);
            }else{
              programaFilter = _.without(programaFilter, entry);
            }
            programaDimension.filterFunction(function(d) {
              return programaFilter.indexOf(d) != -1
            });
            updateData();
          });

          function updateData(){
            $("#count-value").html(allGroup.all()[0].value.count);
            // tabla.clear().rows.add(rutGroup.all().map(function(d){if (d.value.count == 1) return [d.value.rut, d.value.genero, d.value.piramide, d.value.fecha_nacimiento, d.value.fecha_ingreso]}).filter(Boolean)).draw();
            chart1.data(areaGroup.all().map(function(d){return d.value.count}));
            chart2.data(edadGroup.all().map(function(d){return d.value.count}));
            chart3.data(piramideGroup.all().map(function(d){return d.value.count}));
            chart4.data(empresaGroup.all().map(function(d){return d.value.count}));
            chart6.data(generoGroup.all().map(function(d){return d.value.count}));
            chart7.data(ingresoGroup.all().map(function(d){return d.value.count}));
            chart8.data(programaGroup.all().map(function(d){return d.value.count}));
          }

          $(window).on('resize', function(){

            resizeCharts();

          });
        }
      }
    });
  }




function reduceAdd(p,v){
  ++p.count;
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}


function reduceRemove(p,v){
  --p.count;
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}


function reduceInitial(){
  return {
    rut: "",
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    count: 0
  }
}


function reduceAddComplete(p,v){
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}


function reduceRemoveComplete(p,v){
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}


function reduceInitialComplete(){
  return {
    rut: "",
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: ""
  }
}

function resizeCharts(){
  chart1.width($("#pie-piramide").parent().width());
  chart2.width($("#bar-edades").parent().width());
  chart3.width($("#pie-tipo-divisiones").parent().width());
  chart4.width($("#bar-empresas").parent().width());
  chart5.width($("#barchart-plantilla-bianual").parent().width());
  chart6.width($("#pie-genero").parent().width());
  chart7.width($("#bar-ingreso").parent().width());
  chart8.width($("#row-programa").parent().width());
}

</script>
<script type="text/javascript">
  (function() {
    $('body .page-container .sidebar-menu #main-menu li.dota > a').addClass("active");
  }());
</script>
