<a href="javascript:;" class="btn btn-sm btn-danger" id="tabla">Tabla de Vacaciones</a>
<div class="container-fluid">
  <div class="row selectors-row" style="">
    <div class="col-xs-12 selectors" style="">
      <div class="row">
        <div class="col-xs-12 col-xs-7 title truncate" >
          <h1 class="truncate"><%= @current_division.upcase%></h1>
        </div>
        <div class="col-xs-5" >
          <div class="col-xs-12 pull-right">
            <div style="" class="header-selector sel">
              <!-- %= select_tag "month", options_for_select(@periodos, @currentPeriod)% -->
              <div class="input-group">
                <label class="input-group-btn" for="date-fld">
                  <input type="text" id="datepicker" value="<%= @current_period.to_s %>" class="form-control">
                  <span class="btn btn-default" id="dateButton">
                    <i class="entypo-calendar"></i>
                  </span>
                </label>
              </div>
            </div>
            <div class="sel" style="">MES: &nbsp;</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="no-data" style="display:none">
    <div class="row" style="min-height:300px; background: white;">
      <div class="col-xs-12 col-md-12" >
        <h3>No hay datos almacenados para este mes sobre incrementos de renta para <em style="text-decoration: underline">  <%= @current_division%> </em>. <br></h3>
        <h5 style="margin-top: 60px;">Estos son los últimos periodos con datos cargados para <em><%= @current_division%></em> :</h5>
          <hr>

        <div class="row" style="text-align: center;">
          <%ViewVacacion.pluck(:periodo).uniq.compact.sort_by { |periodo| periodo[3..7]+periodo[0..1] }.reverse.first(4).each do |periodo|%>
            <div class="col-xs-3" style="margin-top: 0px;">
              <p><b>Vacaciones <%= periodo%></b></p>
              <%= link_to vacaciones_path+"?division="+@current_division+"&periodo="+periodo, class: "btn btn-info" do%>
                Ver datos
              <%end%>
            </div>
          <%end%>
        </div>
          <hr>

        <div class="component-spinner s-200" style="display:none;">
          <span class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="chart-data" style="display:block;">
    <div class="row group-box">
      <div class="col-md-12 info-box" style="padding-bottom: 10px;">
        <div class="title-box">
          <span class="title-global"><%=image_tag "icono_vacacion.png", height: 24 %>Vacaciones <span id="titleDate">Febrero 2016</span>
          </span>
          <span class="pull-right hidden-xs">
            <%= render "/shared/manager_links"%>

          </span>
        </div>
        <div class="content-box">
          <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="width:100%; margin-top:20px;">
              <button type="button" id="stars" class="btn btn-default active" href="#tab1" data-toggle="tab" style="width:50%"> Consumo
              </button>

              <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab" style="width:50%">Saldo
                  </button>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-12 screen-buttons" style="">
              <a href="#clear" class="clean" style="text-decoration: underline;"> Limpiar filtros </a>
              <div class="title-actions-right pull-right">
                <a id="more-filters" href="javascript:void(0)"><span>Expandir</span><span class="entypo-plus"/></a>
                <a id="less-filters" href="javascript:void(0)"><span>Contraer</span><span class="entypo-minus"/></a></a>
              </div>
            </div>
          </div>
          <div class="row extra-filters chart-container" style="display:none;">
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                GÉNERO
                <a href="javascript:void(0)" class="cleanGenero" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-genero" ></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                TRAMO DE EDAD
                <a href="javascript:void(0)" class="cleanEdad" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="barchart-edad"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>

            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                ESTAMENTO
                <a href="javascript:void(0)" class="cleanPiramide" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-piramide"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-8" style="height:450px;margin-top: 30px;">
              <div class="kpi-container">
                <div class="kpi-box" style="">
                  <div class="kpi-title" style="">
                    <h4>INDICADORES VACACIONES</h4>
                  </div>
                  <div class="kpi-content col-md-4">
                    <h2 class="">
                      <span id="total-vacacion-value"></span><span class="units"><span class="units-block up-block">FUNCIONARIOS CON VACACIONES</span><span class="units-block down-block formacion-date" id="">2016</span></span></h2>
                  </div>
                  <div class="kpi-content col-md-4">
                    <h2 class="">
                      <span id="total-dias-value"></span><span class="units"><span class="units-block up-block">TOTAL VACACIONES</span><span class="units-block down-block formacion-date" id="">2016</span></span></h2>
                  </div>
                  <div class="kpi-content col-md-4">
                    <h2 class="">
                      <span id="total-10-dias-value"></span><span class="units"><span class="units-block up-block">FUNCIONARIOS CON >10 DÍAS TOMADOS</span><span class="units-block down-block formacion-date" id="">2016</span></span></h2>
                  </div>
                </div>
              </div>

              <div class="col-md-6 chart-container" style="height:200px;">
                <h4> TOTAL VACACIONES <span class="employeeDate">FEB 2016</span></h4>
                <div class="chart" id="barchart-rotacion-mes"></div>
                <div class="component-spinner s-130">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>
              <div class="col-md-6 chart-container" style="height:200px;">
                <h4> TOTAL CONSUMO <span class="employeeDate">FEB 2016</span></h4>
                <div class="chart" id="barchart-rotacion-acumulada"></div>
                <div class="component-spinner s-130">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>

            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:400px;margin-top: 30px;">
              <h4>
                TIPO VACACIÓN
                <a href="javascript:void(0)" class="cleanMotivos" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-motivos"></div>
              <div class="component-spinner s-350">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 chart-container" style="height:240px;">
              <h4>
                VACACIONES POR <%= @current_division == "global" ? "DIVISIÓN" : "GERENCIA"%>
                <a href="javascript:void(0)" class="cleanDivision" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="bar-division"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 chart-container" style="height:200px;">
              <h4>
                FUNCIONARIOS QUE HAN TOMADO VACACIONES POR MES
                <a href="javascript:void(0)" class="cleanPeriodo" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="bar-mes-acumulated"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--    <hr>
   <div class="row group-box">
      <div class="col-xs-12 col-md-12 info-box">
        <div class="title-box">
          <span>Evolución </span>
        </div>
        <div class="content-box">
          <div class="col-md-12 chart-container" >
            <div class="chart" id="bar-historical"></div>
            <div class="component-spinner s-130">
              <span class="fa fa-spin fa-spinner"></span>
            </div>
            <div class="legend">
              <div class="legend-item">
                <div class="box" style="background:#FFCC03; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes actual
              </div>
              <div class="legend-item">
                <div class="box" style="background:#83959F; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes con datos
              </div>
              <div class="legend-item">
                <div class="box" style="background:rgba(128, 128, 128, 0.2); width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes sin datos
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div><!-- End Content -->

<div class="modal fade custom-width" id="modal-tabla" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width: 96%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"> <span>Listado de Vacaciones </span></h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered datatable chart" id="table-empleados">
          <thead>
            <tr>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>

</div>


<script>

 $("#datepicker").datepicker({
  startDate: "01-2016",
  endDate:  "0d",
  format: "mm-yyyy",
  startView: 1,
  minViewMode: 1,
  language: "es",
  autoclose:true
});

 var piramideFilter = [];
 var areaFilter = [];
 var edadFilter = [];
 var generoFilter = [];
 var ingresoFilter = [];
 var programaFilter = [];
 var empresaFilter = [];
 var tipoFilter = [];
 var periodoFilter = [];


 var chartVacacionMes = null;
 var chartVacacionAcumulada = null;
 var chartMotivos = null;
 var chartHistorical = null;
 var chartDivision = null;
 var chartGenero = null;
 var chartPiramide = null;
 var chartEdad = null;
 var chartPeriodo = null;

 var tabla = null;

  // var tabla = null;
  var currentDivision = "<%= @current_division%>";
  var subGroups = [];
  var currentMonth = "<%= @current_month %>";
  var currentMonth2 = "<%= @current_month2 %>";
  var months = <%= raw @months %>;
  var months2 = <%= raw @months2 %>;
  var current_year;
  var periodos = <%=raw @periods %>;
  var years = <%= raw @years %>;
  var dotacionesYear1 = <%= raw @dotaciones_year_1 %>;
  var dotacionesYear2 = <%= raw @dotaciones_year_2 %>;
  var currentPeriod;

  $( document ).ready(function() {
    currentPeriod = "<%= @current_period.to_s %>";
    current_year = currentPeriod.slice(3, currentPeriod.length);
    $('#titleDate').html( currentMonth2 + " " + current_year );
    $('.employeeDate').html( currentMonth + " " + current_year );
    $('#dateButton').click( function() {
      $('#datepicker').datepicker("show");
    })
    loadData(currentPeriod, currentDivision);

    $("#less-filters").on("click", function() {
     $('.extra-filters').toggle("slide");
     $('#less-filters').toggle("slide");
     $('#more-filters').toggle("slide");
   });

    $("#more-filters").on("click",
      function() {
        $('.extra-filters').toggle("slide");
        $('#less-filters').toggle("slide");
        $('#more-filters').toggle("slide");
        resizeCharts();
      }
      );

    $("#datepicker").on("changeDate", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      currentPeriod = $("#datepicker").val();
      currentMonth = months[($("#datepicker").val().substring(0,2)-1)];
      currentMonth2 = months2[($("#datepicker").val().substring(0,2)-1)];
      current_year = currentPeriod.slice(3, currentPeriod.length);
      periodos = [moment(currentPeriod, ["MM-YYYY"]).subtract(1, 'years').format("MM-YYYY"), currentPeriod];
      $('#titleDate').html( currentMonth2 + " " + current_year );
      $('.employeeDate').html( currentMonth + " " + current_year );
      loadData(currentPeriod, currentDivision);
      setGetParameter("periodo", currentPeriod);
      _($("#main-menu a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
      _($(".quick-links a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
    });

    $("#dotaciones").on("change", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      current_division = encodeURIComponent($("#dotaciones").val());
      loadData(currentPeriod, currentDivision);

    });
  });

  function loadData(period, division){
    d3.json("<%= api_v1_estructura_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
      if (error){
        return console.warn(error);
      }else{
        subGroups = data.data;
      }
    }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");

    d3.json("<%= api_v1_vacaciones_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
      if (error){
        return console.warn(error);
      }
      else{
        dataYear1 = [];
        dataYear2 = [];
        dataCurrentPeriod = [];
        var i = 0;
        data.forEach(function(d){
          if (moment(d.periodo_vacacion, "mm-YYYY").year() == parseInt(current_year)){
            d.count = i;
            dataYear2.push(d);
          }
          else{
            d.count = i;
            dataYear1.push(d);
          }

          i++;

        });
        if(dataYear2.length == 0){
          $("#chart-data").hide();
          $("#no-data").show();
          $(".component-spinner").hide();

          // alert("No hay datos disponibles para el periodos seleccionado.")
        }else{
          $("#chart-data").show();
          $("#no-data").hide();
          vacaciones = crossfilter(dataYear2);
          vacacionesOld = crossfilter(dataYear1);
          vacacionesPeriod = crossfilter(dataCurrentPeriod);


          eachDimension = vacaciones.dimension(function(d) {
            return d.count;
          });
          rutDimension = vacaciones.dimension(function(d) {
            return d.rut;
          });

          tipoDimension = vacaciones.dimension(function(d) {
            if (d.dias_10) return "Más de 10 días";
            else return "Menos de 10 días";
          });
          tipoDimensionOld = vacacionesOld.dimension(function(d) {
            if (d.dias_10) return "Más de 10 días"
            else return "Menos de 10 días";
          });

          if (currentDivision == "global") {
            divisionDimension = vacaciones.dimension(function(d) {
              return d.division;
            });
            divisionDimensionOld = vacacionesOld.dimension(function(d) {
              return d.division;
            });
          } else {
            divisionDimension = vacaciones.dimension(function(d) {
              return d.gerencia;
            });
            divisionDimensionOld = vacacionesOld.dimension(function(d) {
              return d.gerencia;
            });
          }

        periodoDimension = vacaciones.dimension(function(d) {
          return d.periodo_vacacion;

        });
        periodoDimensionOld = vacacionesOld.dimension(function(d) {
          return d.periodo_vacacion;
        });

        piramideDimension = vacaciones.dimension(function(d) {
          if (d.piramide == "Gerentes"){
            return "     "+d.piramide;
          }
          else if (d.piramide == "Subgerentes"){
            return "    "+d.piramide;
          }
          else if (d.piramide == "Jefaturas"){
            return "   "+d.piramide;
          }
          else if (d.piramide == "Profesionales"){
            return "  "+d.piramide;
          }
          else if (d.piramide == "Administrativos"){
            return " "+d.piramide;
          }else{
            return d.piramide;

          }
        });
        piramideDimensionOld = vacacionesOld.dimension(function(d) {
          if (d.piramide == "Gerentes"){
            return "     "+d.piramide;
          }
          else if (d.piramide == "Subgerentes"){
            return "    "+d.piramide;
          }
          else if (d.piramide == "Jefaturas"){
            return "   "+d.piramide;
          }
          else if (d.piramide == "Profesionales"){
            return "  "+d.piramide;
          }
          else if (d.piramide == "Administrativos"){
            return " "+d.piramide;
          }else{
            return d.piramide;

          }
        });

        generoDimension = vacaciones.dimension(function(d) {
          return d.sexo;
        });
        generoDimensionOld = vacacionesOld.dimension(function(d) {
          return d.sexo;
        });

        edadDimension = vacaciones.dimension(function(d) {
          var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_nacimiento, 'years');
          if (years >= 55) return "55 o más";
          else if (years < 55 && years >= 52) return "52-54";
          else if (years < 52 && years >= 45) return "45-51";
          else if (years < 45 && years >= 37) return "37-44";
          else if (years < 37 && years >= 31) return "31-36";
          else if (years < 31 && years >= 25) return "25-31";
          else if (years < 25 && years >= 18) return "18-24";
          return "ND"
        });
        edadDimensionOld = vacacionesOld.dimension(function(d) {
          var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_nacimiento, 'years');
          if (years >= 55) return "55 o más";
          else if (years < 55 && years >= 52) return "52-54";
          else if (years < 52 && years >= 45) return "45-51";
          else if (years < 45 && years >= 37) return "37-44";
          else if (years < 37 && years >= 31) return "31-36";
          else if (years < 31 && years >= 25) return "25-31";
          else if (years < 25 && years >= 18) return "18-24";
          return "ND"
        });

         allDimension = vacaciones.dimension(function(d) {
          return "all";
        });
         allDimensionOld = vacacionesOld.dimension(function(d) {
          return "all";
        });
        var past_year_months = _.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) });
        var current_year_months = _.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) });

        blockDimension = vacaciones.dimension(function(d){
          if (current_year_months.indexOf(d.periodo_vacacion) >= 0){
            return "active"
          } else{
            return "inactive"
          }
        });
        blockDimensionOld = vacacionesOld.dimension(function(d){
          if (past_year_months.indexOf(d.periodo_vacacion) >= 0){
            return "active"
          } else{
            return "inactive"
          }
        });

        eachGroup = eachDimension.group().reduce(reduceAddComplete, reduceRemoveComplete, reduceInitialComplete);

         blockGroup = blockDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         blockGroupOld = blockDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         allGroupOld = allDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         rutGroup = rutDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         allGroup = allDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         // areaGroup = areaDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         edadGroup = edadDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         edadGroupOld = edadDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         piramideGroup = piramideDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         piramideGroupOld = piramideDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         generoGroup = generoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         generoGroupOld = generoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         periodoGroup = periodoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         periodoGroupOld = periodoDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         divisionGroup = divisionDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         divisionGroupOld = divisionDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);

         tipoGroup = tipoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         tipoGroupOld = tipoDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
         allGroupMean = allDimension.group().reduce(reduceAddMean, reduceRemoveMean, reduceInitialMean);

         $(".component-spinner").hide();
         /*Get size fathers element*/
         var widthVacacionesMes = $('#barchart-rotacion-mes').width();
         var widthVacacionesAcumulada = $('#barchart-rotacion-acumulada').width();
         var widthEdades = $('#barchart-edad').width();
         var widthPiramide = $('#pie-piramide').width();
         var widthGenero = $('#pie-genero').width();
         var widthDivision = $('#bar-division').width();
         var widthMotivos = $('#pie-motivos').width();

         $("#total-vacacion-value").html((allGroup.all()[0] || {value: {count: 0}}).value.count.toLocaleString());
         $("#total-dias-value").html((allGroup.all()[0] || {value: {all_count: 0}}).value.all_count.toLocaleString());
         $("#total-10-dias-value").html((allGroup.all()[0] || {value: {count_10_dias: 0}}).value.count_10_dias.toLocaleString());


          var vacacionesMes = (_.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {count: 0}}).value.count;
          var vacacionesAcumuladas = (_.find(blockGroup.all(), {"key": "active"}) || {value: {count: 0}}).value.count;


          var diasMes = (_.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {consumidos: 0}}).value.consumidos;
          var diasAcumulados = (_.find(blockGroup.all(), {"key": "active"}) || {value: {consumidos: 0}}).value.consumidos;


          chartVacacionMes = d3.cloudshapes.barChartMultiColor().setColors(["#33AACC", "#83959F"]).width(widthVacacionesMes).data([vacacionesMes, vacacionesAcumuladas ]).dataTitle("Vacaciones").dataUnit("personas").labels(["Mes", "Acumulado"]).height(160).margin({top: 20, right: 30, bottom: 30, left: 65}).labelRotation(15).labelSize(8).selectable(false);


          chartVacacionAcumulada = d3.cloudshapes.barChartMultiColor().setColors(["#33AACC", "#83959F"]).width(widthVacacionesMes).data([diasMes, diasAcumulados ]).dataTitle("Consumidos").dataUnit("días").labels(["Mes", "Acumulado"]).height(160).margin({top: 20, right: 30, bottom: 30, left: 65}).labelRotation(15).labelSize(8).selectable(false);

          chartMotivos = d3.cloudshapes.donutChartSantander().width(widthMotivos).data(tipoGroup.all().map(function(d){return d.value.all_count})).dataTitle("Vacaciones").dataUnit("P").labels(tipoGroup.all().map(function(d){return d.key})).innRadius(40).outRadius(90).height(250).margin({top: 130, right: 20, bottom: 0, left: 40}).showLegend(true).showLabel(true);

          // var first_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroupOld.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear1[index]; else return 0});

          // var second_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d,index){if(d) return d.value.count*100/dotacionesYear2[index]; else return 0});

          var second_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d,index){if(d) return d.value.count; else return 0});

          // chartHistorical = d3.cloudshapes.plantillaChartSantander().width(widthHistorical).data(second_year_historical).lineData(first_year_historical).dataTitle(<%= raw [@year.to_s, @prev_year.to_s]%>).dataUnit("%").labels(<%= raw @months %>).height(180).margin({top: 20, right: 20, bottom: 20, left: 80}).currentMonth(currentMonth);

          chartPeriodo = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(<%= raw @months %>).width(widthDivision).data(second_year_historical).data(second_year_historical).dataTitle("Vacaciones").height(160).margin({top: 20, right: 20, bottom: 80, left: 80}).labelRotation(15).labelSize(8);

          chartDivision = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(subGroups).dataTitle("Vacaciones").dataUnit("P").width(widthDivision).data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {all_count: 0}}}).map(function(d){return d.value.all_count})).height(160).margin({top: 20, right: 20, bottom: 80, left: 80}).labelRotation(15).labelSize(8);

          chartGenero = d3.cloudshapes.donutChartSantander().width(widthGenero).data(generoGroup.all().map(function(d){return d.value.count})).dataTitle("Vacaciones").dataUnit("Personas").labels(generoGroup.all().map(function(d){return d.key})).innRadius(30).outRadius(45).height(150).margin({top: 110, right: 10, bottom: 0, left: 30}).showLegend(true).showLabel(true).legendY(30);

          chartPiramide = d3.cloudshapes.donutChartSantander().width(widthPiramide).data(piramideGroup.all().map(function(d){return d.value.count})).dataTitle("Vacaciones").dataUnit("Personas").labels(piramideGroup.all().map(function(d){return d.key})).innRadius(0).outRadius(45).height(150).margin({top: 110, right: 10, bottom: 0, left: 30}).showLegend(true).showLabel(true);

          chartEdad = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(edadGroup.all().map(function(d){return d.key})).dataTitle("Vacaciones").dataUnit("P").width(widthEdades).data(edadGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 80, right: 0, bottom: 0, left: 10}).labelRotation(15).labelSize(8).linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]).linesColors(["#5635cb", "#ffcc03", "#ff0000"]).linesTitles(["Hombres", "Mujeres", "Total"]).showYaxis(false);

          if (tabla != null) tabla.destroy();
          tabla = $('#table-empleados').DataTable( {
            data: [],
            columns: [
            { title: "RUT" },
            { title: "Nombre" },
            { title: "Apellidos" },
            { title: "Periodo" },
            { title: "Tipo" },
            { title: "Días" }
            ]
          });



          d3.select("#barchart-rotacion-mes").call(chartVacacionMes);
          d3.select("#barchart-rotacion-acumulada").call(chartVacacionAcumulada);
          d3.select("#barchart-edad").call(chartEdad);
          d3.select("#pie-motivos").call(chartMotivos);
          // d3.select("#bar-historical").call(chartHistorical);
          d3.select("#pie-genero").call(chartGenero);
          d3.select("#pie-piramide").call(chartPiramide);
          d3.select("#bar-division").call(chartDivision);
          d3.select("#bar-mes-acumulated").call(chartPeriodo);


          chartMotivos.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              tipoFilter = new Array(entry);
              $('.cleanMotivos').show();
              tipoDimension.filterFunction(function(d) {
                return tipoFilter.indexOf(d) != -1
              });
              tipoDimensionOld.filterFunction(function(d) {
                return tipoFilter.indexOf(d) != -1
              });
            }else{
              tipoFilter = tipoGroup.all().map(function(d) { return d.key; });
              $('.cleanMotivos').hide();
              tipoDimension.filter(null);
              tipoDimensionOld.filter(null);
            }
            updateData();
          });

          chartGenero.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              generoFilter = new Array(entry);
              $('.cleanGenero').show();
              generoDimension.filterFunction(function(d) {
                return generoFilter.indexOf(d) != -1
              });
              generoDimensionOld.filterFunction(function(d) {
                return generoFilter.indexOf(d) != -1
              });
            }else{
              generoFilter = generoGroup.all().map(function(d){ return d.key});
              $('.cleanGenero').hide();
              generoDimension.filter(null);
              generoDimensionOld.filter(null);
            }

            updateData();
          });

          chartPiramide.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              piramideFilter = new Array(entry);
              $('.cleanPiramide').show();
              piramideDimension.filterFunction(function(d) {
                return piramideFilter.indexOf(d) != -1
              });
              piramideDimensionOld.filterFunction(function(d) {
                return piramideFilter.indexOf(d) != -1
              });
            }else{
              piramideFilter = piramideGroup.all().map(function(d){ return d.key});
              $('.cleanPiramide').hide();
              piramideDimension.filter(null);
              piramideDimensionOld.filter(null);
            }

            updateData();
          });

          chartDivision.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              divisionFilter = new Array(entry);
              $('.cleanDivision').show();

              divisionDimension.filterFunction(function(d) {
                return divisionFilter.indexOf(d) != -1
              });
              divisionDimensionOld.filterFunction(function(d) {
                return divisionFilter.indexOf(d) != -1
              });
            }else{
              divisionFilter = divisionGroup.all().map(function(d) { return d.key; });
              $('.cleanDivision').hide();
              divisionDimension.filter(null);
              divisionDimensionOld.filter(null);
            }
            updateData();
          });

          chartPeriodo.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              var month = <%= raw @months %>.indexOf(entry);
              entryDate = moment({y: years[1], M: month}).format("MM-YYYY")
              periodoFilter = new Array(entryDate);
              $('.cleanPeriodo').show();
              periodoDimension.filterFunction(function(d) {
                return periodoFilter.indexOf(d) != -1
              });
            }else{
              periodoFilter = periodoGroup.all().map(function(d) { return d.key; });
              $('.cleanPeriodo').hide();
              periodoDimension.filter(null);
            }
            updateData();
          });


          chartEdad.onClickFunction(function(elem, chart, entry){
            if ($(elem).parent().hasClass("_selected_")){
              edadFilter = new Array(entry);
              $('.cleanEdad').show();
              edadDimension.filterFunction(function(d) {
                return edadFilter.indexOf(d) != -1
              });
              edadDimensionOld.filterFunction(function(d) {
                return edadFilter.indexOf(d) != -1
              });
            }else{
              edadFilter = edadGroup.all().map(function(d){ return d.key});
              $('.cleanEdad').hide();
              edadDimension.filter(null);
              edadDimensionOld.filter(null);
            }
            updateData();
          });


          function updateData(){

           $("#total-vacacion-value").html((allGroup.all()[0] || {value: {count: 0}}).value.count.toLocaleString());
           $("#total-dias-value").html((allGroup.all()[0] || {value: {all_count: 0}}).value.all_count.toLocaleString());
           $("#total-10-dias-value").html((allGroup.all()[0] || {value: {count_10_dias: 0}}).value.count_10_dias.toLocaleString());

          var vacacionesMes = (_.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {all_count: 0}}).value.all_count;
          var vacacionesAcumuladas = (_.find(blockGroup.all(), {"key": "active"}) || {value: {all_count: 0}}).value.all_count;


          var diasMes = (_.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {consumidos: 0}}).value.consumidos;
          var diasAcumulados = (_.find(blockGroup.all(), {"key": "active"}) || {value: {consumidos: 0}}).value.consumidos;


          var second_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d,index){if(d) return d.value.count; else return 0});



           chartPeriodo.data(second_year_historical);


            chartVacacionMes.data([vacacionesMes, vacacionesAcumuladas ]);

            chartVacacionAcumulada.data( [diasMes, diasAcumulados ] );

            chartDivision.data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {all_count: 0}}}).map(function(d){return d.value.all_count}));

            chartMotivos.data(tipoGroup.all().map(function(d){return d.value.all_count}));

            chartDivision.data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {all_count: 0}}}).map(function(d){return d.value.all_count}));
            chartGenero.data(generoGroup.all().map(function(d){return d.value.all_count}));
            chartPiramide.data(piramideGroup.all().map(function(d){return d.value.all_count}));
            chartEdad.data(edadGroup.all().map(function(d){return d.value.all_count}));
            chartEdad.linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]);

          }

          $(window).on('resize', function(){
            resizeCharts();
          });

          $('.clean').click( function() {
            cleanFilters();
          });

          $('.cleanMotivos').click( function() {
            chartMotivos.cleanFilter();
          });
          $('.cleanDivision').click( function() {
            chartDivision.cleanFilter();
          });
          $('.cleanPeriodo').click( function() {
            chartPeriodo.cleanFilter();
          });
          $('.cleanGenero').click( function() {
            chartGenero.cleanFilter();
          });
          $('.cleanPiramide').click( function() {
            chartPiramide.cleanFilter();
          });
          $('.cleanEdad').click( function() {
            chartEdad.cleanFilter();
          });
        }
      }
    }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");
}

function resizeCharts(){
  chartVacacionMes.width($('#barchart-rotacion-mes').parent().width());
  chartVacacionAcumulada.width($('#barchart-rotacion-acumulada').parent().width());
  chartMotivos.width($('#pie-motivos').parent().width());
  // chartHistorical.width($('#bar-historical').parent().width());
  chartDivision.width($('#bar-division').parent().width());
  chartGenero.width($('#pie-genero').parent().width());
  chartPiramide.width($('#pie-piramide').parent().width());
  chartEdad.width($('#barchart-edad').parent().width());
}

function cleanFilters(){
  chartVacacionMes.cleanFilter();
  chartVacacionAcumulada.cleanFilter();
  chartMotivos.cleanFilter();
  chartDivision.cleanFilter();
  chartGenero.cleanFilter();
  chartPiramide.cleanFilter();
  chartEdad.cleanFilter();
  chartPeriodo.cleanFilter();
}

function adjustUrlParameter(url, value) {
  if (url.match(/(periodo=)/)) {
    return url.replace(/\periodo=.+$/, "periodo="+value)
  } else {
    return url + "?periodo=" + value;
  }
}

function reduceAdd(p,v){
  ++p.all_count;
  if (v.rut in p.ruts) p.ruts[v.rut]++;
  else {
      p.ruts[v.rut] = 1;
      p.count++;
  }
  if (v.dias_10 == true){
    if ((v.rut in p.ruts_10_dias)) p.ruts_10_dias[v.rut]++;
    else {
          p.ruts[v.rut] = 1;
          p.count_10_dias++;
    }
  }

  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.consumidos += v.consumidos;
  return p;
}

function reduceRemove(p,v){
  --p.all_count;
  p.ruts[v.rut]--;
  if (p.ruts[v.rut] === 0) {
      delete p.ruts[v.rut];
      p.count--;
  }
  if(v.dias_10 == true){
    p.ruts_10_dias[v.rut]--;
    if (p.ruts_10_dias[v.rut] === 0) {
        delete p.ruts_10_dias[v.rut];
        p.count_10_dias--;
    }
  }
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.consumidos -= v.consumidos;
  return p;
}

function reduceInitial(){
  return {
    rut: "",
    count: 0,
    all_count: 0,
    count_10_dias: 0,
    ruts: {},
    ruts_10_dias: {},
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    count: 0,
    consumidos: 0
  }
}

function reduceAddComplete(p,v){
  ++p.count;
  p.rut = v.rut;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.periodo_vacacion = v.periodo_vacacion;
  p.dias_10 = v.dias_10;
  p.consumidos += v.consumidos;
  return p;
}

function reduceRemoveComplete(p,v){
  --p.count;
  p.rut = v.rut;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.periodo_vacacion = v.periodo_vacacion;
  p.dias_10 = v.dias_10;
  p.consumidos -= v.consumidos;
  return p;
}

function reduceInitialComplete(){
  return {
    count: 0,
    rut: "",
    nombre: "",
    apellidos: "",
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    periodo_vacacion: "",
    dias_10: 0,
    consumidos: 0,
  }
}



function reduceAddMean(p,v){
  p.count++;

  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas + p.years;
  p.sumas_ingreso = p.sumas_ingreso + p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino++;

      p.sum_femenino = p.sum_femenino + p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso + p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino++;

      p.sum_masculino = p.sum_masculino + p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso + p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }
  return p;
}


function reduceRemoveMean(p,v){
  p.count--;
  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas - p.years;
  p.sumas_ingreso = p.sumas_ingreso - p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino--;
      p.sum_femenino = p.sum_femenino - p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso - p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino--;
      p.sum_masculino = p.sum_masculino - p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso - p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }

  return p;
}


function reduceInitialMean(){
  return {
    count: 0,
    years: 0,
    years_ingreso: 0,
    count_femenino: 0,
    count_femenino_ingreso: 0,
    sum_femenino: 0,
    sum_femenino_ingreso: 0,
    mean_femenino: 0,
    mean_femenino_ingreso: 0,
    count_masculino: 0,
    count_masculino_ingreso: 0,
    sum_masculino: 0,
    sum_masculino_ingreso: 0,
    mean_masculino: 0,
    mean_masculino_ingreso: 0,
    sumas: 0,
    sumas_ingreso: 0,
    mean_ingreso: 0,
    mean: 0
  }
}


$("#tabla").on("click",function() {
  $('#modal-tabla').modal('show');
  tabla.clear().rows.add(eachGroup.all().map(function(d){
    if (d.value.count == 1) return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.periodo_vacacion, d.value.dias_10,  d.value.consumidos]
  }).filter(Boolean)).draw();
});

function setGetParameter(paramName, paramValue)
{
    var url = window.location.href;
    var hash = location.hash;
    url = url.replace(hash, '');
    if (url.indexOf(paramName + "=") >= 0)
    {
        var prefix = url.substring(0, url.indexOf(paramName));
        var suffix = url.substring(url.indexOf(paramName));
        suffix = suffix.substring(suffix.indexOf("=") + 1);
        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
        url = prefix + paramName + "=" + paramValue + suffix;
    }
    else
    {
    if (url.indexOf("?") < 0)
        url += "?" + paramName + "=" + paramValue;
    else
        url += "&" + paramName + "=" + paramValue;
    }
    history.pushState({}, null,  url + hash);
    // window.location.href = url + hash;
}


</script>
<script type="text/javascript">
  (function() {
    $('body .page-container .sidebar-menu #main-menu li.vacaciones > a').addClass("active");
  }());
</script>
