<a href="javascript:;" class="btn btn-sm btn-danger" id="tabla">Tabla de formaciones</a>
<div class="container-fluid">
  <div class="row selectors-row" style="">
    <div class="col-xs-12 selectors" style="">
      <div class="row">
        <div class="col-xs-12 col-xs-7 title truncate" >
          <h1 class="truncate"><%= @current_division.upcase%></h1>
        </div>
        <div class="col-xs-5" >
          <div class="col-xs-12 pull-right">
            <div style="margin-left: 12px" class="header-selector sel">
                <a href="javascript:;" class="btn btn-default" id="download-data-old" disabled>Descargar Histórico</a>
            </div>
            <div style="margin-left: 12px" class="header-selector sel">
                <a href="javascript:;" class="btn btn-default" id="download-data" disabled>Descargar Actual</a>
            </div>          
            <div style="" class="header-selector sel">
              <!-- %= select_tag "month", options_for_select(@periodos, @currentPeriod)% -->
              <div class="input-group">
                <label class="input-group-btn" for="date-fld">
                  <input type="text" id="datepicker" value="<%= @current_period.to_s %>" class="form-control">
                  <span class="btn btn-default" id="dateButton">
                    <i class="entypo-calendar"></i>
                  </span>
                </label>
              </div>
            </div>
            <div class="sel" style="">MES: &nbsp;</div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div id="no-data" style="display:none">
    <div class="row" style="min-height:300px; background: white;">
      <div class="col-xs-12 col-md-12" >
        <h3>No hay datos almacenados para este mes sobre formación para <em style="text-decoration: underline">  <%= @current_division%> </em>. <br></h3>
        <h5 style="margin-top: 60px;">Estos son los últimos periodos con datos cargados para <em><%= @current_division%></em> :</h5>
          <hr>

        <div class="row" style="text-align: center;">
          <%ViewFormacion.pluck(:periodo).uniq.compact.sort_by { |periodo| periodo[3..7]+periodo[0..1] }.reverse.first(4).each do |periodo|%>
            <div class="col-xs-3" style="margin-top: 0px;">
              <p><b>Formación <%= periodo%></b></p>
              <%= link_to formaciones_path+"?division="+@current_division+"&periodo="+periodo, class: "btn btn-info" do%>
                Ver datos
              <%end%>
            </div>
          <%end%>
        </div>
          <hr>

        <div class="component-spinner s-200" style="display:none;">
          <span class="fa fa-spin fa-spinner"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="chart-data" style="display:block;">
    <div class="row group-box">
      <div class="col-md-12 info-box" style="padding-bottom: 10px;">
        <div class="title-box">
          <span  class="title-global"><%=image_tag "icono_formacion.png", height: 24 %> Formación <span id="titleDate">Febrero 2016</span>
          </span>
          <span class="pull-right hidden-xs">
            <%= render "/shared/manager_links"%>
          </span>
        </div>
        <div class="content-box">
          <div class="row">
            <div class="col-xs-12 col-md-12 screen-buttons" style="margin-top: 20px;">
              <a href="#clear" class="clean" style="text-decoration: underline;"> Limpiar filtros </a>
              <div class="title-actions-right pull-right">
                <a id="more-filters" href="javascript:void(0)"><span>Expandir</span><span class="entypo-plus"/></a>
                <a id="less-filters" href="javascript:void(0)"><span>Contraer</span><span class="entypo-minus"/></a></a>
              </div>
            </div>
            <hr>
          </div>
          <div class="row extra-filters chart-container" style="display:none;">
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                GÉNERO
                <a href="javascript:void(0)" class="cleanGenero" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-genero" ></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                TRAMO DE EDAD
                <a href="javascript:void(0)" class="cleanEdad" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="barchart-edad"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>

            <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
              <h4>
                ESTAMENTO
                <a href="javascript:void(0)" class="cleanPiramide" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-piramide"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-7" style="height:400px;margin-top: 30px;">
              <div class="kpi-container">
                <div class="kpi-box" style="">
                  <div class="kpi-title" style="">
                    <h4>TOTAL FORMACIÓN</h4>
                  </div>
                  <div class="kpi-content" style="float:left;width:50%; overflow:hidden;margin:10px 0px;">
                    <h2 class="">
                      <span id="total-formacion-value"></span><span class="units"><span class="units-block up-block">ASISTENTES</span><span class="units-block down-block formacion-date" id="">2016</span></span></h2>
                  </div>
                  <div class="kpi-content" style="float:left;width:50%; overflow:hidden;margin:10px 0px;">
                    <h2 class="">
                      <span id="total-cobertura-value"></span><span class="units"><span class="units-block up-block">PARTICIPANTES</span><span class="units-block down-block formacion-date" id="">2016</span></span></h2>
                  </div>
                </div>
              </div>

              <div class="col-md-5 chart-container" style="height:200px;">
                <h4 data-toggle="tooltip" data-placement="top" title="Total Participantes del mes sobre Plantilla Real"> <span class="employeeDate">FEB 2016</span></h4>
                <div class="chart" id="barchart-formacion-mes"></div>
                <div class="component-spinner s-130">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>
              <div class="col-md-7 chart-container" style="height:200px;">
                <h4 data-toggle="tooltip" data-placement="top" title="Total Participantes Acumulados al Periodo sobre Plantilla Real al Periodo"> ACUMULADA <span class="employeeDate">FEB 2016</span></h4>
                <div class="chart" id="barchart-formacion-acumulada"></div>
                <div class="component-spinner s-130">
                  <span class="fa fa-spin fa-spinner"></span>
                </div>
              </div>

            </div>
            <div class="col-xs-12 col-md-5 chart-container" style="height:400px;margin-top: 30px;">
              <h4>
                PARTICIPANTES POR MATERIA
                <a href="javascript:void(0)" class="cleanMotivos" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="pie-motivos"></div>
              <div class="component-spinner s-350">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 chart-container" style="height:200px;">
              <h4>
                <%= @current_division == "global" ? "DIVISIÓN" : "GERENCIA"%>
                <a href="javascript:void(0)" class="cleanDivision" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
              </h4>
              <div class="chart" id="bar-division"></div>
              <div class="component-spinner s-200">
                <span class="fa fa-spin fa-spinner"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row group-box">
      <div class="col-xs-12 col-md-12 info-box">
        <div class="title-box">
          <span>Evolutivo Mensual de Cobertura Formación </span>
        </div>
        <div class="content-box">
          <div class="col-md-12 chart-container" >
            <div class="chart" id="bar-historical"></div>
            <div class="component-spinner s-130">
              <span class="fa fa-spin fa-spinner"></span>
            </div>
            <div class="legend">
              <div class="legend-item">
                <div class="box" style="background:#FFCC03; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes actual
              </div>
              <div class="legend-item">
                <div class="box" style="background:#83959F; width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes con datos
              </div>
              <div class="legend-item">
                <div class="box" style="background:rgb(0, 190, 252); width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes año anterior
              </div>
              <div class="legend-item">
                <div class="box" style="background:rgba(128, 128, 128, 0.2); width:15px;height:15px;float: left;margin-right: 10px;"></div>
                Mes sin datos
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Content -->

<div class="modal fade custom-width" id="modal-tabla" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" style="width: 96%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"> <span>Listado de Formaciones </span></h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered datatable chart" id="table-empleados">
          <thead>
            <tr>
              <th data-hide="phone">RUT</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Género</th>
              <th data-hide="phone">Pirámide</th>
              <th data-hide="phone,tablet">Fecha Nac.</th>
              <th>Fecha Ingr.</th>
              <th>Periodo</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>

</div>


<script>

 $("#datepicker").datepicker({
  startDate: "01-2016",
  endDate:  "0d",
  format: "mm-yyyy",
  startView: 1,
  minViewMode: 1,
  language: "es",
  autoclose:true
});

 var piramideFilter = [];
 var areaFilter = [];
 var edadFilter = [];
 var generoFilter = [];
 var ingresoFilter = [];
 var programaFilter = [];
 var empresaFilter = [];
 var tipoFilter = [];

 var chartFormacionMes = null;
 var chartFormacionAcumulada = null;
 var chartMotivos = null;
 var chartHistorical = null;
 var chartDivision = null;
 var chartGenero = null;
 var chartPiramide = null;
 var chartEdad = null;
 var tabla = null;


  var selectedGroup = null;
  var currentByDivision = <%= @current_by_division.to_json.html_safe %>;
  var oldByDivision = <%= @old_by_division.to_json.html_safe %>;
  var lastByDivision = <%= @last_by_division.to_json.html_safe %>;


  // var tabla = null;
  var currentDivision = "<%= @current_division%>";
  var currentMonth = "<%= @current_month %>";
  var currentMonth2 = "<%= @current_month2 %>";
  var months = <%= raw @months %>;
  var months2 = <%= raw @months2 %>;
  var current_year;
  var prev_year;
  var subGroups = [];
  var periodos = <%=raw @periods %>;
  var years = <%= raw @years %>;
  var dotacionesYear1 = <%= raw @dotaciones_year_1 %>;
  var dotacionesYear2 = <%= raw @dotaciones_year_2 %>;
  var currentPeriod;

  $( document ).ready(function() {
    currentPeriod = "<%= @current_period.to_s %>";
    current_year = currentPeriod.slice(3, currentPeriod.length);
    $('#titleDate').html( currentMonth2 + " " + current_year );
    $('.formacion-date').html(  current_year );
    $('#dateButton').click( function() {
      $('#datepicker').datepicker("show");
    })
    $('.employeeDate').html( currentMonth + " " + current_year );

    loadData(currentPeriod, currentDivision);

    $("#less-filters").on("click", function() {
     $('.extra-filters').toggle("slide");
     $('#less-filters').toggle("slide");
     $('#more-filters').toggle("slide");
   });

    $("#more-filters").on("click",
      function() {
        $('.extra-filters').toggle("slide");
        $('#less-filters').toggle("slide");
        $('#more-filters').toggle("slide");
        resizeCharts();
      }
      );

    $("#datepicker").on("changeDate", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      currentPeriod = $("#datepicker").val();
      currentMonth = months[($("#datepicker").val().substring(0,2)-1)];
      currentMonth2 = months2[($("#datepicker").val().substring(0,2)-1)];
      current_year = currentPeriod.slice(3, currentPeriod.length);
      periodos = [moment(currentPeriod, ["MM-YYYY"]).subtract(1, 'years').format("MM-YYYY"), currentPeriod];
      $('#titleDate').html( currentMonth2 + " " + current_year );
      $('.employeeDate').html( currentMonth + " " + current_year );
      loadData(currentPeriod, currentDivision);
      setGetParameter("periodo", currentPeriod);
      $('.formacion-date').html(  current_year );
      _($("#main-menu a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
      _($(".quick-links a")).forEach(function(d){ $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))} );
    });
    $("#dotaciones").on("change", function(){
      $(".chart").html("");
      $(".component-spinner").show();
      current_division = encodeURIComponent($("#dotaciones").val());
      loadData(currentPeriod, currentDivision);

    });
  });

  function loadData(period, division){
    d3.json("<%= api_v1_estructura_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
      if (error){
        return console.warn(error);
      }else{
        subGroups = data.data;
        d3.json("<%= api_v1_formaciones_data_path%>"+"?period="+period+"&division="+division, function(error, data) {
          if (error){
            return console.warn(error);
          }
          else{
            dataYear1 = [];
            dataYear2 = [];
            var i = 0
            data.forEach(function(d){
              if (moment(d.periodo_formacion, "mm-YYYY").year() == parseInt(current_year)){
                d.count = i;
                dataYear2.push(d);
              }
              else{
                d.count = i;
                dataYear1.push(d);
              }
              i++;
            });
            if(dataYear2 == 0){
              $("#chart-data").hide();
              $("#no-data").show();
              $(".component-spinner").hide();
              $("#download-data").prop("disabled", true);
              $("#download-data-old").prop("disabled", true);
              // alert("No hay datos disponibles para el periodos seleccionado.")
            }else{
              $("#chart-data").show();
              $("#no-data").hide();
              $("#download-data").removeAttr('disabled');
              $("#download-data-old").removeAttr('disabled');
              formaciones = crossfilter(dataYear2);
              formacionesOld = crossfilter(dataYear1);
              rutDimension = formaciones.dimension(function(d) {
                return d.rut;
              });

              var past_year_months = _.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) });
              var current_year_months = _.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) });


              eachDimension = formaciones.dimension(function(d) {
                return d.count;
              });


              blockDimension = formaciones.dimension(function(d){
                if (current_year_months.indexOf(d.periodo_formacion) >= 0){
                  return "active"
                } else{
                  return "inactive"
                }
              });
              blockDimensionOld = formacionesOld.dimension(function(d){
                if (past_year_months.indexOf(d.periodo_formacion) >= 0){
                  return "active"
                } else{
                  return "inactive"
                }
              });


              // var first_year_acumulated = _.sum(_.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroupOld.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear1[index]; else return 0}));

              // var second_year_acumulated = _.sum(_.times(months.indexOf(currentMonth)+1).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear2[index]; else return 0}));

              // var first_year_total = _.sum(_.times(12).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroupOld.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear1[index]; else return 0}));

              // var second_year_anualized = _.sum(_.times(12-(months.indexOf(currentMonth)+1)).map(function(d, index){ return (moment({y: years[0], M: index+1+(months.indexOf(currentMonth))}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroupOld.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear1[index+months.indexOf(currentMonth)+1]; else return 0}))+second_year_acumulated;

              tipoDimension = formaciones.dimension(function(d) {
                return d.materia;
              });
              tipoDimensionOld = formacionesOld.dimension(function(d) {
                return d.materia;
              });

              if (currentDivision == "global") {
                divisionDimension = formaciones.dimension(function(d) {
                  return d.division;
                });
                divisionDimensionOld = formacionesOld.dimension(function(d) {
                  return d.division;
                });
              } else {
                divisionDimension = formaciones.dimension(function(d) {
                  return d.gerencia;
                });
                divisionDimensionOld = formacionesOld.dimension(function(d) {
                  return d.gerencia;
                });
              }

            periodoDimension = formaciones.dimension(function(d) {
              return d.periodo_formacion;
            });
            periodoDimensionOld = formacionesOld.dimension(function(d) {
              return d.periodo_formacion;
            });



            piramideDimension = formaciones.dimension(function(d) {
              if (d.piramide == "Gerentes"){
                return "     "+d.piramide;
              }
              else if (d.piramide == "Subgerentes"){
                return "    "+d.piramide;
              }
              else if (d.piramide == "Jefaturas"){
                return "   "+d.piramide;
              }
              else if (d.piramide == "Profesionales"){
                return "  "+d.piramide;
              }
              else if (d.piramide == "Administrativos"){
                return " "+d.piramide;
              }else{
                return d.piramide;

              }
            });
            piramideDimensionOld = formacionesOld.dimension(function(d) {
              if (d.piramide == "Gerentes"){
                return "     "+d.piramide;
              }
              else if (d.piramide == "Subgerentes"){
                return "    "+d.piramide;
              }
              else if (d.piramide == "Jefaturas"){
                return "   "+d.piramide;
              }
              else if (d.piramide == "Profesionales"){
                return "  "+d.piramide;
              }
              else if (d.piramide == "Administrativos"){
                return " "+d.piramide;
              }else{
                return d.piramide;

              }
            });

            generoDimension = formaciones.dimension(function(d) {
              return d.sexo;
            });
            generoDimensionOld = formacionesOld.dimension(function(d) {
              return d.sexo;
            });

            //  areaDimension = formaciones.dimension(function(d) {
            //   if (d.tipo_area == null) return "ND";
            //   else return d.tipo_area;
            // });

            //  empresaDimension = formaciones.dimension(function(d) {
            //   return d.nombre_empresa;
            // });

            edadDimension = formaciones.dimension(function(d) {
              var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_nacimiento, 'years');
              if (years >= 55) return "55 o más";
              else if (years < 55 && years >= 52) return "52-54";
              else if (years < 52 && years >= 45) return "45-51";
              else if (years < 45 && years >= 37) return "37-44";
              else if (years < 37 && years >= 31) return "31-36";
              else if (years < 31 && years >= 25) return "25-31";
              else if (years < 25 && years >= 18) return "18-24";
              return "ND"
            });
            edadDimensionOld = formacionesOld.dimension(function(d) {
              var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(d.fecha_nacimiento, 'years');
              if (years >= 55) return "55 o más";
              else if (years < 55 && years >= 52) return "52-54";
              else if (years < 52 && years >= 45) return "45-51";
              else if (years < 45 && years >= 37) return "37-44";
              else if (years < 37 && years >= 31) return "31-36";
              else if (years < 31 && years >= 25) return "25-31";
              else if (years < 25 && years >= 18) return "18-24";
              return "ND"
            });



            allDimension = formaciones.dimension(function(d) {
              return "all";
            });
            allDimensionOld = formacionesOld.dimension(function(d) {
              return "all";
            });

              eachGroup = eachDimension.group().reduce(reduceAddComplete, reduceRemoveComplete, reduceInitialComplete);
            rutGroup = rutDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            allGroup = allDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            allGroupOld = allDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            edadGroup = edadDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            edadGroupOld = edadDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            blockGroup = blockDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            blockGroupOld = blockDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            piramideGroup = piramideDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            piramideGroupOld = piramideDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            generoGroup = generoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            generoGroupOld = generoDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            periodoGroup = periodoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            periodoGroupOld = periodoDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            divisionGroup = divisionDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            divisionGroupOld = divisionDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            tipoGroup = tipoDimension.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            tipoGroupOld = tipoDimensionOld.group().reduce(reduceAdd, reduceRemove, reduceInitial);
            allGroupMean = allDimension.group().reduce(reduceAddMean, reduceRemoveMean, reduceInitialMean);


            // areaFilter = areaGroup.all().map(function(d){ return d.key});
            // edadFilter = edadGroup.all().map(function(d){ return d.key});
            // piramideFilter = piramideGroup.all().map(function(d){ return d.key});
            // generoFilter = generoGroup.all().map(function(d){ return d.key});
            // ingresoFilter = ingresoGroup.all().map(function(d){ return d.key});
            // programaFilter = programaGroup.all().map(function(d){ return d.key});
            // empresaFilter = empresaGroup.all().map(function(d){ return d.key});
            // tipoFilter = tipoGroup.all().map(function(d) { return d.key; });
            // divisionFilter = divisionGroup.all().map(function(d) { return d.key; });
            // periodoFilter = periodoGroup.all().map(function(d) { return d.key; });

            $(".component-spinner").hide();
            /*Get size fathers element*/
            var widthFormacionesMes = $('#barchart-formacion-mes').width();
            var widthFormacionesAcumulada = $('#barchart-formacion-acumulada').width();
            var widthEdades = $('#barchart-edad').width();
            var widthPiramide = $('#pie-piramide').width();
            var widthGenero = $('#pie-genero').width();
            var widthDivision = $('#bar-division').width();
            var widthMotivos = $('#pie-motivos').width();
            var widthHistorical = $("#bar-historical").width();

            $("#total-cobertura-value").html((allGroup.all()[0] || {value: {count: 0}}).value.count.toLocaleString("es-ES"));
            $("#total-formacion-value").html((allGroup.all()[0] || {value: {all_count: 0}}).value.all_count.toLocaleString("es-ES"));

            // $("#count-value").html(allGroup.all()[0].value.count);

            // var formacionesMesValues = periodos.map(function(d){
            //  return _.filter(periodoGroup.all(), _.matches({ 'key': d }))[0]}).map(function(o) {
            //    if (o != undefined){
            //      return o.value.count;
            //    } else {
            //      return 0;
            //    }
            //  });

            //  formacionesMesValues[0] = formacionesMesValues[0]/dotacionesYear1[months.indexOf(currentMonth)];
            //  formacionesMesValues[1] = formacionesMesValues[1]/dotacionesYear2[months.indexOf(currentMonth)];

              var formacionesMesOld = _.find(periodoGroupOld.all(), {"key": periodos[0]}) || {value: {count: 0}};
              var formacionesMes = _.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {count: 0}};

              chartFormacionMes = d3.cloudshapes.barChartMultiColor().setColors(["#33AACC", "#83959F"]).width(widthFormacionesMes).data([formacionesMesOld.value.count * 100 / dotacionesYear1[months.indexOf(currentMonth)], formacionesMes.value.count * 100 / dotacionesYear2[months.indexOf(currentMonth)] ]).dataTitle("Formación").dataUnit("%").labels(periodos).height(160).margin({top: 20, right: 30, bottom: 30, left: 65}).labelRotation(15).labelSize(8).selectable(false);

              var first_year_acumulated = (_.find(blockGroupOld.all(), {"key": "active"}) || {value: {count: 0}}).value.count*100/dotacionesYear1[months.indexOf(currentMonth)];
              var second_year_acumulated = (_.find(blockGroup.all(), {"key": "active"}) || {value: {count: 0}}).value.count*100/dotacionesYear2[months.indexOf(currentMonth)];;
              var first_year_total = (allGroupOld.all()[0] || {value: {count: 0}}).value.count*100/dotacionesYear1[11];
              var second_year_anualized = second_year_acumulated*12/(months.indexOf(currentMonth)+1);


              chartFormacionAcumulada = d3.cloudshapes.barChartMultiColor().setColors(["#33AACC", "#83959F","#33AACC", "#83959F"]).labels(["Acumulado "+ moment(currentPeriod, ["MM-YYYY"]).subtract(1, 'years').format("YYYY"), "Acumulado "+ current_year , "Total "+moment(currentPeriod, ["MM-YYYY"]).subtract(1, 'years').format("YYYY") , "Anualizado "+current_year]).dataTitle("Formación Acumulada").dataUnit("%").width(widthFormacionesAcumulada).data([first_year_acumulated, second_year_acumulated, first_year_total, second_year_anualized]).height(160).margin({top: 20, right: 30, bottom: 30, left: 65}).labelRotation(15).labelSize(8).selectable(false);

                //TODO revisar como se introducen las labels aqui!

              chartMotivos = d3.cloudshapes.donutChartSantander().width(widthMotivos).data(tipoGroup.all().map(function(d){return d.value.count})).dataTitle("Materia").dataUnit("Personas").labels(tipoGroup.all().map(function(d){return d.key})).innRadius(35).outRadius(70).height(250).margin({top: 160, right: 0, bottom: 0, left: 0}).showLegend(true).showLabel(true);;

              var first_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroupOld.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count*100/dotacionesYear1[index]; else return 0});

              var second_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d,index){if(d) return d.value.count*100/dotacionesYear2[index]; else return 0});

              chartHistorical = d3.cloudshapes.plantillaChartSantander().width(widthHistorical).data(second_year_historical).lineData(first_year_historical).dataTitle(<%= raw [@year.to_s, @prev_year.to_s]%>).dataUnit("%").labels(<%= raw @months %>).height(180).margin({top: 15, right: 20, bottom: 20, left: 80}).currentMonth(currentMonth);

              chartDivision = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(subGroups).dataTitle("Formaciones").dataUnit("P").width(widthDivision).data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {count: 0}}}).map(function(d){return d.value.count})).height(160).margin({top: 20, right: 20, bottom: 80, left: 80}).labelRotation(15).labelSize(8);

              chartGenero = d3.cloudshapes.donutChartSantander().width(widthGenero).data(generoGroup.all().map(function(d){return d.value.count})).dataTitle("Formaciones").dataUnit("P").labels(generoGroup.all().map(function(d){return d.key})).innRadius(30).outRadius(45).height(150).legendY(30).margin({top: 110, right: 10, bottom: 40, left: 0});

              chartPiramide = d3.cloudshapes.donutChartSantander().width(widthPiramide).data(piramideGroup.all().map(function(d){return d.value.count})).dataTitle("Formaciones").dataUnit("P").labels(piramideGroup.all().map(function(d){return d.key})).innRadius(0).outRadius(45).height(150).margin({top: 130, right: 10, bottom: 40, left: 30});

              chartEdad = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(edadGroup.all().map(function(d){return d.key})).dataTitle("Formaciones").dataUnit("P").width(widthEdades).data(edadGroup.all().map(function(d){return d.value.count})).height(170).margin({top: 80, right: 0, bottom: 0, left: 10}).labelRotation(15).labelSize(8).linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]).linesColors(["#5635cb", "#ffcc03", "#ff0000"]).linesTitles(["Hombres", "Mujeres", "Total"]).showYaxis(false);

              if (tabla != null) tabla.destroy();
              tabla = $('#table-empleados').DataTable( {
                data: [],
                columns: [
                { title: "RUT" },
                { title: "Nombre" },
                { title: "Apellidos" },
                { title: "Materia" },
                { title: "Nombre del Curso" },
                { title: "Modalidad" },
                { title: "Horas" },
                { title: "Periodo" }
                ]
              });


              d3.select("#barchart-formacion-mes").call(chartFormacionMes);
              d3.select("#barchart-formacion-acumulada").call(chartFormacionAcumulada);
              d3.select("#barchart-edad").call(chartEdad);
              d3.select("#pie-motivos").call(chartMotivos);
              d3.select("#bar-historical").call(chartHistorical);
              d3.select("#pie-genero").call(chartGenero);
              d3.select("#pie-piramide").call(chartPiramide);
              d3.select("#bar-division").call(chartDivision);

              // chartHistorical.onClickFunction(function(month){
              //   $("#datepicker").datepicker('update', new Date(current_year, month, 1));
              //   $("#datepicker").trigger('changeDate');
              // });

              // chartFormacionMes.onClickFunction(function(elem, chart, entry){
              //   if ($(elem).parent().hasClass("_selected_")){
              //     periodoFilter = new Array(entry);
              //   } else {
              //     periodoFilter = periodoGroup.all().map(function(d) { return d.key; });
              //   }
              //   periodoDimension.filterFunction(function(d) {
              //     return periodoFilter.indexOf(d) != -1
              //   });
              //   updateData();
              // });

              // chartFormacionAcumulada.onClickFunction(function(elem, chart, entry){
              //   if ($(elem).parent().hasClass("_selected_")){
              //     periodoFilter = new Array(entry);
              //   } else {
              //     periodoFilter = periodoGroup.all().map(function(d) { return d.key; });
              //   }
              //   periodoDimension.filterFunction(function(d) {
              //     return periodoFilter.indexOf(d) != -1
              //   });
              //   updateData();
              // });

              chartMotivos.onClickFunction(function(elem, chart, entry){
                if ($(elem).parent().hasClass("_selected_")){
                  tipoFilter = new Array(entry);
                  $('.cleanMotivos').show();
                  tipoDimension.filterFunction(function(d) {
                    return tipoFilter.indexOf(d) != -1
                  });
                  tipoDimensionOld.filterFunction(function(d) {
                    return tipoFilter.indexOf(d) != -1
                  });
                }else{
                  tipoFilter = tipoGroup.all().map(function(d) { return d.key; });
                  $('.cleanMotivos').hide();
                  tipoDimension.filter(null);
                  tipoDimensionOld.filter(null);
                }
                updateData();
              });

              chartGenero.onClickFunction(function(elem, chart, entry){
                if ($(elem).parent().hasClass("_selected_")){
                  generoFilter = new Array(entry);
                  $('.cleanGenero').show();
                  generoDimension.filterFunction(function(d) {
                    return generoFilter.indexOf(d) != -1
                  });
                  generoDimensionOld.filterFunction(function(d) {
                    return generoFilter.indexOf(d) != -1
                  });
                }else{
                  generoFilter = generoGroup.all().map(function(d){ return d.key});
                  $('.cleanGenero').hide();
                  generoDimension.filter(null);
                  generoDimensionOld.filter(null);
                }

                updateData();

              });

              chartPiramide.onClickFunction(function(elem, chart, entry){
                if ($(elem).parent().hasClass("_selected_")){
                  piramideFilter = new Array(entry);
                  $('.cleanPiramide').show();
                  piramideDimension.filterFunction(function(d) {
                    return piramideFilter.indexOf(d) != -1
                  });
                  piramideDimensionOld.filterFunction(function(d) {
                    return piramideFilter.indexOf(d) != -1
                  });
                }else{
                  piramideFilter = piramideGroup.all().map(function(d){ return d.key});
                  $('.cleanPiramide').hide();
                  piramideDimension.filter(null);
                  piramideDimensionOld.filter(null);
                }

                updateData();
              });

              chartDivision.onClickFunction(function(elem, chart, entry){
                if ($(elem).parent().hasClass("_selected_")){
                  divisionFilter = new Array(entry);
                  $('.cleanDivision').show();
                  divisionDimension.filterFunction(function(d) {
                    return divisionFilter.indexOf(d) != -1
                  });
                  divisionDimensionOld.filterFunction(function(d) {
                    return divisionFilter.indexOf(d) != -1
                  });
                  selectedGroup = entry;

                }else{
                  divisionFilter = divisionGroup.all().map(function(d) { return d.key; });
                  $('.cleanDivision').hide();
                  divisionDimension.filter(null);
                  divisionDimensionOld.filter(null);
                  selectedGroup = null;

                }

                updateData();
              });

              chartEdad.onClickFunction(function(elem, chart, entry){
                if ($(elem).parent().hasClass("_selected_")){
                  edadFilter = new Array(entry);
                  $('.cleanEdad').show();
                  edadDimension.filterFunction(function(d) {
                    return edadFilter.indexOf(d) != -1
                  });
                  edadDimensionOld.filterFunction(function(d) {
                    return edadFilter.indexOf(d) != -1
                  });
                }else{
                  edadFilter = edadGroup.all().map(function(d){ return d.key});
                  $('.cleanEdad').hide();
                  edadDimension.filter(null);
                  edadDimensionOld.filter(null);
                }

                updateData();
              });


              function updateData(){
                $("#total-cobertura-value").html((allGroup.all()[0] || {value: {count: 0}}).value.count.toLocaleString("es-ES"));
                $("#total-formacion-value").html((allGroup.all()[0] || {value: {all_count: 0}}).value.all_count.toLocaleString("es-ES"));

                var formacionesMesOld = _.find(periodoGroupOld.all(), {"key": periodos[0]}) || {value: {count: 0}};
                var formacionesMes = _.find(periodoGroup.all(), {"key": periodos[1]}) || {value: {count: 0}};
                var first_year_acumulated = (_.find(blockGroupOld.all(), {"key": "active"}) || {value: {count: 0}}).value.count*100/(oldByDivision[selectedGroup]|| _.sum(_.map(oldByDivision,function(d){return d})));
                var second_year_acumulated = (_.find(blockGroup.all(), {"key": "active"}) || {value: {count: 0}}).value.count*100/(currentByDivision[selectedGroup]|| _.sum(_.map(currentByDivision,function(d){return d})));
                var first_year_total = (allGroupOld.all()[0] || {value: {count: 0}}).value.count*100/(lastByDivision[selectedGroup]|| _.sum(_.map(lastByDivision,function(d){return d})));
                var second_year_anualized = second_year_acumulated*12/(months.indexOf(currentMonth)+1);

                chartFormacionMes.data([
                  formacionesMesOld.value.count *100/ (oldByDivision[selectedGroup]|| _.sum(_.map(oldByDivision,function(d){return d}))), 
                  formacionesMes.value.count *100/ (currentByDivision[selectedGroup]|| _.sum(_.map(currentByDivision,function(d){return d})))
                ]);

                chartFormacionAcumulada.data( [first_year_acumulated, second_year_acumulated, first_year_total, second_year_anualized] );

                chartMotivos.data(tipoGroup.all().map(function(d){return d.value.count}));

                // first_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[0], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d, index){if(d) return d.value.count/dotacionesYear1[index]; else return 0});

                // second_year_historical = _.times(12).map(function(d, index){ return (moment({y: years[1], M: index}).format("MM-YYYY")) }).map(function(d){ return _.find(periodoGroup.all(), {"key": d})}).map(function(d,index){if(d) return d.value.count/dotacionesYear2[index]; else return 0});
                // chartHistorical.data(second_year_historical);

                chartDivision.data(subGroups.map(function(d){ return _.find(divisionGroup.all(), {"key": d}) || {key: d, value: {count: 0}}}).map(function(d){return d.value.count}));
                chartGenero.data(generoGroup.all().map(function(d){return d.value.count}));
                chartPiramide.data(piramideGroup.all().map(function(d){return d.value.count}));
                chartEdad.data(edadGroup.all().map(function(d){return d.value.count}));
                chartEdad.linesData([allGroupMean.all()[0].value.mean_masculino,allGroupMean.all()[0].value.mean_femenino, allGroupMean.all()[0].value.mean]);

              }

              $(window).on('resize', function(){
                resizeCharts();
              });

              $('.clean').click( function() {
                cleanFilters();
              });

              $('.cleanMotivos').click( function() {
                chartMotivos.cleanFilter();
              });
              $('.cleanDivision').click( function() {
                chartDivision.cleanFilter();
              });
              $('.cleanGenero').click( function() {
                chartGenero.cleanFilter();
              });
              $('.cleanPiramide').click( function() {
                chartPiramide.cleanFilter();
              });
              $('.cleanEdad').click( function() {
                chartEdad.cleanFilter();
              });
            }
          }
        }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");
      }
    }).header("token","0c29c432157a4ce49509f3d4bed5089c").send("GET");

}

function resizeCharts(){
  chartFormacionMes.width($('#barchart-formacion-mes').parent().width());
  chartFormacionAcumulada.width($('#barchart-formacion-acumulada').parent().width());
  chartMotivos.width($('#pie-motivos').parent().width());
  chartHistorical.width($('#bar-historical').parent().width());
  chartDivision.width($('#bar-division').parent().width());
  chartGenero.width($('#pie-genero').parent().width());
  chartPiramide.width($('#pie-piramide').parent().width());
  chartEdad.width($('#barchart-edad').parent().width());
}

function cleanFilters(){
  chartFormacionMes.cleanFilter();
  chartFormacionAcumulada.cleanFilter();
  chartMotivos.cleanFilter();
  chartDivision.cleanFilter();
  chartGenero.cleanFilter();
  chartPiramide.cleanFilter();
  chartEdad.cleanFilter();
}

function adjustUrlParameter(url, value) {
  if (url.match(/(periodo=)/)) {
    return url.replace(/\periodo=.+$/, "periodo="+value)
  } else {
    return url + "?periodo=" + value;
  }
}



function setGetParameter(paramName, paramValue)
{
    var url = window.location.href;
    var hash = location.hash;
    url = url.replace(hash, '');
    if (url.indexOf(paramName + "=") >= 0)
    {
        var prefix = url.substring(0, url.indexOf(paramName));
        var suffix = url.substring(url.indexOf(paramName));
        suffix = suffix.substring(suffix.indexOf("=") + 1);
        suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
        url = prefix + paramName + "=" + paramValue + suffix;
    }
    else
    {
    if (url.indexOf("?") < 0)
        url += "?" + paramName + "=" + paramValue;
    else
        url += "&" + paramName + "=" + paramValue;
    }
    history.pushState({}, null,  url + hash);
    // window.location.href = url + hash;
}



function reduceAdd(p,v){
  ++p.all_count;
  if (v.rut in p.ruts) p.ruts[v.rut]++;
  else {
      p.ruts[v.rut] = 1;
      p.count++;
  }
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}

function reduceRemove(p,v){
  --p.all_count;
  p.ruts[v.rut]--;
  if (p.ruts[v.rut] === 0) {
      delete p.ruts[v.rut];
      p.count--;
  }
  p.rut = v.rut;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  return p;
}

function reduceInitial(){
  return {
    rut: "",
    count: 0,
    all_count: 0,
    ruts: {},
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    count: 0
  }
}

function reduceAddComplete(p,v){
  ++p.count;
  p.rut = v.rut;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.materia = v.materia;
  p.nombre_del_curso = v.nombre_del_curso;
  p.modalidad = v.modalidad;
  p.horas = v.horas;
  p.periodo_formacion = v.periodo_formacion;
  return p;
}

function reduceRemoveComplete(p,v){
  --p.count;
  p.rut = v.rut;
  p.nombre = v.nombre;
  p.apellidos = v.apellidos;
  p.genero = v.sexo;
  p.piramide = v.piramide;
  p.fecha_nacimiento = v.fecha_nacimiento;
  p.fecha_ingreso = v.fecha_ingreso_grupo;
  p.materia = v.materia;
  p.nombre_del_curso = v.nombre_del_curso;
  p.modalidad = v.modalidad;
  p.horas = v.horas;
  p.periodo_formacion = v.periodo_formacion;
  return p;
}

function reduceInitialComplete(){
  return {
    count: 0,
    rut: "",
    nombre: "",
    apellidos: "",
    genero: "",
    piramide: "",
    fecha_nacimiento: "",
    fecha_ingreso: "",
    materia: "",
    nombre_del_curso: "",
    modalidad: "",
    horas: 0,
    periodo_formacion: ""

  }
}


function reduceAddMean(p,v){
  p.count++;

  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas + p.years;
  p.sumas_ingreso = p.sumas_ingreso + p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino++;

      p.sum_femenino = p.sum_femenino + p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso + p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino++;

      p.sum_masculino = p.sum_masculino + p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso + p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }
  return p;
}


function reduceRemoveMean(p,v){
  p.count--;
  p.years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_nacimiento, 'years') || 0;
  p.years_ingreso = moment(currentPeriod, "MM-YYYY").endOf('month').diff(v.fecha_ingreso_grupo, 'years') || 0;

  p.sumas = p.sumas - p.years;
  p.sumas_ingreso = p.sumas_ingreso - p.years_ingreso;

  p.mean =  d3.round((p.sumas/p.count),2);
  p.mean_ingreso =  d3.round((p.sumas_ingreso/p.count),2);

  if (v.sexo == "Femenino"){
      p.count_femenino--;
      p.sum_femenino = p.sum_femenino - p.years;
      p.sum_femenino_ingreso = p.sum_femenino_ingreso - p.years_ingreso;

      p.mean_femenino =  d3.round((p.sum_femenino/p.count_femenino),2) || 0;
      p.mean_femenino_ingreso =  d3.round((p.sum_femenino_ingreso/p.count_femenino),2) || 0;

  }
  if (v.sexo == "Masculino"){
      p.count_masculino--;
      p.sum_masculino = p.sum_masculino - p.years;
      p.sum_masculino_ingreso = p.sum_masculino_ingreso - p.years_ingreso;

      p.mean_masculino =  d3.round((p.sum_masculino/p.count_masculino),2) || 0;
      p.mean_masculino_ingreso =  d3.round((p.sum_masculino_ingreso/p.count_masculino),2) || 0;

  }

  return p;
}


function reduceInitialMean(){
  return {
    count: 0,
    years: 0,
    years_ingreso: 0,
    count_femenino: 0,
    count_femenino_ingreso: 0,
    sum_femenino: 0,
    sum_femenino_ingreso: 0,
    mean_femenino: 0,
    mean_femenino_ingreso: 0,
    count_masculino: 0,
    count_masculino_ingreso: 0,
    sum_masculino: 0,
    sum_masculino_ingreso: 0,
    mean_masculino: 0,
    mean_masculino_ingreso: 0,
    sumas: 0,
    sumas_ingreso: 0,
    mean_ingreso: 0,
    mean: 0
  }
}



<% if !current_user.view_gerentes %> 
$("#tabla").on("click",function() {
  $('#modal-tabla').modal('show');
  tabla.clear().rows.add(eachGroup.all().map(function(d){
    if (d.value.count == 1){ 
      if(d.value.piramide != "Gerentes"){
        return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.materia, d.value.nombre_del_curso, d.value.modalidad, d.value.horas, d.value.periodo_formacion]
      }else{
          return ["Gerente", "ND", "ND", "ND", "ND", "ND", "ND", "ND"]
      }
    }
  }).filter(Boolean)).draw();
});

<%else%>
$("#tabla").on("click",function() {
  $('#modal-tabla').modal('show');
  tabla.clear().rows.add(eachGroup.all().map(function(d){
    if (d.value.count == 1){ 
        return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.materia, d.value.nombre_del_curso, d.value.modalidad, d.value.horas, d.value.periodo_formacion]
    }
  }).filter(Boolean)).draw();
});

<%end%>


</script>
<script type="text/javascript">
  (function() {
    $('body .page-container .sidebar-menu #main-menu li.forma > a').addClass("active");
  }());
</script>


