  <div class="header-selector sel" style="margin-left: 36px">
  <h3>Selecciona tu división</h3>

</div>
 <%if (current_user.rol == 1 or  current_user.rol == 2)%>
      <div class="list-container">
        <a onclick="goSelected('dotaciones')">
          <%=image_tag "icono_dota.png"%>
          <span>Dotaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'dotaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Dotaciones', id: 'dotaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'dotaciones'} %>
      </div>

      <div class="list-container">
        <a onclick="goSelected('rotaciones')">
          <%=image_tag "icono_rotacion.png"%>
          <span>Egresos</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'rotaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Egresos', id: 'rotaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'rotaciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('movimientos')">
          <%=image_tag "icono_gest.png"%>
          <span>Promociones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'movimientos'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Promociones', id: 'movimientos' } %>
        <%= render 'managers/index/button', locals: {id: 'movimientos'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('remuneraciones')">
          <%=image_tag "icono_rem.png"%>
          <span>Compensaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'remuneraciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Compensaciones', id: 'remuneraciones' } %>
        <%= render 'managers/index/button', locals: {id: 'remuneraciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('formaciones')">
          <%=image_tag "icono_formacion.png"%>
          <span>Formaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'formaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Formaciones', id: 'formaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'formaciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('licencias')">
          <%=image_tag "ico_licencias.png" %>
          <span>Licencias</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'licencias'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Licencias', id: 'licencias' } %>
        <%= render 'managers/index/button', locals: {id: 'licencias'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('vacaciones')">
          <%=image_tag "icono_vacacion.png"%>
          <span>Vacaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'vacaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Vacaciones', id: 'vacaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'vacaciones'} %>
      </div>
 
  <%else%>
      <div class="list-container">
          <a onclick="goSelected('dotaciones')">
          <%=image_tag "icono_dota.png"%>
          <span>Dotaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'dotaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Dotaciones', id: 'dotaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'dotaciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('rotaciones')">
          <%=image_tag "icono_gest.png"%>
          <%=image_tag "icono_rotacion.png"%>
          <span>Egresos</span>
        </a>
      </div>
        <%= render 'managers/index/datepicker', locals: {id: 'rotaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Egresos', id: 'rotaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'rotaciones'} %>
      <div class="list-container">
        <a onclick="goSelected('movimientos')">
          <%=image_tag "icono_gest.png"%>
          <span>Promociones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'movimientos'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Promociones', id: 'movimientos' } %>
        <%= render 'managers/index/button', locals: {id: 'movimientos'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('remuneraciones')">
          <%=image_tag "icono_rem.png"%>
          <span>Compensaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'remuneraciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Compensaciones', id: 'remuneraciones' } %>
        <%= render 'managers/index/button', locals: {id: 'remuneraciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('formaciones')">
          <%=image_tag "icono_formacion.png"%>
          <span>Formaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'formaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Formaciones', id: 'formaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'formaciones'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('licencias')">
          <%=image_tag "ico_licencias.png"%>
          <span>Licencias</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'licencias'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Licencias', id: 'licencias' } %>
        <%= render 'managers/index/button', locals: {id: 'licencias'} %>
      </div>
      <div class="list-container">
        <a onclick="goSelected('vacaciones')">
          <%=image_tag "icono_vacacion.png"%>
          <span>Vacaciones</span>
        </a>
        <%= render 'managers/index/datepicker', locals: {id: 'vacaciones'} %>
        <%= render 'managers/index/divisiones', locals: {title: 'Vacaciones', id: 'vacaciones' } %>
        <%= render 'managers/index/button', locals: {id: 'vacaciones'} %>
      </div>

  <%end%>

<script>
    var urls = {
      dotaciones: {url: '<%= dotaciones_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      rotaciones: {url: '<%= rotaciones_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      movimientos: {url: '<%= movimientos_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      remuneraciones: {url: '<%= remuneraciones_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      formaciones: {url: '<%= formaciones_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      licencias: {url: '<%= licencias_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' },
      vacaciones: {url: '<%= vacaciones_path %>', periodo: '<%= @periodo_list %>', division: '', text:'' }
    }

    $(".dp-dotaciones,.dp-rotaciones,.dp-movimientos,.dp-remuneraciones,.dp-formaciones,.dp-licencias,.dp-vacaciones").datepicker({
        startDate: "01-2016",
        endDate:  "0d",
        format: "mm-yyyy",
        startView: 1,
        minViewMode: 1,
        language: "es",
        autoclose:true
    });
    
    $( document ).ready(function(){
        $('#dateButton-dotaciones,#dateButton-rotaciones,#dateButton-movimientos,#dateButton-remuneraciones,#dateButton-formaciones,#dateButton-licencias,#dateButton-vacaciones').click( function(e) {
            const selected = e.currentTarget.id.split('-')[1];
            $('.dp-' + selected).datepicker("show");
        })

        $(".dp-dotaciones,.dp-rotaciones,.dp-movimientos,.dp-remuneraciones,.dp-formaciones,.dp-licencias,.dp-vacaciones").on("changeDate", function(e){
            const selected = e.currentTarget.classList.value.split('dp-')[1];
            const period = e.format();
            urls[selected]['periodo'] = period;
        });
       
    })

    const goSelected = function(url){
      var selected = urls[url];
      var user_log_params = {};
      
      Object.assign(user_log_params, {period: selected['periodo'], division: selected['text'], gerencia: url.replace(/\b\w/g, function(l){ return l.toUpperCase() })  ,source: 'Index'});
      
      if (selected['division'] === ''){
        route = selected['url'] + '?periodo=' + selected['periodo'];
        Object.assign(user_log_params, {division: 'Global'});
      }
      else{
        route = selected['url'] + '?division=' + selected['division'] + '&periodo=' + selected['periodo'];
      }

      saveUserLog(user_log_params);

      window.location.href = route;

    }

    
    const changePath = function(id, division, text){
        urls[id]['division'] = division;
        urls[id]['text'] = text;
        $("#text-dropdown-"+ id).html(text);
    }
</script>