<a href="javascript:;" class="btn btn-sm btn-danger" id="tabla">Tabla de Saldos</a>
<div class="container-fluid">
    <div class="row selectors-row" style="">
        <div class="col-xs-12 selectors" style="">
            <div class="row">
                <div class="col-xs-12 col-xs-7 title truncate">
                    <h1 class="truncate">
                        <%= @current_division.upcase%>
                    </h1>
                </div>
                <div class="col-xs-5">
                    <div class="col-xs-12 pull-right">
                        
                        <div style="margin-left: 12px" class="header-selector sel">
                            <a href="javascript:;" class="btn btn-default" id="download-data" disabled>Descargar</a>
                        </div>
                        <div style="" class="header-selector sel">
                            <!-- %= select_tag "month", options_for_select(@periodos, @currentPeriod)% -->
                            <div class="input-group">
                            <label class="input-group-btn" for="date-fld">
                                <input type="text" id="datepicker" value="<%= @current_period.to_s %>" class="form-control">
                                <span class="btn btn-default" id="dateButton">
                                <i class="entypo-calendar"></i>
                                </span>
                            </label>
                        </div>
                        </div>
                        <div class="sel" style="">MES: &nbsp;</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="no-data" style="display:none">
        <div class="row" style="min-height:300px; background: white;">
            <div class="col-xs-12 col-md-12">
                <h3>No hay datos almacenados para este mes sobre saldo de vacaciones para <em style="text-decoration: underline">  <%= @current_division%> </em>.
                    <br></h3>
                <h5 style="margin-top: 60px;">Estos son los últimos periodos con datos cargados para <em><%= @current_division%></em> :</h5>
                <hr>

                <div class="row" style="text-align: center;">
                    <%ViewSaldo.pluck(:periodo).uniq.compact.sort_by { |periodo| periodo[3..7]+periodo[0..1] }.reverse.first(4).each do |periodo|%>
                        <div class="col-xs-3" style="margin-top: 0px;">
                            <p><b>Saldo de vacaciones <%= periodo%></b></p>
                            <%= link_to vacaciones_path+"?division="+@current_division+"&periodo="+periodo, class: "btn btn-info" do%>
                                Ver datos
                                <%end%>
                        </div>
                        <%end%>
                </div>
                <hr>

                <div class="component-spinner s-200" style="display:none;">
                    <span class="fa fa-spin fa-spinner"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="chart-data" style="display:block;">
        <div class="row group-box">
            <div class="col-md-12 info-box" style="padding-bottom: 10px;">
                <div class="title-box">
                    <span class="title-global"><%=image_tag "icono_vacacion.png", height: 24 %>Saldo de Vacaciones <span id="titleDate">Febrero 2016</span>
                    </span>
                    <span class="pull-right hidden-xs">
            <%= render "/shared/manager_links"%>

          </span>
                </div>
                <div class="content-box">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 screen-buttons" style="margin-top: 20px;">
                            <div class="col-xs-6 col-md-6">
                                <div class="btn-pref btn-group  btn-group-lg quick-links" style="    position: fixed;margin-top: -14px;">
                                    <a class="btn btn-default " href="<%= vacaciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo%>"
                                        data-toggle="remote"> Consumo</a>
                                    <a href="<%=saldo_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo%>" class="btn btn-default active"
                                        data-toggle="remote">Saldo</a>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a href="#clear" class="clean" style="text-decoration: underline;"> Limpiar filtros </a>
                                <div class="title-actions-right pull-right">

                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="row extra-filters chart-container" style="display:none;">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4" style="height:190px;">
                            <div class="kpi-container">
                                <div class="kpi-box" style="">
                                    <div class="kpi-title" style="">
                                        <h4>INDICADOR SALDO</h4>
                                    </div>
                                    <div class="kpi-content col-md-12">
                                        <h2 class="">
                                            <span id="total-vacacion-value"></span><span class="units"><span class="units-block up-block">SALDO PROMEDIO</span>
                                            <span
                                                class="units-block down-block formacion-date" id="">2016</span>
                                                </span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
                            <h4>
                                GÉNERO
                                <a href="javascript:void(0)" class="cleanGenero" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
                            </h4>
                            <div class="chart" id="pie-genero"></div>
                            <div class="component-spinner s-200">
                                <span class="fa fa-spin fa-spinner"></span>
                            </div>
                        </div>


                        <div class="col-xs-12 col-md-4 chart-container" style="height:250px;">
                            <h4>
                                ESTAMENTO
                                <a href="javascript:void(0)" class="cleanPiramide" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
                            </h4>
                            <div class="chart" id="pie-piramide"></div>
                            <div class="component-spinner s-200">
                                <span class="fa fa-spin fa-spinner"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 chart-container" style="height:200px;">
                            <h4>
                                SALDO POR
                                <%= @current_division == "global" ? "DIVISIÓN" : "GERENCIA"%>
                                    <a href="javascript:void(0)" class="cleanDivision" style="display:none;"><i class='entypo-cancel-circled' ></i></a>
                            </h4>
                            <div class="chart" id="bar-division"></div>
                            <div class="component-spinner s-200">
                                <span class="fa fa-spin fa-spinner"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<div class="modal fade custom-width" id="modal-tabla" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 96%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> <span>Listado de Vacaciones </span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered datatable chart" id="table-empleados">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>


<script>
    $("#datepicker").datepicker({
        startDate: "01-2016",
        endDate: "0d",
        format: "mm-yyyy",
        startView: 1,
        minViewMode: 1,
        language: "es",
        autoclose: true
    });

    var piramideFilter = [];
    var areaFilter = [];
    var edadFilter = [];
    var generoFilter = [];
    var ingresoFilter = [];
    var programaFilter = [];
    var empresaFilter = [];
    var tipoFilter = [];
    var periodoFilter = [];


    var chartVacacionMes = null;
    var chartVacacionAcumulada = null;
    var chartMotivos = null;
    var chartHistorical = null;
    var chartDivision = null;
    var chartGenero = null;
    var chartPiramide = null;
    var chartEdad = null;
    var chartPeriodo = null;

    var tabla = null;

    // var tabla = null;
    var currentDivision = "<%= @current_division%>";
    var subGroups = [];
    var currentMonth = "<%= @current_month %>";
    var currentMonth2 = "<%= @current_month2 %>";
    var months = <%= raw @months %>;
    var months2 = <%= raw @months2 %>;
    var current_year;
    var periodos = <%=raw @periods %>;
    var years = <%= raw @years %>;
    var dotacionesYear1 = <%= raw @dotaciones_year_1 %>;
    var dotacionesYear2 = <%= raw @dotaciones_year_2 %>;
    var currentPeriod;

    $(document).ready(function () {

        // $('a[data-toggle="remote"]').on('click', function (e) {
        //   e.preventDefault();
        //   debugger
        //   var target = $(e.target).attr("href") // activated tab
        //     $.ajax({
        //       type: "GET",
        //       url: target,
        //       error: function(data){
        //         alert("There was a problem");
        //       },
        //       success: function(data){
        //         $(target).html("data");
        //       }
        //   })
        // })

        currentPeriod = "<%= @current_period.to_s %>";
        current_year = currentPeriod.slice(3, currentPeriod.length);
        $('#titleDate').html(currentMonth2 + " " + current_year);
        $('.employeeDate').html(currentMonth + " " + current_year);
        $('#dateButton').click(function () {
            $('#datepicker').datepicker("show");
        })
        loadData(currentPeriod, currentDivision);
        $('.formacion-date').html(current_year);

        $("#less-filters").on("click", function () {
            $('.extra-filters').toggle("slide");
            $('#less-filters').toggle("slide");
            $('#more-filters').toggle("slide");
        });

        $("#more-filters").on("click",
            function () {
                $('.extra-filters').toggle("slide");
                $('#less-filters').toggle("slide");
                $('#more-filters').toggle("slide");
                resizeCharts();
            }
        );

        $("#datepicker").on("changeDate", function () {
            $(".chart").html("");
            $(".component-spinner").show();
            currentPeriod = $("#datepicker").val();
            currentMonth = months[($("#datepicker").val().substring(0, 2) - 1)];
            currentMonth2 = months2[($("#datepicker").val().substring(0, 2) - 1)];
            current_year = currentPeriod.slice(3, currentPeriod.length);
            periodos = [moment(currentPeriod, ["MM-YYYY"]).subtract(1, 'years').format("MM-YYYY"),
                currentPeriod
            ];
            $('#titleDate').html(currentMonth2 + " " + current_year);
            $('.employeeDate').html(currentMonth + " " + current_year);
            loadData(currentPeriod, currentDivision);
            $('.formacion-date').html(current_year);
            setGetParameter("periodo", currentPeriod);
            _($("#main-menu a")).forEach(function (d) {
                $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))
            });
            _($(".quick-links a")).forEach(function (d) {
                $(d).attr("href", adjustUrlParameter($(d).attr("href"), currentPeriod))
            });
        });

        $("#dotaciones").on("change", function () {
            $(".chart").html("");
            $(".component-spinner").show();
            current_division = encodeURIComponent($("#dotaciones").val());
            loadData(currentPeriod, currentDivision);

        });
    });

    function loadData(period, division) {
        d3.json("<%= api_v1_estructura_data_path%>" + "?period=" + period + "&division=" + division, function (error,
            data) {
            if (error) {
                return console.warn(error);
            } else {
                subGroups = data.data;
                d3.json("<%= api_v1_saldo_data_path%>" + "?period=" + period + "&division=" + division,
                    function (error, data) {
                        if (error) {
                            return console.warn(error);
                        } else {

                            if (data.length == 0) {
                                $("#chart-data").hide();
                                $("#no-data").show();
                                $(".component-spinner").hide();
                                $("#download-data").prop("disabled", true);
                                // alert("No hay datos disponibles para el periodos seleccionado.")
                            } else {
                                $("#chart-data").show();
                                $("#no-data").hide();
                                $("#download-data").removeAttr('disabled');
                                var i = 0;
                                pData = [];
                                data.forEach(function (d) {
                                    d.count = i;
                                    pData.push(d);
                                    i++;
                                });


                                saldo = crossfilter(pData);


                                eachDimension = saldo.dimension(function (d) {
                                    return d.count;
                                });
                                rutDimension = saldo.dimension(function (d) {
                                    return d.rut;
                                });

                                if (currentDivision == "global") {
                                    divisionDimension = saldo.dimension(function (d) {
                                        return d.division;
                                    });
                                } else {
                                    divisionDimension = saldo.dimension(function (d) {
                                        return d.gerencia;
                                    });

                                }


                                piramideDimension = saldo.dimension(function (d) {
                                    if (d.piramide == "Gerentes") {
                                        return "     " + d.piramide;
                                    } else if (d.piramide == "Subgerentes") {
                                        return "    " + d.piramide;
                                    } else if (d.piramide == "Jefaturas") {
                                        return "   " + d.piramide;
                                    } else if (d.piramide == "Profesionales") {
                                        return "  " + d.piramide;
                                    } else if (d.piramide == "Administrativos") {
                                        return " " + d.piramide;
                                    } else {
                                        return d.piramide;

                                    }
                                });


                                generoDimension = saldo.dimension(function (d) {
                                    return d.sexo;
                                });

                                edadDimension = saldo.dimension(function (d) {
                                    var years = moment(currentPeriod, "MM-YYYY").endOf('month').diff(
                                        d.fecha_nacimiento, 'years');
                                    if (years >= 55) return "55 o más";
                                    else if (years < 55 && years >= 52) return "52-54";
                                    else if (years < 52 && years >= 45) return "45-51";
                                    else if (years < 45 && years >= 37) return "37-44";
                                    else if (years < 37 && years >= 31) return "31-36";
                                    else if (years < 31 && years >= 25) return "25-31";
                                    else if (years < 25 && years >= 18) return "18-24";
                                    return "ND"
                                });


                                allDimension = saldo.dimension(function (d) {
                                    return "all";
                                });



                                eachGroup = eachDimension.group().reduce(reduceAddComplete,
                                    reduceRemoveComplete, reduceInitialComplete);

                                rutGroup = rutDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);
                                allGroup = allDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);

                                edadGroup = edadDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);
                                piramideGroup = piramideDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);
                                generoGroup = generoDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);
                                divisionGroup = divisionDimension.group().reduce(reduceAdd, reduceRemove,
                                    reduceInitial);


                                $(".component-spinner").hide();
                                /*Get size fathers element*/
                                var widthVacacionesMes = $('#barchart-rotacion-mes').width();
                                var widthVacacionesAcumulada = $('#barchart-rotacion-acumulada').width();
                                var widthEdades = $('#barchart-edad').width();
                                var widthPiramide = $('#pie-piramide').width();
                                var widthGenero = $('#pie-genero').width();
                                var widthDivision = $('#bar-division').width();
                                var widthMotivos = $('#pie-motivos').width();

                                $("#total-vacacion-value").html((allGroup.all()[0] || {
                                    value: {
                                        mean_saldo: 0
                                    }
                                }).value.mean_saldo.toLocaleString("es-ES", {
                                    maximumFractionDigits: 1
                                }));


                                chartDivision = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(
                                    subGroups).dataTitle("Saldo Medio").width(widthDivision).data(
                                    subGroups.map(function (d) {
                                        return _.find(divisionGroup.all(), {
                                            "key": d
                                        }) || {
                                            key: d,
                                            value: {
                                                mean_saldo: 0
                                            }
                                        }
                                    }).map(function (d) {
                                        return d.value.mean_saldo
                                    })).height(160).margin({
                                    top: 20,
                                    right: 20,
                                    bottom: 80,
                                    left: 80
                                }).labelRotation(15).labelSize(8);

                                chartGenero = d3.cloudshapes.donutChartSantander().width(widthGenero).data(
                                    generoGroup.all().map(function (d) {
                                        return d.value.mean_saldo
                                    })).dataTitle("Saldo Medio").labels(generoGroup.all().map(function (
                                    d) {
                                    return d.key
                                })).innRadius(30).outRadius(45).height(150).margin({
                                    top: 110,
                                    right: 10,
                                    bottom: 0,
                                    left: 30
                                }).showLegend(true).showLabel(true).legendY(30);

                                chartPiramide = d3.cloudshapes.donutChartSantander().width(widthPiramide).data(
                                    piramideGroup.all().map(function (d) {
                                        return d.value.mean_saldo
                                    })).dataTitle("Saldo Medio").labels(piramideGroup.all().map(
                                    function (d) {
                                        return d.key
                                    })).innRadius(0).outRadius(45).height(150).margin({
                                    top: 110,
                                    right: 10,
                                    bottom: 0,
                                    left: 30
                                }).showLegend(true).showLabel(true);

                                chartEdad = d3.cloudshapes.barChartSantander().setColor("#FFCC03").labels(
                                    edadGroup.all().map(function (d) {
                                        return d.key
                                    })).dataTitle("Saldo Medio").width(widthEdades).data(edadGroup.all()
                                    .map(function (d) {
                                        return d.value.mean_saldo
                                    })).height(170).margin({
                                    top: 80,
                                    right: 0,
                                    bottom: 0,
                                    left: 10
                                }).labelRotation(15).labelSize(8).showYaxis(false);

                                if (tabla != null) tabla.destroy();
                                tabla = $('#table-empleados').DataTable({
                                    data: [],
                                    columns: [{
                                        title: "RUT"
                                    }, {
                                        title: "Nombre"
                                    }, {
                                        title: "Apellidos"
                                    }, {
                                        title: "Saldo"
                                    }, {
                                        title: "Periodos"
                                    }]
                                });



                                d3.select("#barchart-edad").call(chartEdad);
                                d3.select("#pie-genero").call(chartGenero);
                                d3.select("#pie-piramide").call(chartPiramide);
                                d3.select("#bar-division").call(chartDivision);




                                chartGenero.onClickFunction(function (elem, chart, entry) {
                                    if ($(elem).parent().hasClass("_selected_")) {
                                        generoFilter = new Array(entry);
                                        $('.cleanGenero').show();
                                        generoDimension.filterFunction(function (d) {
                                            return generoFilter.indexOf(d) != -1
                                        });

                                    } else {
                                        generoFilter = generoGroup.all().map(function (d) {
                                            return d.key
                                        });
                                        $('.cleanGenero').hide();
                                        generoDimension.filter(null);
                                    }

                                    updateData();
                                });

                                chartPiramide.onClickFunction(function (elem, chart, entry) {
                                    if ($(elem).parent().hasClass("_selected_")) {
                                        piramideFilter = new Array(entry);
                                        $('.cleanPiramide').show();
                                        piramideDimension.filterFunction(function (d) {
                                            return piramideFilter.indexOf(d) != -1
                                        });

                                    } else {
                                        piramideFilter = piramideGroup.all().map(function (d) {
                                            return d.key
                                        });
                                        $('.cleanPiramide').hide();
                                        piramideDimension.filter(null);
                                    }

                                    updateData();
                                });

                                chartDivision.onClickFunction(function (elem, chart, entry) {
                                    if ($(elem).parent().hasClass("_selected_")) {
                                        divisionFilter = new Array(entry);
                                        $('.cleanDivision').show();

                                        divisionDimension.filterFunction(function (d) {
                                            return divisionFilter.indexOf(d) != -1
                                        });

                                    } else {
                                        divisionFilter = divisionGroup.all().map(function (d) {
                                            return d.key;
                                        });
                                        $('.cleanDivision').hide();
                                        divisionDimension.filter(null);
                                    }
                                    updateData();
                                });



                                chartEdad.onClickFunction(function (elem, chart, entry) {
                                    if ($(elem).parent().hasClass("_selected_")) {
                                        edadFilter = new Array(entry);
                                        $('.cleanEdad').show();
                                        edadDimension.filterFunction(function (d) {
                                            return edadFilter.indexOf(d) != -1
                                        });

                                    } else {
                                        edadFilter = edadGroup.all().map(function (d) {
                                            return d.key
                                        });
                                        $('.cleanEdad').hide();
                                        edadDimension.filter(null);
                                    }
                                    updateData();
                                });


                                function updateData() {

                                    $("#total-vacacion-value").html((allGroup.all()[0] || {
                                        value: {
                                            mean_saldo: 0
                                        }
                                    }).value.mean_saldo.toLocaleString("es-ES", {
                                        maximumFractionDigits: 1
                                    }));

                                    chartDivision.data(subGroups.map(function (d) {
                                        return _.find(divisionGroup.all(), {
                                            "key": d
                                        }) || {
                                            key: d,
                                            value: {
                                                mean_saldo: 0
                                            }
                                        }
                                    }).map(function (d) {
                                        return d.value.mean_saldo
                                    }));
                                    chartGenero.data(generoGroup.all().map(function (d) {
                                        return d.value.mean_saldo
                                    }));
                                    chartPiramide.data(piramideGroup.all().map(function (d) {
                                        return d.value.mean_saldo
                                    }));
                                    chartEdad.data(edadGroup.all().map(function (d) {
                                        return d.value.mean_saldo
                                    }));

                                }

                                $(window).on('resize', function () {
                                    resizeCharts();
                                });

                                $('.clean').click(function () {
                                    cleanFilters();
                                });


                                $('.cleanDivision').click(function () {
                                    chartDivision.cleanFilter();
                                });

                                $('.cleanGenero').click(function () {
                                    chartGenero.cleanFilter();
                                });
                                $('.cleanPiramide').click(function () {
                                    chartPiramide.cleanFilter();
                                });
                                $('.cleanEdad').click(function () {
                                    chartEdad.cleanFilter();
                                });
                            }
                        }
                    }).header("token", "0c29c432157a4ce49509f3d4bed5089c").send("GET");
            }
        }).header("token", "0c29c432157a4ce49509f3d4bed5089c").send("GET");


    }

    function resizeCharts() {
        chartDivision.width($('#bar-division').parent().width());
        chartGenero.width($('#pie-genero').parent().width());
        chartPiramide.width($('#pie-piramide').parent().width());
        chartEdad.width($('#barchart-edad').parent().width());
    }

    function cleanFilters() {
        chartDivision.cleanFilter();
        chartGenero.cleanFilter();
        chartPiramide.cleanFilter();
        chartEdad.cleanFilter();
    }

    function adjustUrlParameter(url, value) {
        if (url.match(/(periodo=)/)) {
            return url.replace(/\periodo=.+$/, "periodo=" + value)
        } else {
            return url + "?periodo=" + value;
        }
    }

    function reduceAdd(p, v) {
        ++p.count;
        p.rut = v.rut;
        p.genero = v.sexo;
        p.piramide = v.piramide;
        p.fecha_nacimiento = v.fecha_nacimiento;
        p.fecha_ingreso = v.fecha_ingreso_grupo;
        p.division = v.division;
        p.gerencia = v.gerencia;
        p.saldo_vacaciones += v.saldo_vacaciones;
        p.mean_saldo = p.count ? (p.saldo_vacaciones / p.count) : 0;

        return p;
    }

    function reduceRemove(p, v) {
        --p.count;
        p.rut = v.rut;
        p.genero = v.sexo;
        p.piramide = v.piramide;
        p.fecha_nacimiento = v.fecha_nacimiento;
        p.fecha_ingreso = v.fecha_ingreso_grupo;
        p.division = v.division;
        p.gerencia = v.gerencia;
        p.saldo_vacaciones -= v.saldo_vacaciones;
        p.mean_saldo = p.count ? (p.saldo_vacaciones / p.count) : 0;
        return p;
    }

    function reduceInitial() {
        return {
            rut: "",
            count: 0,
            genero: "",
            piramide: "",
            fecha_nacimiento: "",
            fecha_ingreso: "",
            division: "",
            gerencia: "",
            saldo_vacaciones: 0,
            mean_saldo: 0
        }
    }

    function reduceAddComplete(p, v) {
        ++p.count;
        p.rut = v.rut;
        p.nombre = v.nombre;
        p.apellidos = v.apellidos;
        p.genero = v.sexo;
        p.piramide = v.piramide;
        p.fecha_nacimiento = v.fecha_nacimiento;
        p.fecha_ingreso = v.fecha_ingreso_grupo;
        p.saldo_vacaciones = v.saldo_vacaciones;
        p.periodos_pendientes_vacaciones = v.periodos_pendientes_vacaciones;
        return p;
    }

    function reduceRemoveComplete(p, v) {
        --p.count;
        p.rut = v.rut;
        p.nombre = v.nombre;
        p.apellidos = v.apellidos;
        p.genero = v.sexo;
        p.piramide = v.piramide;
        p.fecha_nacimiento = v.fecha_nacimiento;
        p.fecha_ingreso = v.fecha_ingreso_grupo;
        p.saldo_vacaciones = v.saldo_vacaciones;
        p.periodos_pendientes_vacaciones = v.periodos_pendientes_vacaciones;

        return p;
    }

    function reduceInitialComplete() {
        return {
            count: 0,
            rut: "",
            nombre: "",
            apellidos: "",
            genero: "",
            piramide: "",
            fecha_nacimiento: "",
            fecha_ingreso: "",
            saldo_vacaciones: "",
            periodos_pendientes_vacaciones: ""
        }
    }


    <% if !current_user.view_gerentes %>
    $("#tabla").on("click", function () {
        $('#modal-tabla').modal('show');
        tabla.clear().rows.add(eachGroup.all().map(function (d) {
            if (d.value.count == 1) {
                if (d.value.piramide != "Gerentes") {
                    return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.saldo_vacaciones,
                        d.value.periodos_pendientes_vacaciones
                    ]
                } else {
                    return ["Gerente", "ND", "ND", "ND", "ND", "ND"]
                }
            }
        }).filter(Boolean)).draw();
    });


    <%else%>
    $("#tabla").on("click", function () {
        $('#modal-tabla').modal('show');
        tabla.clear().rows.add(eachGroup.all().map(function (d) {
            if (d.value.count == 1) {
                return [d.value.rut, d.value.nombre, d.value.apellidos, d.value.saldo_vacaciones, d
                    .value.periodos_pendientes_vacaciones
                ]

            }
        }).filter(Boolean)).draw();
    });
    <%end%>





    function setGetParameter(paramName, paramValue) {
        var url = window.location.href;
        var hash = location.hash;
        url = url.replace(hash, '');
        if (url.indexOf(paramName + "=") >= 0) {
            var prefix = url.substring(0, url.indexOf(paramName));
            var suffix = url.substring(url.indexOf(paramName));
            suffix = suffix.substring(suffix.indexOf("=") + 1);
            suffix = (suffix.indexOf("&") >= 0) ? suffix.substring(suffix.indexOf("&")) : "";
            url = prefix + paramName + "=" + paramValue + suffix;
        } else {
            if (url.indexOf("?") < 0)
                url += "?" + paramName + "=" + paramValue;
            else
                url += "&" + paramName + "=" + paramValue;
        }
        history.pushState({}, null, url + hash);
        // window.location.href = url + hash;
    }
</script>
<script type="text/javascript">
    (function () {
        $('body .page-container .sidebar-menu #main-menu li.vacaciones > a').addClass("active");
    }());
</script>