<div class="sidebar-menu">

  <div class="bottom-sidebar">
    <div class="sidebar-collapse">
      <a href="#" class="sidebar-collapse-icon with-animation">
        <!-- <i class="entypo-menu size-icon"></i> -->
      <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
        <i class="entypo-menu"></i>
      </a>
    </div>



    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
    <div class="sidebar-mobile-menu visible-xs">
      <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
        <i class="entypo-menu"></i>

      </a>
    </div>
  </div>


  <div class="photo-profile">
    <!-- <div id="circle">
      <%= image_tag("bow.jpg", alt: "Logo")%>
    </div> -->

    <h3><%= current_user.nombre_completo %></h3>
    <h4>
      <%if current_user.rol != 2%>
       <%= current_user.role %></h4>
       <%else%>
       <%= link_to current_user.role,admin_home_path %></h4>

       <%end%>
    <p>
    <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "¿Seguro que desea salir?"} do%>
      Salir <i class="fa fa-sign-out right"></i>
    <% end %>
    </p>
  </div>

  <%if (current_user.rol == 1 or  current_user.rol == 2)%>
    <ul id="main-menu" class="">
      <li class="dota has-sub">
        <a>
          <%=image_tag "icono_dota.png"%>
          <span>Dotaciones</span>
        </a>
        <ul>
          <li class="global">
            <a onclick="clickSideBarLink('Dotaciones', 'Global', '<%= dotaciones_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each_with_index do |division, index|%>
            <li class="<%=index %>">
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= dotaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="rota">
        <a>
          <%=image_tag "icono_rotacion.png"%>
          <span>Egresos</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Rotaciones', 'Global', '<%= rotaciones_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= rotaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
        </a>
      </li>
      <li class="movimientos">
        <a>
          <%=image_tag "icono_gest.png"%>
          <span>Promociones</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Movimientos', 'Global', '<%= movimientos_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= movimientos_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="remuneraciones">
        <a>
          <%=image_tag "icono_rem.png"%>
          <span>Compensaciones</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Remuneraciones', 'Global', '<%= remuneraciones_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= remuneraciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="forma">
        <a>
          <%=image_tag "icono_formacion.png"%>
          <span>Formaciones</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Formaciones', 'Global', '<%= formaciones_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= formaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="licencias">
        <a>
          <%=image_tag "ico_licencias.png", width: "10px"%>
          <span>Licencias</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Licencias', 'Global', '<%= licencias_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>

            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= licencias_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="vacaciones">
        <a>
          <%=image_tag "icono_vacacion.png"%>
          <span>Vacaciones</span>
        </a>
        <ul>
          <li>
            <a onclick="clickSideBarLink('Vacaciones', 'Global', '<%= vacaciones_path+"?periodo="+@periodo %>')"> Global </a>
          </li>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= vacaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>


  </ul>
  <%else%>
  <ul id="main-menu" class="">
      <li class="dota has-sub">
        <a onclick="clickSideBarLink('Dotaciones', 'Global', '<%= dotaciones_path+"?periodo="+@periodo %>')" >
          <%=image_tag "icono_dota.png"%>
          <span>Dotaciones</span>
        </a>
        <ul>
          <% @divisiones.each_with_index do |division, index|%>
            <li class="<%=index %>">
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= dotaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>

      <li class="rota">
        <a onclick="clickSideBarLink('Rotaciones', 'Global', '<%= rotaciones_path+"?periodo="+@periodo %>')" >
          <%=image_tag "icono_rotacion.png"%>
          <span>Egresos</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= rotaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
        </a>
      </li>
      <li class="movimientos">
        <a onclick="clickSideBarLink('Movimientos', 'Global', '<%= movimientos_path+"?periodo="+@periodo %>')" >
          <%=image_tag "icono_gest.png"%>
          <span>Promociones</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= movimientos_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="remuneraciones">
        <a onclick="clickSideBarLink('Remuneraciones', 'Global', '<%= remuneraciones_path+"?periodo="+@periodo %>')"  >
          <%=image_tag "icono_rem.png"%>
          <span>Compensaciones</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= remuneraciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="forma">
        <a onclick="clickSideBarLink('Formaciones', 'Global', '<%= formaciones_path+"?periodo="+@periodo %>')" >
          <%=image_tag "icono_formacion.png"%>
          <span>Formaciones</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= formaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="licencias">
        <a onclick="clickSideBarLink('Licencias', 'Global', '<%= licencias_path+"?periodo="+@periodo %>')">
          <%=image_tag "ico_licencias.png"%>
          <span>Licencias</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= licencias_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>
      <li class="vacaciones">
        <a onclick="clickSideBarLink('Vacaciones', 'Global', '<%= vacaciones_path+"?periodo="+@periodo %>')" >
          <%=image_tag "icono_vacacion.png"%>
          <span>Vacaciones</span>
        </a>
        <ul>
          <% @divisiones.each do |division|%>
            <li>
              <a 
              onclick="clickSideBarLink('Dotaciones', '<%= division %>', '<%= vacaciones_path+"?division="+url_encode(division)+"&periodo="+@periodo %>')">
               <%= division %> </a>
            </li>
          <% end %>
        </ul>
      </li>


  </ul>


  <%end%>

</div>

<script>
    
  const clickSideBarLink = function(gerencia ,division ,url){
    var user_logs_params = {};
    Object.assign(user_logs_params, {period: '<%= @periodo %>', gerencia: gerencia, division: division, source: 'Barra Lateral' });
    saveUserLog(user_logs_params);
    goToUrl(url);
  }

</script>