            <ul class="list-inline quick-links" style="line-height: 26px;">
              <li><a onclick="clickManagerLink('Dotaciones','<%= dotaciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Dotaciones</a>
              </li>
              <li><a onclick="clickManagerLink('Rotaciones','<%= rotaciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Egresos</a>
              </li>
              <li><a onclick="clickManagerLink('Movimientos','<%= movimientos_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Promociones</a>
              </li>
              <li><a onclick="clickManagerLink('Remuneraciones','<%= remuneraciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Compensaciones</a>
              </li>
              <li><a onclick="clickManagerLink('Formaciones','<%= formaciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Formaciones</a>
              </li>
              <li><a onclick="clickManagerLink('Licencias','<%= licencias_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Licencias</a>
              </li>
              <li><a onclick="clickManagerLink('Vacaciones','<%= vacaciones_path+"?division="+url_encode(@current_division)+"&periodo="+@periodo %>')">Vacaciones</a>
              </li>
            </ul>

<script>

const clickManagerLink = function(gerencia, url){
    var user_logs_params = {};
    Object.assign(user_logs_params, {period: '<%= @periodo %>', gerencia: gerencia, division: '<%= @current_division%>' , source: 'Manager Link' });
    saveUserLog(user_logs_params);
    goToUrl(url);
}

</script>