  <!-- Footer Widgets -->
<section class="footer-widgets">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">

        <a href="#">
          <img src="assets/images/logo@2x.png" width="100" />
        </a>

        <p>
          Vivamus imperdiet felis consectetur onec eget orci adipiscing nunc. <br />
          Pellentesque fermentum, ante ac interdum ullamcorper.
        </p>

      </div>

      <div class="col-sm-3">

        <h5>Dirección</h5>

        <p>
          Loop, Inc. <br />
          795 Park Ave, Suite 120 <br />
          San Francisco, CA 94107
        </p>

      </div>

      <div class="col-sm-3">

        <h5>Contact</h5>

        <p>
          Phone: +1 (52) 2215-251 <br />
          Fax: +1 (22) 5138-219 <br />
        </p>

      </div>

    </div>

  </div>

</section>



<!-- Site Footer -->
<footer class="site-footer">

  <div class="container">

    <div class="row">

      <div class="col-sm-6">
        Copyright &copy; Neon - All Rights Reserved.
      </div>

      <div class="col-sm-6">

        <ul class="social-networks text-right">
          <li>
            <a href="#">
              <i class="entypo-instagram"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="entypo-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="entypo-facebook"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>

  </div>

</footer>
