  <div class="site-header-container container">

  <div class="row">

    <div class="col-md-12">

      <header class="site-header">

        <section class="site-logo">

          <a href="<%= root_path %>">
            <%= image_tag "logo-light.png", width: 120 %>
<!--             <img src="assets/images/logo@2x.png" width="120" />
 -->       </a>

        </section>

        <nav class="site-nav">

          <ul class="main-menu hidden-xs" id="main-menu">
            <% if user_signed_in?%>
              <li>
                <a href="<%= manager_path %>">
                  <div class="label label-secondary">Dashboard</div>
                </a>
              </li>
              <li>
              <%= link_to destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to exit?"} do%>
                Sign Out <i class="fa fa-sign-out right"></i>
              <% end %>
              </li>
            <%else%>
              <li>
                <a href="<%= new_user_registration_path %>">
                  <div class="label label-secondary">Sign Up</div>
                </a>
              </li>
              <li>
                <a href="<%= new_user_session_path %>">
                  <div class="label label-secondary">Sign in</div>
                </a>
              </li>
            <%end%>
          </ul>


          <div class="visible-xs">

            <a href="#" class="menu-trigger">
              <i class="entypo-menu"></i>
            </a>

          </div>
        </nav>

      </header>

    </div>

  </div>

</div>
