<h4 class="text-center">Proyecto Business Inteligence</h4>

<p class="text-center">Bienvenid@, <strong><%= current_user.metadata["nombres"] %></strong>, estos son sus roles disponibles:</p>

<div class="row">
  <div class="col-xs-4">
    <a href="/divisional" class="role-block">
      <%= fa_icon("bar-chart", class: "fa-3x") %>
      Divisional
    </a>
  </div>
  <% if current_user.rol > 0 %>
  <div class="col-xs-4">
    <a href="/manager" class="role-block">
      <%= fa_icon("cloud-upload", class: "fa-3x") %>
      Manager
    </a>
  </div>
  <% end %>
  <% if current_user.rol > 1 %>
  <div class="col-xs-4">
    <a href="/admin" class="role-block">
      <%= fa_icon("cogs", class: "fa-3x") %>
      Administrador
    </a>
  </div>
  <% end %>
</div>

<br/>

<p class="text-center">Si necesita acceso a funcionalidades adicionales, por favor contacte a un administrador.</p>
