<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @movimiento.empleado.nombre.split(" ").first.capitalize %> <%= @movimiento.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @movimiento.empleado.rut %>)" class="form-control" readonly>
</div>


<%= f.hidden_field :rut, value:  @movimiento.empleado.rut%>

<%= f.input :tipo_movimiento %>

<%= f.input :periodo %>
<%= f.input :periodo_anualizado %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
