<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de Movimientos</h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @movimiento, url: admin_movimiento_path(@movimiento), method: :put do |f| %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>
