<% provide(:upload_modal_type, "movimientos") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de movimientos</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "movimientos" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Tipo</th>
          <th class="text-center">Periodo</th>
          <th class="text-center">Periodo de Carga</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @movimientos.each do |movimiento| %>
          <tr>
            <td class="text-center"><%= movimiento.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path movimiento.empleado do %>
                <%= movimiento.empleado.nombre.split(" ").first.capitalize %> <%= movimiento.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="text-center"><%= movimiento.tipo_movimiento %></td>

            <td class="text-center"><%= movimiento.periodo_anualizado %></td>
            <td class="text-center"><%= movimiento.periodo %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_movimiento_path movimiento %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_movimiento_path(movimiento), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @movimientos.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
