<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Log de Usuario</h3>
    </div>
    <div class="panel-body">    

        <div class="text-center">
            <%= will_paginate @user_logs, renderer: BootstrapPagination::Rails %>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombres</th>
                    <th class="text-center">RUT</th>
                    <th class="text-center">Gerencia</th>
                    <th class="text-center">División</th>
                    <th class="text-center">Período</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Fuente</th>
                </tr>
            </thead>
            <tbody>
                <% @user_logs.each do |log| %>
                    <tr>
                        <td><%= log.user.metadata['apellidos'] %></td>
                        <td><%= log.user.metadata['nombres'] %></td>
                        <td class="text-center"><%= log.user.rut %></td>
                        <td class="text-center"><%= log.gerencia %></td>
                        <td class="text-center"><%= log.division %></td>
                        <td class="text-center"><%= log.period %></td>
                        <td class="text-center"><%= log.created_at.strftime('%d-%m-%y') %></td>
                        <td class="text-center"><%= log.source %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
        <div class="text-center">
            <%= will_paginate @user_logs, renderer: BootstrapPagination::Rails %>
        </div>
    </div>
</div>