<%= f.input :rut, label: "RUT", hint: "No agregue puntos ni el guión del dígito verificador.", input_html: {value: @empleado.rut.present? ? @empleado.rut_raw : ""}, required: false %>

<%= f.input :nombre %>

<%= f.input :apellidos %>

<%= f.input :sexo, as: :select, collection: ["Masculino", "Femenino"], include_blank: false %>

<%= f.input :fecha_ingreso_grupo %>

<%= f.input :fecha_nacimiento %>

<%= f.input :fecha_renuncia %>

<%= f.input :tipo_renuncia %>

<%= f.input :motivo_renuncia %>

<hr>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
