<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Gestión de empleados</h3>
    </div>
    <div class="panel-body">
        <%= render "shared/backend/controls" %>

            <%= link_to new_admin_empleado_path, class: "btn btn-danger btn-sm" do %>
                <%= fa_icon("plus") %> Nuevo empleado
                    <% end %>


                        <div class="text-center">
                            <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
                        </div>

                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <colgroup>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                    <col>
                                </colgroup>
                                <tr>
                                    <th>Apellidos</th>
                                    <th>Nombres</th>
                                    <th class="text-center">RUT</th>
                                    <th class="text-center">Información</th>
                                    <th class="text-center">Posición actual</th>
                                    <th class="text-center">
                                        <%= fa_icon("cogs") %>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @empleados.each do |empleado| %>
                                    <tr>
                                        <td>
                                            <%= empleado.apellidos.titleize %>
                                        </td>
                                        <td>
                                            <%= empleado.nombre.titleize %>
                                        </td>
                                        <td class="text-center">
                                            <%= empleado.rut_beautified %>
                                        </td>
                                        <td class="text-center">
                                            <%= fa_icon(empleado.sexo == 'Masculino' ? "mars" : "venus") %>,
                                                <%= empleado.edad %> años</td>
                                        <td class="text-center">
                                            <%= empleado.posiciones.order(created_at: :desc).first.cargo unless empleado.fecha_renuncia <= Date.today if empleado.posiciones.size > 0%>
                                                <%= "<strong><span class='text-danger'>Renuncia el #{empleado.fecha_renuncia}</span></strong>".html_safe if (empleado.fecha_renuncia and empleado.fecha_renuncia <= Date.today) %>
                                        </td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li class="dropdown-header">Acciones administrativas</li>
                                                    <li>
                                                        <a href="<%= edit_admin_empleado_path(empleado) %>">
                                                            <%= fa_icon("edit") %> Editar</a>
                                                    </li>
                                                    <li>
                                                        <%= link_to admin_empleado_path(empleado), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro de que desea continuar?"} do  %>
                                                            <%= fa_icon("trash") %> Eliminar
                                                                <% end %>
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li class="dropdown-header">Crear nuevo elemento</li>
                                                    <li>
                                                        <a href="<%= new_admin_posicion_path(rut: empleado.rut) %>">
                                                            <%= fa_icon("sitemap") %> Nueva posición
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_egreso_path(rut: empleado.rut) %>">
                                                            <%= fa_icon("chevron-right") %> Nuevo egreso
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_formacion_path(rut: empleado.rut) %>">
                                                            <%= fa_icon("mortar-board") %> Nueva formación
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_movimiento_path(rut: empleado.rut) %>">
                                                            <%= fa_icon("repeat") %> Nuevo movimiento
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_retribucion_path(rut: empleado.rut) %> ">
                                                            <%= fa_icon("money") %> Nuevo ajuste de renta
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_licencia_path(rut: empleado.rut) %> ">
                                                            <%= fa_icon("hearth-o") %> Nueva licencia
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="<%= new_admin_vacacion_path(rut: empleado.rut) %> ">
                                                            <%= fa_icon("plane") %> Nueva vacacion
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <% end %>
                            </tbody>
                        </table>
                        <div class="pull-right"> TOTAL:
                            <%=  number_with_delimiter @empleados.count.to_s%>
                        </div>

                        <div class="text-center">
                            <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
                        </div>
    </div>
</div>