<% provide(:panel_title, "Iniciar sesión") %>
<% aux = "24993733-9" %>
<%# form_tag('/users/sign_in') do -%>
<%# hidden_field_tag 'cod_usr', '24993733-9' %>
<div><%# submit_tag 'Save' %></div>
<%# end -%>
<%# if request.parameters.include? :cod_usr %>
<% if !aux.blank? %>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :rut, label: "Por favor, introduce tu RUT para acceder"  %>
    <%= f.button :submit, "Iniciar sesión", class: "btn btn-danger pull-right" %>
  <% end %>

<%else%>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: false, required: false, autofocus: true, input_html: {placeholder: "Email"} %>
      <%= f.input :password, label: false, required: true, input_html: {placeholder: "Contraseña"} %>
    </div>

    <div class="form-actions row">
      <div class="col-sm-4 col-xs-6">
        <%= f.input :remember_me, label: "Recordarme", as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="col-sm-4 col-xs-6 text-center">
        <%= render "devise/shared/links" %>
      </div>
      <div class="col-sm-4 col-xs-12 text-right">
        <%= f.button :submit, "Iniciar sesión", class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
<%end%>
