@font-face {
  font-family: 'entypo';
  src: url(/dashboard/assets/entypo-c4bf6d57d22d2ea3ceb5bbba692e740a03ff7e5b1c8afe1770fdeea3130c8a04.eot);
  src: url(/dashboard/assets/entypo-c4bf6d57d22d2ea3ceb5bbba692e740a03ff7e5b1c8afe1770fdeea3130c8a04.eot?#iefix) format("embedded-opentype"), url(/dashboard/assets/entypo-7ffbe887817ae548550910bd20e191191fd027ef89d4e39d1825e4c9a2ebf03d.woff) format("woff"), url(/dashboard/assets/entypo-d58620dad484ce0e8b218c7b1af6ad735e0b8e8cb5831caab1c278003d9b8d1a.ttf) format("truetype"), url(/dashboard/assets/entypo-0904cf6192ffd0b79e9a9d91e169dc883e6b1c41e5b2dc80ea8a5edf03b66763.svg#entypo) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 4, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
[class^="entypo-"], [class*=" entypo-"] {
  font-family: entypo;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

/* main icon map */
/* line 16, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-phone:before {
  content: '\1f4de';
}

/* 1f4de */
/* line 17, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-mobile:before {
  content: '\1f4f1';
}

/* 1f4f1 */
/* line 18, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-mouse:before {
  content: '\e789';
}

/* e789 */
/* line 19, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-address:before {
  content: '\e723';
}

/* e723 */
/* line 20, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-mail:before {
  content: '\2709';
}

/* 2709 */
/* line 21, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-paper-plane:before {
  content: '\e79b';
}

/* e79b */
/* line 22, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-pencil:before {
  content: '\270e';
}

/* 270e */
/* line 23, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-feather:before {
  content: '\2712';
}

/* 2712 */
/* line 24, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-attach:before {
  content: '\1f4ce';
}

/* 1f4ce */
/* line 25, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-inbox:before {
  content: '\e777';
}

/* e777 */
/* line 26, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-reply:before {
  content: '\e712';
}

/* e712 */
/* line 27, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-reply-all:before {
  content: '\e713';
}

/* e713 */
/* line 28, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-forward:before {
  content: '\27a6';
}

/* 27a6 */
/* line 29, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-user:before {
  content: '\1f464';
}

/* 1f464 */
/* line 30, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-users:before {
  content: '\1f465';
}

/* 1f465 */
/* line 31, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-add-user:before {
  content: '\e700';
}

/* e700 */
/* line 32, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-vcard:before {
  content: '\e722';
}

/* e722 */
/* line 33, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-export:before {
  content: '\e715';
}

/* e715 */
/* line 34, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-location:before {
  content: '\e724';
}

/* e724 */
/* line 35, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-map:before {
  content: '\e727';
}

/* e727 */
/* line 36, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-compass:before {
  content: '\e728';
}

/* e728 */
/* line 37, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-direction:before {
  content: '\27a2';
}

/* 27a2 */
/* line 38, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-share:before {
  content: '\e73c';
}

/* e73c */
/* line 39, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-shareable:before {
  content: '\e73e';
}

/* e73e */
/* line 40, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-heart:before {
  content: '\2665';
}

/* 2665 */
/* line 41, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-heart-empty:before {
  content: '\2661';
}

/* 2661 */
/* line 42, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-star:before {
  content: '\2605';
}

/* 2605 */
/* line 43, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-star-empty:before {
  content: '\2606';
}

/* 2606 */
/* line 44, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-thumbs-up:before {
  content: '\1f44d';
}

/* 1f44d */
/* line 45, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-thumbs-down:before {
  content: '\1f44e';
}

/* 1f44e */
/* line 46, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chat:before {
  content: '\e720';
}

/* e720 */
/* line 47, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-comment:before {
  content: '\e718';
}

/* e718 */
/* line 48, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-quote:before {
  content: '\275e';
}

/* 275e */
/* line 49, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-home:before {
  content: '\2302';
}

/* 2302 */
/* line 50, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-popup:before {
  content: '\e74c';
}

/* e74c */
/* line 51, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-search:before {
  content: '\1f50d';
}

/* 1f50d */
/* line 52, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flashlight:before {
  content: '\1f526';
}

/* 1f526 */
/* line 53, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-print:before {
  content: '\e716';
}

/* e716 */
/* line 54, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bell:before {
  content: '\1f514';
}

/* 1f514 */
/* line 55, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-link:before {
  content: '\1f517';
}

/* 1f517 */
/* line 56, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flag:before {
  content: '\2691';
}

/* 2691 */
/* line 57, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cog:before {
  content: '\2699';
}

/* 2699 */
/* line 58, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-tools:before {
  content: '\2692';
}

/* 2692 */
/* line 59, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-trophy:before {
  content: '\1f3c6';
}

/* 1f3c6 */
/* line 60, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-tag:before {
  content: '\e70c';
}

/* e70c */
/* line 61, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-camera:before {
  content: '\1f4f7';
}

/* 1f4f7 */
/* line 62, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-megaphone:before {
  content: '\1f4e3';
}

/* 1f4e3 */
/* line 63, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-moon:before {
  content: '\263d';
}

/* 263d */
/* line 64, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-palette:before {
  content: '\1f3a8';
}

/* 1f3a8 */
/* line 65, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-leaf:before {
  content: '\1f342 ';
}

/* 1f342 */
/* line 66, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-note:before {
  content: '\266a';
}

/* 266a */
/* line 67, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-beamed-note:before {
  content: '\266b';
}

/* 266b */
/* line 68, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-graduation-cap:before {
  content: '\1f393 ';
}

/* 1f393 */
/* line 69, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-book:before {
  content: '\1f4d5 ';
}

/* 1f4d5 */
/* line 70, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-newspaper:before {
  content: '\1f4f0';
}

/* 1f4f0 */
/* line 71, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bag:before {
  content: '\1f45c';
}

/* 1f45c */
/* line 72, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-lifebuoy:before {
  content: '\e788';
}

/* e788 */
/* line 73, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-eye:before {
  content: '\e70a';
}

/* e70a */
/* line 74, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-clock:before {
  content: '\1f554';
}

/* 1f554 */
/* line 75, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-mic:before {
  content: '\1f3a4';
}

/* 1f3a4 */
/* line 76, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-calendar:before {
  content: '\1f4c5';
}

/* 1f4c5 */
/* line 77, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flash:before {
  content: '\26a1';
}

/* 26a1 */
/* line 78, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-thunder-cloud:before {
  content: '\26c8';
}

/* 26c8 */
/* line 79, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-droplet:before {
  content: '\1f4a7';
}

/* 1f4a7 */
/* line 80, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cd:before {
  content: '\1f4bf';
}

/* 1f4bf */
/* line 81, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-briefcase:before {
  content: '\1f4bc';
}

/* 1f4bc */
/* line 82, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-air:before {
  content: '\e753';
}

/* e753 */
/* line 83, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-hourglass:before {
  content: '\23f3';
}

/* 23f3 */
/* line 84, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-gauge:before {
  content: '\e7a2';
}

/* e7a2 */
/* line 85, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-language:before {
  content: '\e752';
}

/* e752 */
/* line 86, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-network:before {
  content: '\e776';
}

/* e776 */
/* line 87, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-key:before {
  content: '\1f511';
}

/* 1f511 */
/* line 88, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-battery:before {
  content: '\1f50b';
}

/* 1f50b */
/* line 89, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bucket:before {
  content: '\e756';
}

/* e756 */
/* line 90, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-magnet:before {
  content: '\e7a1';
}

/* e7a1 */
/* line 91, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-drive:before {
  content: '\e755';
}

/* e755 */
/* line 92, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cup:before {
  content: '\2615';
}

/* 2615 */
/* line 93, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-rocket:before {
  content: '\1f680';
}

/* 1f680 */
/* line 94, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-brush:before {
  content: '\e79a';
}

/* e79a */
/* line 95, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-suitcase:before {
  content: '\e78e';
}

/* e78e */
/* line 96, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-traffic-cone:before {
  content: '\e7a3';
}

/* e7a3 */
/* line 97, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-globe:before {
  content: '\1f30e';
}

/* 1f30e */
/* line 98, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-keyboard:before {
  content: '\2328';
}

/* 2328 */
/* line 99, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-publish:before {
  content: '\e74d';
}

/* e74d */
/* line 100, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-progress-3:before {
  content: '\e76b';
}

/* e76b */
/* line 101, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-progress-2:before {
  content: '\e76a';
}

/* e76a */
/* line 102, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-progress-1:before {
  content: '\e769';
}

/* e769 */
/* line 103, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-progress-0:before {
  content: '\e768';
}

/* e768 */
/* line 104, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-light-down:before {
  content: '\1f505';
}

/* 1f505' */
/* line 105, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-light-up:before {
  content: '\1f506';
}

/* 1f506 */
/* line 106, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-adjust:before {
  content: '\25d1';
}

/* 25d1 */
/* line 107, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-code:before {
  content: '\e714';
}

/* e714 */
/* line 108, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-monitor:before {
  content: '\1f4bb';
}

/* 1f4bb */
/* line 109, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-infinity:before {
  content: '\221e';
}

/* 221e */
/* line 110, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-credit-card:before {
  content: '\1f4b3';
}

/* 1f4b3 */
/* line 111, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-database:before {
  content: '\e754';
}

/* e754 */
/* line 112, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-clipboard:before {
  content: '\1f4cb';
}

/* 1f4cb */
/* line 113, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-box:before {
  content: '\1f4e6';
}

/* 1f4e6 */
/* line 114, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-ticket:before {
  content: '\1f3ab';
}

/* 1f3ab */
/* line 115, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-rss:before {
  content: '\e73a';
}

/* e73a */
/* line 116, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-signal:before {
  content: '\1f4f6';
}

/* 1f4f6 */
/* line 117, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-thermometer:before {
  content: '\e757';
}

/* e757 */
/* line 118, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-water:before {
  content: '\1f4a6';
}

/* 1f4a6 */
/* line 119, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-sweden:before {
  content: '\f601';
}

/* f601 */
/* line 120, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-lock:before {
  content: '\1f512';
}

/* 1f512 */
/* line 121, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-lock-open:before {
  content: '\1f513';
}

/* 1f513 */
/* line 122, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-logout:before {
  content: '\e741';
}

/* e741 */
/* line 123, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-login:before {
  content: '\e740';
}

/* e740 */
/* line 124, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-check:before {
  content: '\2713';
}

/* 2713 */
/* line 125, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-squared-plus:before {
  content: '\229e';
}

/* 229e */
/* line 126, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-squared-minus:before {
  content: '\229f';
}

/* 229f */
/* line 127, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-plus:before {
  content: '\2795';
}

/* 2795 */
/* line 128, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-minus:before {
  content: '\2796';
}

/* 2796 */
/* line 129, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-plus:before {
  content: '\2b';
}

/* 2b */
/* line 130, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-minus:before {
  content: '\2d';
}

/* 2d */
/* line 131, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-erase:before {
  content: '\232b';
}

/* 232b */
/* line 132, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-block:before {
  content: '\1f6ab';
}

/* 1f6ab */
/* line 133, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-info:before {
  content: '\2139';
}

/* 2139 */
/* line 134, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-info:before {
  content: '\e705';
}

/* e705 */
/* line 135, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-help:before {
  content: '\2753';
}

/* 2753 */
/* line 136, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-help:before {
  content: '\e704';
}

/* e704 */
/* line 137, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-ccw:before {
  content: '\27f2';
}

/* 27f2 */
/* line 138, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cw:before {
  content: '\27f3';
}

/* 27f3 */
/* line 139, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-shuffle:before {
  content: '\1f500';
}

/* 1f500 */
/* line 140, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-back:before {
  content: '\1f519';
}

/* 1f519 */
/* line 141, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-level-up:before {
  content: '\21b0';
}

/* 21b0 */
/* line 142, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-level-down:before {
  content: '\21b3';
}

/* 21b3 */
/* line 143, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-retweet:before {
  content: '\e717';
}

/* e717 */
/* line 144, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-loop:before {
  content: '\1f501';
}

/* 1f501 */
/* line 145, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-back-in-time:before {
  content: '\e771';
}

/* e771 */
/* line 146, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-switch:before {
  content: '\21c6';
}

/* 21c6 */
/* line 147, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-layout:before {
  content: '\268f';
}

/* 268f */
/* line 148, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-list:before {
  content: '\2630';
}

/* 2630 */
/* line 149, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-doc:before {
  content: '\e730';
}

/* e730 */
/* line 150, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-docs:before {
  content: '\e736';
}

/* e736 */
/* line 151, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-text-doc-inverted:before {
  content: '\e731';
}

/* e731 */
/* line 152, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-landscape-doc:before {
  content: '\e737';
}

/* e737 */
/* line 153, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-picture:before {
  content: '\1f304';
}

/* 1f304 */
/* line 154, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-video:before {
  content: '\1f3ac';
}

/* 1f3ac */
/* line 155, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-music:before {
  content: '\1f3b5';
}

/* 1f3b5 */
/* line 156, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-folder:before {
  content: '\1f4c1 ';
}

/* 1f4c1 */
/* line 157, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-archive:before {
  content: '\e738';
}

/* e738 */
/* line 158, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-trash:before {
  content: '\e729';
}

/* e729 */
/* line 159, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-upload:before {
  content: '\1f4e4';
}

/* 1f4e4 */
/* line 160, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-download:before {
  content: '\1f4e5';
}

/* 1f4e5 */
/* line 161, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-install:before {
  content: '\e778';
}

/* e778 */
/* line 162, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cloud:before {
  content: '\2601';
}

/* 2601 */
/* line 163, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-upload-cloud:before {
  content: '\e711';
}

/* e711 */
/* line 164, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bookmark:before {
  content: '\1f516';
}

/* 1f516 */
/* line 165, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bookmarks:before {
  content: '\1f4d1';
}

/* 1f4d1 */
/* line 166, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-play:before {
  content: '\25b6';
}

/* 25b6 */
/* line 167, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-paus:before {
  content: '\2389';
}

/* 2389 */
/* line 168, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-record:before {
  content: '\26ab';
}

/* 26ab */
/* line 169, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-stop:before {
  content: '\25a0';
}

/* 25a0 */
/* line 170, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-to-end:before {
  content: '\23ed';
}

/* 23ed */
/* line 171, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-to-start:before {
  content: '\23ee';
}

/* 23ee */
/* line 172, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-resize-full:before {
  content: '\e744';
}

/* e744 */
/* line 173, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-resize-small:before {
  content: '\e746';
}

/* e746 */
/* line 174, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-volume:before {
  content: '\e742';
}

/* e742 */
/* line 175, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-sound:before {
  content: '\1f50a';
}

/* 1f50a */
/* line 176, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-mute:before {
  content: '\1f507';
}

/* 1f507 */
/* line 177, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flow-cascade:before {
  content: '\e790';
}

/* e790 */
/* line 178, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flow-branch:before {
  content: '\e791';
}

/* e791 */
/* line 179, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flow-tree:before {
  content: '\e792';
}

/* e792 */
/* line 180, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flow-line:before {
  content: '\e793';
}

/* e793 */
/* line 181, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-flow-parallel:before {
  content: '\e794';
}

/* e794 */
/* line 182, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-left-bold:before {
  content: '\e4ad';
}

/* e4ad */
/* line 183, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-right-bold:before {
  content: '\e4ae';
}

/* e4ae */
/* line 184, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-up-bold:before {
  content: '\e4af';
}

/* e4af */
/* line 185, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-down-bold:before {
  content: '\e4b0';
}

/* e4b0 */
/* line 186, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-left:before {
  content: '\261c';
}

/* 261c */
/* line 187, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-up:before {
  content: '\261d';
}

/* 261d */
/* line 188, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-right:before {
  content: '\261e';
}

/* 261e */
/* line 189, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-down:before {
  content: '\261f';
}

/* 261f */
/* line 190, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-down:before {
  content: '\e758';
}

/* e758 */
/* line 191, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-left:before {
  content: '\e759';
}

/* e759 */
/* line 192, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-right:before {
  content: '\e75a';
}

/* e75a */
/* line 193, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-up:before {
  content: '\e75b';
}

/* e75b */
/* line 194, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-left-thin:before {
  content: '\2190';
}

/* 2190 */
/* line 195, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-up-thin:before {
  content: '\2191';
}

/* 2191 */
/* line 196, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-right-thin:before {
  content: '\2192';
}

/* 2192 */
/* line 197, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-down-thin:before {
  content: '\2193';
}

/* 2193 */
/* line 198, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-arrow-combo:before {
  content: '\e74f';
}

/* e74f */
/* line 199, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-dot:before {
  content: '\e78b';
}

/* e78b */
/* line 200, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-two-dots:before {
  content: '\e78c';
}

/* e78c */
/* line 201, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-three-dots:before {
  content: '\e78d';
}

/* e78d */
/* line 202, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc:before {
  content: '\e7a5';
}

/* e7a5 */
/* line 203, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-by:before {
  content: '\e7a6';
}

/* e7a6 */
/* line 204, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-nc:before {
  content: '\e7a7';
}

/* e7a7 */
/* line 205, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-nc-eu:before {
  content: '\e7a8';
}

/* e7a8 */
/* line 206, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-nc-jp:before {
  content: '\e7a9';
}

/* e7a9 */
/* line 207, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-sa:before {
  content: '\e7aa';
}

/* e7aa */
/* line 208, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-nd:before {
  content: '\e7ab';
}

/* e7ab */
/* line 209, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-pd:before {
  content: '\e7ac';
}

/* e7ac */
/* line 210, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-zero:before {
  content: '\e7ad';
}

/* e7ad */
/* line 211, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-share:before {
  content: '\e7ae';
}

/* e7ae */
/* line 212, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cc-remix:before {
  content: '\e7af';
}

/* e7af */
/* line 213, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-db-logo:before {
  content: '\f603';
}

/* f603 */
/* line 214, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-db-shape:before {
  content: '\f600';
}

/* f600 */
/* line 215, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-save:before {
  content: '\1f4be';
}

/* 1f4be */
/* line 216, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-ff:before {
  content: '\23e9';
}

/* 23e9 */
/* line 217, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-fb:before {
  content: '\23ea';
}

/* 23ea */
/* line 218, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-pie-chart:before {
  content: '\e751';
}

/* e751 */
/* line 219, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-line-graph:before {
  content: '\1f4c8';
}

/* 1f4c8 */
/* line 220, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-bar-graph:before {
  content: '\1f4ca ';
}

/* 1f4ca */
/* line 221, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-area-graph:before {
  content: '\1f53e';
}

/* 1f53e */
/* line 222, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-down:before {
  content: '\e75c';
}

/* e75c */
/* line 223, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-left:before {
  content: '\e75d';
}

/* e75d */
/* line 224, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-right:before {
  content: '\e75e';
}

/* e75e */
/* line 225, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-up:before {
  content: '\e75f';
}

/* e75f */
/* line 226, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-small-down:before {
  content: '\e760';
}

/* e760 */
/* line 227, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-small-left:before {
  content: '\e761';
}

/* e761 */
/* line 228, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-small-right:before {
  content: '\e762';
}

/* e762 */
/* line 229, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-small-up:before {
  content: '\e763';
}

/* e763 */
/* line 230, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-thin-down:before {
  content: '\e764';
}

/* e764 */
/* line 231, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-thin-left:before {
  content: '\e765';
}

/* e765 */
/* line 232, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-thin-right:before {
  content: '\e766';
}

/* e766 */
/* line 233, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-chevron-thin-up:before {
  content: '\e767';
}

/* e767 */
/* line 234, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-text-doc:before {
  content: '\1f4c4';
}

/* 1f4c4 */
/* line 235, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-open-book:before {
  content: '\1f4d6';
}

/* 1f4d6 */
/* line 236, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-voicemail:before {
  content: '\2707';
}

/* 2707 */
/* line 237, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-triangle-right:before {
  content: '\25b8';
}

/* 25b8 */
/* line 238, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-triangle-up:before {
  content: '\25b4';
}

/* 25b4 */
/* line 239, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-triangle-down:before {
  content: '\25be';
}

/* 25be */
/* line 240, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-triangle-left:before {
  content: '\25c2';
}

/* 25c2 */
/* line 241, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-airplane:before {
  content: '\2708';
}

/* 2708 */
/* line 242, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-light-bulb:before {
  content: '\1f4a1';
}

/* 1f4a1 */
/* line 243, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-add-to-list:before {
  content: '\e003';
}

/* e003 */
/* line 244, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-browser:before {
  content: '\e74e';
}

/* e74e */
/* line 245, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cart:before {
  content: '\e73d';
}

/* e73d */
/* line 246, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cross-hair:before {
  content: '\1f3af';
}

/* 1f3af */
/* line 247, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-squared-cross:before {
  content: '\274e';
}

/* 274e */
/* line 248, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-circled-cross:before {
  content: '\2716';
}

/* 2716 */
/* line 249, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-warning:before {
  content: '\26a0';
}

/* 26a0 */
/* line 250, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cross:before {
  content: '\2715';
}

/* 2715 */
/* line 251, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-new:before {
  content: '\1f4a5';
}

/* 1f4a5 */
/* line 252, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-cycle:before {
  content: '\1f504';
}

/* 1f504 */
/* line 253, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-numbered-list:before {
  content: '\e005';
}

/* e005 */
/* line 254, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-right-1:before {
  content: '\27a1';
}

/* 27a1 */
/* line 255, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-left-1:before {
  content: '\2b05';
}

/* 2b05 */
/* line 256, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-up-1:before {
  content: '\2b06';
}

/* 2b06 */
/* line 257, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-down-1:before {
  content: '\2b07';
}

/* 2b07 */
/* social extention map */
/* line 260, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-github:before {
  content: '\f300';
}

/* f300 */
/* line 261, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-social-c-github:before {
  content: '\f301';
}

/* f301 */
/* line 262, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-flickr:before {
  content: '\f303';
}

/* f303 */
/* line 263, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-flickr:before {
  content: '\f304';
}

/* f304 */
/* line 264, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-vimeo:before {
  content: '\f306';
}

/* f306 */
/* line 265, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-vimeo:before {
  content: '\f307';
}

/* f307 */
/* line 266, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-twitter:before {
  content: '\f309';
}

/* f309 */
/* line 267, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-twitter:before {
  content: '\f30a';
}

/* f30a */
/* line 268, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-facebook:before {
  content: '\f30c';
}

/* f30c */
/* line 269, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-facebook:before {
  content: '\f30d';
}

/* f30d */
/* line 270, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-s-facebook:before {
  content: '\f30e';
}

/* f30e */
/* line 271, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-google-plus:before {
  content: '\f30f';
}

/* f30f */
/* line 272, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-google-plus:before {
  content: '\f310';
}

/* f310 */
/* line 273, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-pinterest:before {
  content: '\f312';
}

/* f312 */
/* line 274, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-pinterest:before {
  content: '\f313';
}

/* f313 */
/* line 275, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-tumblr:before {
  content: '\f315';
}

/* f315 */
/* line 276, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-tumblr:before {
  content: '\f316';
}

/* f316 */
/* line 277, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-linkedin:before {
  content: '\f318';
}

/* f318 */
/* line 278, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-linkedin:before {
  content: '\f319';
}

/* f319 */
/* line 279, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-dribbble:before {
  content: '\f31b';
}

/* f31b */
/* line 280, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-dribbble:before {
  content: '\f31c';
}

/* f31c */
/* line 281, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-stumbleupon:before {
  content: '\f31e';
}

/* f31e */
/* line 282, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-stumbleupon:before {
  content: '\f31f';
}

/* f31f */
/* line 283, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-lastfm:before {
  content: '\f321';
}

/* f321 */
/* line 284, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-lastfm:before {
  content: '\f322';
}

/* f322 */
/* line 285, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-rdio:before {
  content: '\f324';
}

/* f324 */
/* line 286, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-rdio:before {
  content: '\f325';
}

/* f325 */
/* line 287, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-spotify:before {
  content: '\f327';
}

/* f327 */
/* line 288, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-spotify:before {
  content: '\f328';
}

/* f328 */
/* line 289, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-qq:before {
  content: '\f32a';
}

/* f32a */
/* line 290, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-instagram:before {
  content: '\f32d';
}

/* f32d */
/* line 291, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-dropbox:before {
  content: '\f330';
}

/* f330 */
/* line 292, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-evernote:before {
  content: '\f333';
}

/* f333 */
/* line 293, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-flattr:before {
  content: '\f336';
}

/* f336 */
/* line 294, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-skype:before {
  content: '\f339';
}

/* f339 */
/* line 295, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-c-skype:before {
  content: '\f33a';
}

/* f33a */
/* line 296, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-renren:before {
  content: '\f33c';
}

/* f33c */
/* line 297, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-sina-weibo:before {
  content: '\f33f';
}

/* f33f */
/* line 298, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-paypal:before {
  content: '\f342';
}

/* f342 */
/* line 299, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-picasa:before {
  content: '\f345';
}

/* f345 */
/* line 300, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-soundcloud:before {
  content: '\f348';
}

/* f348 */
/* line 301, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-mixi:before {
  content: '\f34b';
}

/* f34b */
/* line 302, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-behance:before {
  content: '\f34e';
}

/* f34e */
/* line 303, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-google-circles:before {
  content: '\f351';
}

/* f351 */
/* line 304, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-vk:before {
  content: '\f354';
}

/* f354 */
/* line 305, /Users/iagorodriguezlopez/.rvm/gems/ruby-2.2.4/gems/entypo-rails-2.2.3/app/assets/stylesheets/entypo.css.scss.erb */
.entypo-social-smashing:before {
  content: '\f357';
}

/* f357 */
