/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@charset "UTF-8";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "entypo-fonts";
@import "entypo";
// icons.scss (or wherever)
i.cool {
    font-family: 'entypo'
}

i.cool:before {
    content: "\1F44D";
}

.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;
}