$body-bg: #f5f5f5;

$santander-red: #e52a31;
$santander-grey: #e4e2e2;

$navbar-height: 0px;
$navbar-inverse-color: #fff;
$navbar-inverse-border: #fff;

$navbar-default-border: #cdcdcd;
$panel-default-border: #cdcdcd;
$panel-default-heading-bg: #f9f9f9;

$border-radius-base: 0;
$border-radius-large: 0;

$sidebar-width: 230px;
$sidebar-top-height: 218px;
$border-white: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2";
@import "select2-bootstrap";

// Fonts
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  padding-top: $navbar-height;
  padding-bottom: $padding-large-vertical;
  margin-top: $sidebar-top-height + $padding-large-vertical;
  margin-left: $sidebar-width;

  font-family: 'Open Sans', sans-serif;

  &.session {
    margin: 0;
  }
}

.navbar {
  .navbar-header {
    .navbar-brand {
      background-color: $santander-red;
      color: white;
      padding-left: 2*$padding-large-horizontal;
      padding-right: 2*$padding-large-horizontal;
      padding-top: 0;
      padding-bottom: 0;

      img {
        height: 100%;
      }
    }
  }

  #profile-img {
    margin-left: 5px;
  }
}

.sidebar-top-wrapper {
  position: absolute;
  width: 100%;
  height: $sidebar-top-height;
  top: 0;
  left: 0;
  background-color: $body-bg;
  white-space: nowrap;
  z-index: 10;
}

.sidebar-top {
  width: 100%;
  height: $sidebar-top-height;
  border-top: $border-white 1px solid;
  border-bottom: $border-white 1px solid;
  position: relative;

  font-size: 0;

  display: table;

  .sidebar-user {
    width: $sidebar-width;
    height: 100%;
    display: table-cell;
    vertical-align: top;
    border-right: $border-white 1px solid;
    border-left: $border-white 1px solid;
    text-align: center;
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    background-color: $santander-grey;

    h3 {
      margin: 0;
    }

    .sidebar-role {
      display: block;
      font-size: $font-size-small;
      color: $santander-red;
      margin-bottom: $padding-large-vertical;
    }
  }

  .banner-image {
    background: asset-url("banner.png") no-repeat;
    background-size: cover;
    display: table-cell;
    width: auto;
    z-index: 10;
    height: 100%;
    text-align: center;
    overflow: hidden;

    font-size: $font-size-base;
  }
}

.sidebar {
  width: $sidebar-width - 1px;
  height: 100%;
  padding-top: $navbar-height;
  background-color: $navbar-default-bg;

  position: absolute;
  left: 0;
  top: $sidebar-top-height;
  z-index: 1;

  border-right: $navbar-default-border 1px solid;

  .sidebar-menu {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: $navbar-default-border 1px solid;
    position: relative;

    li {
      list-style: none;
      display: block;
      padding: 0;
      margin: 0;
      position: relative;

      border-top: $navbar-default-border 1px solid;

      a {
        display: block;
        background-color: transparent;
        border-top: $border-white 1px solid;
        border-right: $border-white 2px solid;

        padding-top: $padding-large-vertical;
        padding-bottom: $padding-large-vertical;
        padding-right: $padding-large-horizontal;
        padding-left: 3*$padding-large-horizontal;

        height: 2*$padding-large-vertical + $line-height-computed;
        vertical-align: middle;

        cursor: pointer !important;

        color: $navbar-default-link-color;

        i {
          position: absolute;
          display: inline-block;
          font-size: $font-size-h4;
          margin-top: 2px;

          margin-left: -2*$padding-large-horizontal;


        }

        &:hover {
          background-color: $navbar-default-link-active-bg;
        }
      }

      &.active a {
        background-color: $navbar-default-link-active-bg;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.panel {
  @include box-shadow(3px 3px 6px rgba(0,0,0,.05));

  .panel-heading {
    border-top: $border-white 2px solid;
    position: relative;

    .panel-btn {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 3px;
      margin-right: $padding-small-horizontal;
      padding: 4px 10px 4px 10px;
    }
  }

  .panel-title {
    color: $santander-red;
    font-size: $font-size-base;
    font-weight: 500;
  }

  .panel-body {
    font-size: $font-size-small;

    form {
      margin-left: 3*$padding-large-horizontal;
      margin-right: 3*$padding-large-horizontal;
    }
  }
}

.form-control {
  $shadow: 0px 2px 3px rgba(0,0,0,.05) !important;

  background-color: transparent !important;
  border-width: 0px 0px 3px 0px !important;

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.btn:hover {
  text-decoration: underline;
}

.btn-primary {
  @include button-variant($brand-primary, transparent, $brand-primary);
}

.btn-success {
  @include button-variant($brand-success, transparent, $brand-success);
}

.btn-danger {
  @include button-variant($brand-danger, transparent, $brand-danger);
}

.btn-info {
  @include button-variant($brand-info, transparent, $brand-info);
}

.btn-warning {
  @include button-variant($brand-warning, transparent, $brand-warning);
}

.dropdown-menu > li {
  font-size: $font-size-small;
}

.session-image {
  width: 100%;
  text-align: center;
  margin-bottom: $line-height-computed;

  img {
    width: 75%;
  }
}

.session-help {
  display: inline-block;
  margin-top: 10px;
  font-size: $font-size-small;
  color: $santander-red;

  &:after {
    @extend .fa;
    padding-left: 4px;
    content: "\f0d7"
  }
}

a.role-block {
  display: block;
  width: 100%;
  text-align: center;
  font-size: $font-size-h4;
  padding: 2*$padding-large-vertical;

  color: $navbar-default-link-color;
  text-decoration: none;

  i {
    display: block;
    margin-bottom: $padding-large-vertical;
  }

  &:active, &:hover {
    color: $navbar-default-link-color;
    background-color: $navbar-default-link-active-bg;
  }
}

h5 {
  font-weight: bold;
}

.controls {
  margin-bottom: $line-height-computed;
}

label[for="upload_file"] {
  display: block;
  text-align: center;
  background-color: $alert-success-bg;
  color: $alert-success-text;
  border: $alert-success-border 4px dashed;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: normal;

  &:hover {
    text-decoration: underline;
  }
}

#search_form {
  margin: 0px;
}

.input-group-btn .btn {
  $shadow: 0px 2px 3px rgba(0,0,0,.05) !important;

  border-width: 0px 0px 3px 0px !important;

  &.btn-sm {
    padding-left: $padding-small-horizontal;
    padding-right: $padding-small-horizontal;
    padding-bottom: $padding-small-vertical - 1px;
  }

  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.vacante_division_order {
    width: 100px;
    float: left;
    margin-right: 10px;
}
