/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./manager/libs
 *= require jquery-ui
 *= require_tree ./manager/libs/entypo
 */

@charset "UTF-8";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
 *= require ./manager/libs/neon-core
 *= require ./manager/libs/neon-forms
 *= require ./manager/libs/jquery.selectboxit
 *= require ./manager/libs/datatables.bootstrap

 */

@font-face {
    font-family: 'Myriad Pro';
    src: font-url('MyriadPro-Regular.otf');
    // src: url(/dashboard/assets/MyriadPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: font-url('GOTHIC.TTF');
    // src: url(/dashboard/assets/GOTHIC.ttf);
    font-weight: normal;
    font-style: normal;
}

#main-menu img,
#main-menu i {
    width: 25px;
    margin-right: 5px;
}

.img-header {
    background-image: image-url('economia.jpg');
    // background-image: url(/dashboard/assets/economia.jpg);
}

.title-global {
    font-size: 20px;
}

h1.title {
    text-transform: uppercase;
}

.chart {
    text-align: center;
}

.chart-container h4,
.kpi-container h4 {
    font-size: 16px;
    font-weight: bold;
    background: #f3f4f5;
    line-height: 40px;
    max-width: 100%;
    color: #4e4a4a;
    -webkit-box-shadow: inset -1px 2px 6px 3px rgba(214, 212, 213, 1);
    -moz-box-shadow: inset -1px 2px 6px 3px rgba(214, 212, 213, 1);
    box-shadow: inset 0px 0px 3px 1px rgba(224, 222, 223, 1);
    font-family: 'Myriad Pro';
}

.screen-buttons {
    overflow: hidden;
}

.component-spinner {
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: rgb(128, 128, 128);
    &.s-130 {
        margin-top: 110px;
        font-size: 4em;
    }
    &.s-190 {
        font-size: 7em;
    }
    &.s-200 {
        font-size: 7.5em;
    }
    &.s-350 {
        font-size: 9em;
    }
}

.quick-links li a {
    color: white;
    text-decoration: underline;
}

.quick-links li a:hover {
    text-decoration: none;
}

#dotacionesSelectBoxItContainer,
#monthSelectBoxItContainer {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    min-width: 150px;
    font-size: 10px;
    .selectboxit-text {
        font-size: 10px;
        max-width: 70% !important;
    }
    li a.selectboxit-option-anchor {
        font-size: 9px;
    }
}

.units {
    display: block;
    font-size: 10px;
    line-height: 12px;
    font-weight: normal;
    margin: 0px 5px;
    span {
        display: block;
    }
}

.dataTable .btn {
    margin-bottom: 3px;
}

// icons.scss (or wherever)
i.cool {
    font-family: 'entypo'
}

i.cool:before {
    content: "\1F44D";
}

.jqstooltip {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(43, 48, 58) transparent;
    background-color: rgba(43, 48, 58, 0.8);
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
    padding: 5px 5px 5px 5px;
    min-height: 22px;
    min-width: 30px;
    border-radius: 3px;
}

.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;
}

.errors {
    text-align: left;
    background-color: #F4BABA;
    margin: 0px;
    padding: 10px 25px;
    border-radius: 5px;
    color: #893c3c;
    margin: 10px 0px;
}

.login-page .validate-has-error>span.validate-has-error {
    display: none;
}

.general-actions {
    margin: 10px;
    overflow: hidden;
}

.checkbox-custom,
.radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom+.checkbox-custom-label:before,
.radio-custom+.radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #FBD600;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #FBD600;
    color: #fff;
}

.radio-custom+.radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.paginate_button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.full-width {
    width: 100%;
}

.qrcode-image img {
    margin: 20px auto;
}

path {
    cursor: pointer;
}

rect {
    cursor: pointer;
}

.unselectable {
    path {
        cursor: default;
    }
    rect {
        cursor: default;
    }
}

.donut-chart-group :not(._selected_) path {
    opacity: 0.3 !important;
}

.donut-chart-group :not(._selected_) text {
    opacity: 0.3 !important;
    color: red;
}

.santander-donutchart :not(._selected_).legend-item {
    fill-opacity: 0.3;
}

.santander-donutchart :not(._selected_).labels text {
    fill-opacity: 0.3;
}

.bar-chart-group :not(._selected_) rect.bar {
    opacity: 0.3 !important;
}

.bar-chart-group :not(._selected_) text {
    opacity: 0.3 !important;
}

.santander-gridbarchart .mini-bar-chart :not(._selected_) rect.bar {
    opacity: 0.3 !important;
}

.row-chart-group :not(._selected_) rect.row {
    opacity: 0.3 !important;
}

.row-chart-group :not(._selected_) text {
    opacity: 0.3 !important;
}

.santander-donutchart {
    text {
        font-size: 10px;
        fill: #232223;
    }
}

.santander-linechart {
    path {
        stroke-width: 2;
        fill: none;
    }
    .y.axis1 line {
        stroke: #ebebeb;
    }
    .y.axis2 line {
        stroke: #ebebeb;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
        fill: none;
    }
    .line {
        fill: none;
        stroke: blue;
        stroke-width: 2px;
    }
    .tick text {
        font-size: 10px;
        fill: #232223;
    }
    .tick line {
        opacity: 1;
    }
}

.santander-groupedbarchart {
    path {
        stroke-width: 2;
        fill: none;
    }
    // .x.axis path{
    //   stroke:grey;
    // }
    .axis2 line,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
        stroke: #ebebeb
    }
    .axis path {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
        fill: none;
    }
    .line {
        fill: none;
        stroke: blue;
        stroke-width: 2px;
    }
    .tick text {
        font-size: 12px;
        fill: #232223;
    }
    .tick line {
        opacity: 1;
    }
}

.santander-plantilla {
    path {
        stroke-width: 2;
        fill: none;
    }
    // .x.axis path{
    //   stroke:grey;
    // }
    .axis2 line,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
        stroke: #ebebeb
    }
    .axis path {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
        fill: none;
    }
    .line {
        fill: none;
        stroke: blue;
        stroke-width: 2px;
    }
    .tick text {
        font-size: 12px;
        fill: #232223;
    }
    .tick line {
        opacity: 1;
    }
}

.santander-barchart,
.santander-gridbarchart {
    path {
        stroke-width: 2;
        fill: none;
    }
    // .x.axis path{
    //   stroke:grey;
    // }
    .axis2 line,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
        stroke: #ebebeb
    }
    .axis path {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
        fill: none;
    }
    .line {
        fill: none;
        stroke: blue;
        stroke-width: 2px;
    }
    .tick text {
        font-size: 12px;
        fill: #232223;
    }
    .tick line {
        opacity: 1;
    }
}

#bar-division {
    .tick text {
        font-size: 0.75em;
    }
}

.santander-rowchart {
    path {
        stroke-width: 2;
        fill: none;
    }
    // .x.axis path{
    //   stroke:grey;
    // }
    .axis2 line,
    .axis line {
        fill: none;
        stroke-width: 1;
        shape-rendering: crispEdges;
        stroke: #ebebeb
    }
    x.axis path {
        stroke-width: 1;
        shape-rendering: crispEdges;
        stroke: #ebebeb;
        shape-rendering: crispEdges;
    }
    .axis path,
    .axis line {
        fill: none;
    }
    .line {
        fill: none;
        stroke: blue;
        stroke-width: 2px;
    }
    .tick text {
        font-size: 9px;
        fill: #232223;
    }
    .tick line {
        opacity: 1;
    }
}

.kpi-box {
    font-family: "Century Gothic", Gothic;
    padding: 0px;
    span#count-value {
        font-size: 30px;
    }
    .kpi-content {
        margin-top: 80px;
    }
    .kpi-content {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}

.d3-tip {
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    color: black;
    border-radius: 2px;
    pointer-events: none;
    z-index: 9999;
    // background: rgba(255, 255, 255, 0.8);
    // -webkit-box-shadow: 1px 0px 6px 2px rgba(50, 50, 50, 0.75);
    // -moz-box-shadow: 1px 0px 6px 2px rgba(50, 50, 50, 0.75);
    // box-shadow: 1px 0px 6px 2px rgba(50, 50, 50, 0.75);


    background: rgba(244, 244, 244, 0.85);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, rgba(244, 244, 244, 0.7), rgba(255, 255, 255, 0.85));
    background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.75), rgba(244, 244, 244, 0.85));
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.75), rgba(244, 244, 244, 0.85));
    // padding: 4px;
    // border-radius: 4px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 1px 20px rgba(210, 210, 210, 0.75);
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip table tr td {
    vertical-align: bottom;
}

.d3-tip table tr td:last-of-type {
    vertical-align: bottom;
    padding-left: 10px;
}


/* Northward tooltips */

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
    color: white;
}


/* Eastward tooltips */

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
    color: white;
}


/* Southward tooltips */

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
    color: white;
}


/* Westward tooltips */

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
    color: white;
}

#datepicker {
    margin: 5px auto;
    vertical-align: middle;
    width: 100px;
}

div.datepicker span.disabled {
    opacity: 0.3;
}

.input-group-btn {
    display: block;
}

#tabla {
    position: absolute;
    right: 50px;
    z-index: 9999;
}

.list-container{
    background: white;
    border: 1px solid rgba(237, 60, 27, 0.3);
    border-radius: 3px;
    padding: 12px 60px;
    font-size: large;
    margin: 12px 36px;
    // text-align: center;
    box-shadow: 1px 1px 15px rgba(188, 188, 188, 0.3);
    position: relative;

    .btn-selection{
        background: #ec0000 !important;
        border-color: #ec0000 !important;
        position: absolute;
        right: 60px;
        bottom: 12px;
    }
    a{
        cursor: pointer;
    }
    #datepicker{
        cursor: pointer;
    }
}

.dropdown{
    

    
}

// .tooltip {
//     margin: 5px;
//     border: solid 1px;
//     width: 18px;
//     border-radius: 50%;
// }