<%= render "form", f: f %>

<hr/>

<%= f.input :password, label: "Contraseña", hint: "No se cambiará si se deja en blanco.", input_html: {name: "usuario[password]"} %>

<%= f.input :password_confirmation, label: "Confirmar contraseña", input_html: {name: "usuario[password_confirmation]"} %>

<div class="text-center">
  <%= f.button :submit, "Editar usuario", class: "btn btn-primary", disabled: false %>
</div>
