<p>Complete todos los campos para continuar. Una invitación será enviada al correo del usuario, mediante la cual este podrá definir su contraseña y asignar al panel con el rol asignado.</p>

<%= simple_fields_for "usuario[metadata]" do |m| %>
  <%= m.input :nombres, as: :string, input_html: {autofocus: true, value: @user.metadata["nombres"]} %>
  <%= m.input :apellidos, as: :string, input_html: {value: @user.metadata["apellidos"]} %>
<% end %>
<%= f.input :rut, input_html: {name: "usuario[rut]"} %>
<%= f.input :email, input_html: {name: "usuario[email]"} %>
<%= f.input :view_gerentes, label: "Puede ver datos de gerentes",input_html: {name: "usuario[view_gerentes]"} %>

<%= f.input :rol, as: :select, collection: { "Divisional": 0, "Manager": 1, "Administrador": 2}, include_blank: false, input_html: {name: "usuario[rol]", id: "usuario_rol"} %>

<div id="usuario-accesos-group">
  <label for="usuario_accesos">Accesos del usuario</label>

  <p class="hint">Presionando la tecla tabulación en la última gerencia agrega un nuevo campo de acceso, al igual que presionando los botones en cada entrada. El usuario visitante solo podrá acceder a información de los accesos otorgados en esta sección.</p>

  <div id="usuario-accesos">
    <%= simple_fields_for "usuario[accesos]" do |m| %>
      <div class="row" id="usuario-accesos-base" style="display: none;">
        <div class="col-xs-10">
          <%= m.input "", label: false, as: :select, include_blank: false, input_html: {multiple: "multiple", placeholder: "División", class: "division", name: "usuario[accesos][][division]", id: "usuario_accesos_division_", data: {select: "division"}} %>
        </div>
        <!--<div class="col-xs-5">
          <%= m.input "", label: false, as: :select, include_blank: false, input_html: {multiple: "multiple", placeholder: "Gerencia", class: "gerencia", name: "usuario[accesos][][gerencia]", id: "usuario_accesos_gerencia_", data: {select: "gerencia"}} %>
        </div>-->
        <div class="col-xs-2 text-center">
          <button class="btn btn-sm btn-success" data-action="create-acceso">
            <%= fa_icon("plus") %>
          </button>&nbsp;&nbsp;
          <button class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="bottom" data-title="Eliminar este acceso" id="usuario-accesos-delete-1" data-action="delete-acceso" data-id="1">
            <%= fa_icon("times") %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
