<%= render "form", f: f %>
<%= f.input :password, label: "Contraseña", input_html: {name: "usuario[password]"} %>

<div class="text-center">
  <%= f.button :submit, "Crear usuario", class: "btn btn-primary", disabled: false %>
</div>
