<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Editar usuario: <%= @user.nombre_completo %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @user, url: admin_user_path(@user), method: :patch do |f| %>
      <%= render 'edit_form', f: f %>
    <% end %>
  </div>
</div>
