<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de usuarios <%= link_to "Nuevo usuario", new_admin_user_path, class: "btn btn-danger btn-sm panel-btn" %></h4>
  </div>
  <div class="panel-body"><table class="table table-bordered table-hover table-striped">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>RUT</th>
          <th>Rol</th>
          <th>Accesos</th>
          <th>Info.</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |usuario| %>
          <tr>
            <td><%= usuario.nombre_completo %></td>
            <td><%= usuario.email %></td>
            <td><%= usuario.rut %></td>
            <td><%= usuario.rol_to_s %></td>
            <td>
                <% usuario.accesos.each do |acceso| %>
                  <%= acceso.split(":").first %> <%= fa_icon("caret-right") %> <%= acceso.split(":").last %><br/>
                <% end %>
            </td>
            <td>
            </td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= admin_log_user_path usuario %>">Ver log</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="<%= edit_admin_user_path usuario %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_user_path(usuario), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
