<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de usuarios <%= link_to "Nuevo usuario", new_admin_user_path, class: "btn btn-danger btn-sm panel-btn" %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @user, url: admin_users_path, method: :post do |f| %>
      <%= render 'new_form', f: f %>
    <% end %>
  </div>
</div>
