<% provide(:upload_modal_type, "retribuciones") %>

<div class="form-group">
  <label for="empleado">Empleado</label>
  <input name="empleado" type="text" value="<%= @retribucion.empleado.nombre.split(" ").first.capitalize %> <%= @retribucion.empleado.apellidos.split(" ").first.capitalize %> (RUT: <%= @retribucion.empleado.rut %>)" class="form-control" readonly>
</div>

<%= f.hidden_field :rut, value:  @retribucion.empleado.rut%>


<%= f.input :tipo_movimiento %>
<%= f.input :anual %>
<%= f.input :resto_año %>
<%= f.input :porcentaje %>
<%= f.input :periodo %>
<%= f.input :periodo_anualizado %>

<hr/>

<div class="text-center">
  <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
</div>
