<% provide(:upload_modal_type, "retribuciones") %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Gestión de retribuciones</h4>
  </div>
  <div class="panel-body">
    <%= render "shared/backend/controls" %>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render "shared/backend/date_selector", resource: "retribuciones" %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>

    <table class="table table-bordered table-hover table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Empleado</th>
          <th>Datos</th>
          <th>Tipo</th>
          <th class="text-center">Periodo de Carga</th>
          <th class="text-center">Periodo</th>
          <th class="text-center"><%= fa_icon("cogs") %></th>
        </tr>
      </thead>
      <tbody>
        <% @retribuciones.each do |retribucion| %>
          <tr>
            <td class="text-center"><%= retribucion.id %></td>
            <td class="text-center">
              <%= link_to admin_empleado_path retribucion.empleado do %>
                <%= retribucion.empleado.nombre.split(" ").first.capitalize %> <%= retribucion.empleado.apellidos.split(" ").first.capitalize %>
              <% end %>
            </td>
            <td class="small">
              <strong>Anual:</strong> <%= retribucion.anual %><br/>
              <strong>Resto del Año:</strong> <%= retribucion.resto_año %><br/>
              <strong>Porcentaje:</strong> <%= retribucion.porcentaje %><br/>

            </td>
            <td class="text-center"><%= retribucion.tipo_movimiento %></td>
            <td class="text-center"><%= retribucion.periodo_anualizado %></td>
            <td class="text-center"><%= retribucion.periodo %></td>
            <td class="text-center">
              <div class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><%= fa_icon("caret-down") %></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="<%= edit_admin_retribucion_path retribucion %>">Editar</a></li>
                    <li><%= link_to "Eliminar", admin_retribucion_path(retribucion), method: :delete, data: {confirm: "Esta acción es irreversible. ¿Está seguro que desea continuar?"} %></li>
                  </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pull-right"> TOTAL: <%=  number_with_delimiter @retribuciones.count.to_s%></div>

    <div class="text-center">
      <%= will_paginate @empleados, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
