
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Santander Dashboard" />
  <meta name="author" content="" />

  <title>Santander Dashboard</title>

  <%= stylesheet_link_tag 'manager', media: 'all' %>
  <%= javascript_include_tag 'manager' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic"></link>


  <!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="page-body login-page login-form-fall loaded login-form-fall-init" data-url="http://neon.dev">
        <% if notice %>
          <%= render 'shared/notice' %>
        <% elsif alert %>
          <%= render 'shared/alert' %>
        <% end %>
    <%=yield%>

  </body>
</html>
